.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3
        How happy are you with
        = @enrollment.instance.course_name
      .card
        .card-content
          = simple_form_for [@enrollment, @evaluation] do |f|
            = f.select collection: (0..10).to_a
            = f.submit
