.nested-fields
  .row
    .col-xs-10
      .input-group.clockpicker
        = f.text_field :start_time,  class: 'form-control', value: f.object.start_time ? f.object.start_time.in_time_zone.strftime('%I:%M%p') : "09:30AM"
        %span.input-group-addon
          %span.glyphicon.glyphicon-time
      to
      .input-group.clockpicker
        = f.text_field :end_time, class: 'form-control',  value: f.object.end_time ? f.object.end_time.in_time_zone.strftime('%I:%M%p') : "05:00PM"
        %span.input-group-addon
          %span.glyphicon.glyphicon-time
      = f.hidden_field :day, value: day
    .col-xs-2
      = link_to_remove_association "remove", f
