.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      .row
        .col-xs-12
          = simple_form_for current_user, url: slots_path, validate: true, html: { method: :patch, multipart: true, class: 'form-inline' } do |f|
            .card
              .content
                .row
                  .col-lg-12
                    - if current_user.student?
                      %h4
                        Modify your general availability to attend class
                        = "(in #{Time.current.zone})"
                      %p These will be the times your are available for us to schedule classes with you. Please be as broad as possible to ensure you are able to attend.
                    - else
                      %h4
                        Modify your general availability to teach courses
                        = "(in #{Time.current.zone})"
                      %p These will be the times your are available for us to schedule classes with you. Feel free to set any time you wish.
                    = render 'shared/error_messages', object: f.object
                    - Slot.days.each do |day, id|
                      %h4=day.titlecase
                      - if current_user.slots.any?
                        - slots = current_user.slots.where(day: day)
                        #slots.slots
                          = f.simple_fields_for :slots, slots do |slot|
                            = render 'slot_fields', f: slot, day: day
                          .links
                            = link_to_add_association 'add slot', f, :slots, render_options: { locals: { day: day }},class: 'btn btn-default btn-fill'
                      - else
                        #slots.slots
                          = f.simple_fields_for :slots, slots do |slot|
                            = render 'slot_fields', f: slot, day: day
                          .links
                            = link_to_add_association 'add slot', f, :slots, render_options: { locals: { day: day }},class: 'btn btn-default btn-fill'
            .row
              .col-xs-12.m-b-50
                = f.submit "Update", class: 'btn btn-primary btn-fill btn-block'
