.container.dashboard
  .card.m-t-50
    .content
      .row
        .col-md-6
          %h4 Active Professors And Students
          #active-professors-and-students
        .col-md-6
          %h4 Outstanding Applications
          #outstanding-applications
      .row
        .col-md-6
          %h4 Enrollable courses
          #enrollable-courses
        .col-md-6
          %h4 Active Courses
          #active-courses
= render partial: 'dashboard/active_professors_and_students', locals: { degrees: degrees }
= render partial: 'dashboard/outstanding_applications', locals: { degrees: degrees }
= render partial: 'dashboard/enrollable_courses', locals: { degrees: degrees }
= render partial: 'dashboard/active_courses', locals: { degrees: degrees }
