:javascript
  $(function () {
      Highcharts.chart('active-courses', {
          chart: {
              type: 'area',
              spacingBottom: 30
          },
          title: {
              text: ''
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              x: 150,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
          },
          xAxis: {
              categories: #{Degree.all.pluck(:name)}
          },
          yAxis: {
              title: {
                  text: 'Count'
              },
              labels: {
                  formatter: function () {
                      return this.value;
                  }
              }
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.series.name + '</b><br/>' +
                      this.x + ': ' + this.y;
              }
          },
          plotOptions: {
              area: {
                  fillOpacity: 0.5
              }
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Courses',
              data: #{degrees.map { |d| d.enrolled_users.professor.map { |u| u.instances.length}.flatten.sum}}
          }, {
              name: 'Approved Students',
              data: #{degrees.map { |d| d.enrolled_users.student.approved.length}}
          }]
      });
  });
