:javascript
  $(function () {
      Highcharts.chart('outstanding-applications', {
          chart: {
              type: 'area',
              spacingBottom: 30
          },
          title: {
              text: ''
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              x: 150,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
          },
          xAxis: {
              categories: #{Degree.all.pluck(:name)}
          },
          yAxis: {
              title: {
                  text: 'Count'
              },
              labels: {
                  formatter: function () {
                      return this.value;
                  }
              }
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.series.name + '</b><br/>' +
                      this.x + ': ' + this.y;
              }
          },
          plotOptions: {
              area: {
                  fillOpacity: 0.5
              }
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Pending Professors',
              data: #{degrees.all.map { |d| d.enrolled_users.professor.pending.length}}
          }, {
              name: 'Pending Students',
              data: #{degrees.map { |d| d.enrolled_users.student.pending.length}}
          },
          {
              name: 'Interviewing Professors',
              data: #{degrees.map { |d| d.enrolled_users.professor.interview.length}}
          },
          {
              name: 'Interviewing Students',
              data: #{Degree.includes(:enrolled_users).all.map { |d| d.enrolled_users.student.interview.length}}
          }]
      });
  });
