.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-6.col-xs-12.m-b-50
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      - if current_user.student?
        = render 'enrollments/enrollments'
        = render 'reservations/reservations'
      - elsif current_user.professor?
        = render 'instances/instances'
        = render 'availabilities/availabilities'
      %h3 Recent Activity
      = render partial: 'activities/activities', locals: { activities: @activities, degrees: @degrees }
