.media
  = render 'users/avatar', user: message.sender
  .media-body
    %h5.media-heading= message.sender.name
    .pull-right
      %h6.text-muted= message.created_at.strftime("%b %-d, %H:%M %p")
    %p= message.body
