.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .media.media-post
        = form_tag messages_path, method: :post do
          = render 'users/avatar', user: current_user
          .media-body
            .row
              .col-md-6
                .form-group
                  = text_field_tag 'message[subject]', nil, class: 'form-control border-input', required: true, placeholder: 'Subject'
              .col-md-6
                .form-group
                  = select_tag 'recipients', recipients_options, class: 'selectpicker'
            = text_area_tag 'message[body]', nil, rows: 6, class: 'form-control border-input', required: true, placholder: 'Message'
            .media-footer
              = submit_tag 'Send', class: 'btn btn-info btn-fill pull-right'
