%tr
  %td.text-center= instance.id
  %td.link-info= link_to instance.course_name, instance
  %td= instance.user.name
  %td= instance.enrollments.length
  %td.text-right= link_to 'access', instance, class: 'btn btn-primary btn-sm'
