.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h4 Your course has been launched!
      %p Time to get moving!
      .row
        .col-lg-12
          .card
            .content
              %h4.title Your first class
              %p.description
                We presume that you know how to teach a class, so we won't belabor the point. You should set the expections that students are required to attend each of the class hangouts. You should also create any assignments that will be required of your students. They will be informed via email that you have added an assignment and what the due date of the assignment may be. When they create a submission for the assignment you will recieve a notification as well.
                %br
                .text-center
                  = link_to 'Access your course', instance_path(@instance)
:javascript
  ga("ecommerce:addTransaction", {
    'id': "#{@instance.id}",
    'affiliation': "#{@instance.course_name}",
    'revenue': "#{@instance.charges.sum(:amount).to_f / 100 }"
  });
- @instance.charges.each do |charge|
  :javascript
    ga('ecommerce:addItem', {
      'id': "#{charge.id}",
      'name': "#{charge.instance.course_name}",
      'sku': "#{@instance.id}",
      'category': "#{@instance.course.degree_name}",
      'price': "#{charge.amount}",
      'quantity': "1",
    });
:javascript
  ga("ecommerce:send");
