.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      .row
        .col-xs-12
          .nav-tabs-navigation
            .nav-tabs-wrapper
              %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
                %li.active
                  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#info"} Course info
                %li
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#messages"} Messages
                %li
                  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#assignments"} Assignments
                %li
                  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#schedule"} Schedule
                %li
                  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#students"} Students
          #my-tab-content.tab-content.text-center
            #info.tab-pane.active
              .card.p-20
                %h3
                  = @instance.course_name
                %h4
                  = @instance.user.name
                %p
                  - if can?(:edit, @instance)
                    = best_in_place @instance, :description, as: :input, inner_class: 'form-control border-input', place_holder: "Click to add a description!"
                  - else
                    = @instance.description
                %p
                  = link_to 'Syllabus', @instance.syllabus.url, class: 'btn btn-sm btn-success'
                  - if can?(:edit, @instance)
                    = simple_form_for @instance do |f|
                      = f.file_field :syllabus, class: 'form-control'
                      = f.submit "Change", class: "btn btn-sm btn-primary"
            #messages.tab-pane
              %ul.p-l-0
                = render @posts
              .text-center
                = paginate(@posts, theme: 'twitter-bootstrap-3')
              = render partial: 'posts/new', locals: { instance: @instance}
            #assignments.tab-pane
              .card
                - if @instance.assignments.any?
                  #acordeon
                    #accordion.panel-group
                      = render @instance.assignments
                - else
                  .empty-card
                    %h5.p-t-20 No Assignments yet
              - if can?(:edit, @instance)
                = link_to "Add Assignment", new_instance_assignment_path(@instance), class: 'btn btn-primary btn-fill'
            #schedule.tab-pane
              .card
                .table-responsive
                  %table.table
                    %thead
                      %tr
                        %th.text-center #
                        %th Time
                        %th.text-right Hangout Link
                        - if @instance.user == current_user
                          %th
                    %tbody
                      - @instance.schedule.meetings.remaining.each do |meeting|
                        %tr
                          %td= meeting.id
                          %td.text-left= meeting.occurrence.strftime("%A, %d %b %Y %l:%M %p #{Time.current.zone}")
                          %td.text-right
                            = link_to 'Hangout', meeting.hangout_link, class: 'btn btn-primary btn-sm link-primary'
                            - if @instance.user == current_user
                              = link_to "Edit", edit_instance_meeting_path(@instance, meeting), class: 'btn btn-warning btn-sm'
            #students.tab-pane
              .card
                .table-responsive
                  %table.table
                    %thead
                      %tr
                        %th.text-center #
                        %th Name
                        - if current_user == @instance.user
                          %th Final Grade
                    %tbody
                      - @instance.enrollments.each do |enrollment|
                        %tr
                          %td= enrollment.user.id
                          %td.text-left= link_to enrollment.user.name, enrollment.user, class: 'link-info'
                          - if can?(:edit, @instance)
                            %td= best_in_place enrollment, :grade, as: :input, :place_holder => "eg. 98"
