.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .card
        .content
          %h3 Edit meeting time
          %p Select a new time. Students will automatically be notified of change.
          = simple_form_for [@instance, @meeting], validate: true do |f|
            = f.input :occurrence
            = f.submit "Change", class: 'btn btn-fill btn-success'
