.panel.panel-border.panel-default
  %a.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse-assignment-#{assignment.id}"}
    .panel-heading
      %h4.panel-title
        = assignment.name
        %i.ti-angle-down
  .panel-collapse.collapse{"aria-expanded" => "false", :style => "height: 0px;", id: "collapse-assignment-#{assignment.id}"}
    .panel-body
      = assignment.body.html_safe
      - if can? :edit, assignment
        .text-center
          = link_to "Submissions", instance_assignment_submissions_path(assignment.instance, assignment), class: 'btn btn-info btn-fill'
          = link_to "Edit", edit_instance_assignment_path(assignment.instance, assignment), class: 'btn btn-success btn-fill'
          = link_to "Delete", instance_assignment_path(assignment.instance, assignment), method: :delete, data: { confirm: "Are you sure you want to delete this assignment?"}, class: 'btn btn-danger btn-fill'
      - else
        .text-center
          %td= link_to 'Submit Work', new_instance_assignment_submission_path(assignment.instance, assignment), class: 'btn btn-info btn-fill m-t-20'
