.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3
        Edit Assignment:
        = @assignment.name
      = simple_form_for [@instance, @assignment] do |f|
        = f.input :title
        = f.input :body, as: :wysihtml5
        = f.submit
