.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .card
        .content
          %h3
            Add an assignment for
            = @instance.course_name
          = simple_form_for [@instance, @assignment] do |f|
            = f.hidden_field :instance_id, value: @instance.id
            = f.input :name, input_html: { class: 'border-input'}
            = f.input :body, input_html: { class: 'border-input wysihtml5' }
            = f.submit "Create", class: 'btn btn-success btn-fill'
