.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3= @assignment.name
      .table-responsive
        %table.table
          %thead
            %tr
              %th Student
              %th Submission Date
              %th File
              %th Grade
          %tbody
            = render @assignment.submissions
