.col-md-6.col-md-offset-1.col-sm-7.col-xs-12
  .info.info-horizontal
    .icon
      %i.ti-blackboard
    .description
      %h3 Skip the commute
      %p No running between home and work or between campus to campus to teach.
  .info.info-horizontal
    .icon
      %i.ti-world
    .description
      %h3 Teach while you reseach and travel the world
      %p Maintain you research activities while attending courses from the web, ios or android.
  .info.info-horizontal
    .icon
      %i.ti-pie-chart
    .description
      %h3 Course and enrollment tracking
      %p Track and monitor grades, assignments and enrollments like any other learning management system
  .info.info-horizontal
    .icon
      %i.ti-write
    .description
      %h3 Develop new curriculum
      %p Want to teach a new course? Propose it, and we'll add it to the department offerings.
.col-md-4.col-sm-5.col-xs-12
  .demo-card
    %h3.title.text-center Apply to teach
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: {multipart: true}) do |f|
      = f.hidden_field :prof, value: true
      = f.input :full_name, required: true, label: false, input_html: { placeholder: "Full name", class: 'border-input'}, validate: { presence: true }
      = f.input :email, required: true, input_html: { placeholder: 'Email', class: 'border-input', value: ( resource.email.present? ? resource.email : params[:email] )}, label: false
      = f.select :taught_degree_id, options_from_collection_for_select(Degree.all, "id", "name", (params[:degree_id] ? params[:degree_id] : nil)), { required: true, prompt: "Choose a department"}, class: 'selectpicker'
      = f.input :password, required: true, input_html: { placeholder: 'Password', class: 'border-input'}, label: false
      %h4 Background
      = f.select :level, User.levels.map { |key, value| [key.humanize, key] }, { required: true, prompt: "Last Degree"}, class: 'selectpicker'
      = f.input :last_degree_major, required: true, label: false, input_html: { placeholder: "Last Degree Field (eg. Anthropology)", class: 'border-input'}
      = f.input :last_degree_name, required: true, label: false, input_html: { placeholder: "Last Degree School", class: 'border-input'}
      = f.input :vita, required: true, validate: { presence: true }
      = f.button :submit, "Apply", class: 'btn btn-fill btn-block'
