.col-md-6.col-md-offset-1.col-sm-7.hidden-xs
  .info.info-horizontal
    .icon
      %i.ti-harddrives
    .description
      %h3 Learn on the web, iOS or Android
      %p Attend courses via the web, or on your mobile device from anywhere in the world. No campus attendance is required.
  .info.info-horizontal
    .icon
      %i.ti-hand-open
    .description
      %h3 Small Class Sizes
      %p Our classes are capped at 25, with an average of 15 students in a single course. You'll always receive personal attention from our professors.
  .info.info-horizontal
    .icon
      %i.ti-time
    .description
      %h3 Short, 10 week long courses
      %p Complete your degree in record time, without the red tape. Complete your degree requirements in as little as 80 weeks.
.col-md-4.col-sm-5.col-xs-12
  .demo-card
    %h3.title.text-center Start your degree
    = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-fill btn-facebook' do
      %i.fa.fa-facebook
      Apply with Facebook
    .text-center.m-t-20.m-b-20
      or
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: {multipart: true}) do |f|
      = f.input :full_name, required: true, label: false, input_html: { placeholder: "Full name", class: 'border-input'}, validate: { presence: true }
      = f.input :email, required: true, input_html: { placeholder: 'Email', class: 'border-input', value: ( resource.email.present? ? resource.email : params[:email] )}, label: false
      = f.select :taught_degree_id, options_from_collection_for_select(Degree.all, "id", "name", (params[:degree_id] ? params[:degree_id] : nil)), { required: true, prompt: "Select a degree"}, class: 'selectpicker'
      = f.input :previous_transcript, required: true, validate: { presence: true }
      = f.input :password, required: true, input_html: { placeholder: 'Password', class: 'border-input'}, label: false
      = f.button :submit, "Apply", class: 'btn btn-fill btn-block'
