.wrapper.settings
  .profile-background.settings-background{:style => "background-image: url(#{image_path('red.jpg')});"}
    .filter-black
  .profile-content.section-nude
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { method: :put, class: 'settings-form', multipart: true }) do |f|
      .container
        .row.owner
          .col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.text-center
            .fileinput.fileinput-new.text-center{"data-provides" => "fileinput"}
              .fileinput-new.thumbnail.img-circle.img-no-padding{:style => "width: 150px; height: 150px;"}
                = image_tag resource.photo.present? ? resource.photo.url(:medium) : 'defaults/photos_default.jpg'
              .fileinput-preview.fileinput-exists.thumbnail.img-circle.img-no-padding{:style => "max-width: 150px; max-height: 150px;"}
              %div
                %span.btn.btn-default.btn-file
                  %span.fileinput-new Change Photo
                  %span.fileinput-exists Change
                  %input{type: "hidden"}
                  = f.file_field :photo
                %br
                %a.btn.btn-simple.btn-danger.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"}
                  %i.fa.fa-times
                  Remove
        .row
          .col-md-6.col-md-offset-3
            = render 'layouts/notifications'
            = render 'shared/error_messages', object: f.object
            .row
              .col-md-2.col-sm-2
                = f.input :prefix, input_html: { class: 'border-input', placeholder: 'Dr, Mr'}
            .row
              .col-md-4.col-sm-4
                = f.input :first_name, required: true, input_html: { class: 'border-input', placeholder: 'First name'}
              .col-md-2.col-sm-2
                = f.input :middle_name, input_html: { class: 'border-input', placeholder: 'Middle'}, label: "Middle"
              .col-md-4.col-sm-4
                = f.input :last_name, required: true, input_html: { class: 'border-input', placeholder: 'Last name'}
              .col-md-2.col-sm-2
                = f.input :suffix, input_html: { class: 'border-input', placeholder: 'MA, PHD'}
            .row
              .col-sm-8
                = f.input :street_address, required: true, validate: { presence: true }, input_html: { class: 'border-input' }
              .col-sm-4
                = f.input :city, required: true, input_html: { class: 'border-input'}
            .row
              .col-sm-4
                = f.input :region, required: true, input_html: { class: 'border-input'}
              .col-sm-4
                = f.input :postcode, required: true, input_html: { class: 'border-input'}
              .col-sm-4
                = f.input :country, required: true, input_html: { class: 'border-input'}
            %h4 Eduaction History
            .row
              = f.simple_fields_for :schools do |s|
                .col-sm-6
                  = s.input :name, input_html: { class: 'border-input'}
                .col-sm-6
                  = s.input :degree, input_html: { class: 'border-input' }
            %h4 Work History
            .row
              = f.simple_fields_for :works do |w|
                .col-sm-6
                  = w.input :name, input_html: { class: 'border-input'}
                .col-sm-6
                  = w.input :position, input_html: { class: 'border-input' }
            %h4 Notification Settings
            %ul.notifications
              %li.notification-item
                .row
                  .col-xs-9
                    Updates regarding course activities
                  .col-xs-3
                    = f.check_box :activity_notifications, checked: resource.activity_notifications, "data-toggle" => "switch", class: "ct-info"
              %li.notification-item
                .row
                  .col-xs-9
                    Updates regarding direct messages
                  .col-xs-3
                    = f.check_box :messages_notifications, checked: resource.messages_notifications, "data-toggle" => "switch", class: "ct-info"
              %li.notification-item
                .row
                  .col-xs-9
                    Weekly newsletter
                  .col-xs-3
                    = f.check_box :newsletter_notifications, checked: resource.newsletter_notifications, "data-toggle" => "switch", class: "ct-info"
            %h4 Login Information
            .row
              .col-md-4.col-sm-4
                = f.input :email, input_html: { class: 'border-input'}
              .col-md-4.col-sm-4
                = f.input :password, input_html: { class: 'border-input'}
              .col-md-4.col-sm-4
                = f.input :password_confirmation, input_html: { class: 'border-input'}, label: "Confirm Password"
            .row
              .col-xs-12
                %small leave password blank if you don't want to change it
            - if resource.can_interview
              %h4
              .row
                .col-md-12.col-sm-12
                  = f.input :calendly_link, input_html: { class: "border-input"}, label: "Your calendly link url"
            - if resource.verification_required
              %h4 Transfer information
              .row
                .col-md-6.col-sm-6
                  = f.input :personal_id_number, input_html: { class: 'border-input'}, label: 'Personal ID Number (SSN)'
                .col-md-6.col-sm-6
                  = f.input :dob, input_html: { class: 'border-input datepicker'}, as: :string
            %h4 Your Cards
            .row
              .col-sm-12
                %table.table
                  - if resource.cards.active.any?
                    %thead
                      %td
                        Last 4
                      %td
                        Expiration
                      %td
                        Default
                    %tbody
                      - resource.cards.active.each do |card|
                        = render 'cards/card', card: card
                  - else
                    %tr
                      %td No Cards
                = link_to 'Add Card', new_card_path, class: 'btn btn-round btn-g'
            %h4 Two-Factor Authentication
            .row
              .col-sm-12
                - if resource.authy_enabled
                  %h5 Two factor is currently enabled
                  %p
                    = link_to 'Disable two factor', user_disable_authy_path, method: :post, class: 'btn btn-round btn-g'
                - else
                  %h5 Two factor is not enabled
                  %p
                    = link_to 'Enable two factor', user_enable_authy_path, class: 'btn btn-round btn-info'

            .row
              .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.m-t-50.m-b-50
                = f.submit "Save", class: "btn btn-block btn-info"
