.wrapper
  .background{:style => "background-image: url(#{image_url('blue.jpg')});"}
    .filter-black
    .container
      .row
        - if session[:prof] == 'prof'
          = render 'devise/registrations/professor'
        - else
          = render 'devise/registrations/student'
    .demo-footer.text-center
      %h6
        &copy; 2018, College of Brasden
- if Rails.env.production?
  :javascript
    fbq('track', 'Lead');
