= @user.name


Congratulations! It is with immense pleasure that I inform you of your acceptance
- if @user.enrollments.any?
  in
  = @user.enrollments.first.degree.name
at The Brasden College. This opportunity comes in recognition of your academic and personal achievements and I am positive that you would be a valued member of our institute.

In anticipation of the questions that you may have, I have enclosed a student starter package, which will familiarize you with the institude and how the online platform is to be used. Also included is a list of faculty members who will be leading the courses in your major, along with the program requirements to complete and recieve your Bachelor's Degree. If you feel that you need further information than you provided with in the student starter pack, please feel free to reply to this email and we will do all that they can to make this transition easy for you.

On behalf of the faculty and staff of The Brasden Institude, we wish you a successful and enjoyable future.

Sincerely,

The Provost
The Brasden College

= new_user_session_url
