%p= @user.name

%p
  Congratulations! It is with immense pleasure that I inform you of your acceptance
  - if @user.enrollments.any?
    in
    = @user.enrollments.first.degree.name
  at The Brasden College. This opportunity comes in recognition of your academic and personal achievements and I am positive that you would be a valued member of our institute.

%p In anticipation of the questions that you may have, I have enclosed a student starter package, which will familiarize you with the institute and how the online platform is to be used. Also included is a list of faculty members who will be leading the courses in your major, along with the program requirements to complete and recieve your Bachelor's Degree. If you feel that you need further information than you provided with in the student starter pack, please feel free to reply to this email and we will do all that they can to make this transition easy for you.

%p On behalf of the faculty and staff of The Brasden Institude, we wish you a successful and enjoyable future.
%br
%p Sincerely,

%p
  The Provost
  %b
  The Brasden College
- content_for :cta_section do
  %tr
    %td
      / BULLETPROOF BUTTON
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => new_user_session_url, :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}= "Get Started →"
