= @user.name

Congratulations! You proposal to teach the course
= @course.name
at The Brasden College has been approved.

Please log in below and create a course instance with your availability.

On behalf of the faculty and staff of The Brasden College, we wish you a successful and enjoyable course.
Sincerely,


The Provost
The Brasden College

= new_user_session_url
