%p
  Dear
  = "#{@user.name},"

%p
  This is in regard to your proposal to teach
  = @course.name
  at The Brasden College.
  We regret that we cannot offer you permission to teach this course at this time.

%p We carefully weighed how this course fits into the curriculum and have determined that we are unable to add this course to our offerings.

%p If you would like to appeal this decision you may do so by replying to this email with any questions or comments you deem appropriate.

%p
  Yours truly,

%p
  The Provost
  %br
  The Brasden College
