%p= "Dear #{@user.name},"

%p
  The grades for
  = @enrollment.instance.course_name
  have been submitted. Please log in below to review the grades for the course.

%p
  Yours truly,
%p
  The Provost
  %br
  The Brasden College
- content_for :cta_section do
  %tr
    %td
      / BULLETPROOF BUTTON
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => new_user_session_url, :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}= "View Grades →"
