= "Dear #{@user.name},"

The grades for
= @enrollment.instance.course_name
have been submitted. Please log in below to review the grades for the course.

Yours truly,

The Provost
The Brasden College

= new_user_session_url
