%p= @user.name

%p
  Thanks for teaching at The Brasden College. We'd think you're an invaluable member of The Brasden staff and would like to offer you the opportunity to review applications for you department.
%p
  Here's a few things to know about our process
  %ol
    %li Interviews take place over google hangouts.
    %li Interviews last only 30 minutes
    %li You should go over the student's educational background
    %li You should talk about the student's educational goals
    %li You should assess the student's English and Language skills
%p
  If you'd like to become an application reviewer, please complete the following steps:
  %ol
    %li Go to calendly.com and sign up for an account
    %li Copy your calendly.com link
    %li Enter the link in the calendly field on your Brasden Profile via the link below.
    %li Student's approved for an interview will schedula 30 min interview at the times you make available.

%p Thanks again for being a valued member of The Brasden College.
%br
%p Sincerely,

%p
  The Provost
  %br
  The Brasden College
- content_for :cta_section do
  %tr
    %td
      / BULLETPROOF BUTTON
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => edit_user_registration_url, :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}= "Add Calendly Link →"
