= @user.name

Thanks for teaching at The Brasden College. We'd think you're an invaluable member of The Brasden staff and would like to offer you the opportunity to review applications for you department.

Here's a few things to know about our process

Interviews take place over google hangouts.
Interviews last only 30 minutes
You should go over the student's educational background
You should talk about the student's educational goals
You should assess the student's English and Language skills

For each interview that you conduct you'll receive $10 and have the opportunity to shape the quality of student in your department.

If you'd like to become an application reviewer, please complete the following steps:textile


Go to calendly.com and sign up for an account
Copy your calendly.com link
Enter the link in the calendly field on your Brasden Profile via the link below.
Student's approved for an interview will schedula 30 min interview at the times you make available.

Thanks again for being a valued member of The Brasden College.

Sincerely,

The Provost

The Brasden College

= edit_user_registration_url
