%p= @user.name

%p
  Thanks for applying to The Brasden College. We'd like to invite you to interview with us!
%p
  Here's a few things to know about our process
  %ol
    %li Our interview takes place over google hangouts.
    %li Our interview lasts only 15 minutes
    %li We'll go over your educational background
    - if @user.student?
      %li We'll talk about your educational goals
    - if @user.professor?
      %li We'll talk about your professional goals
      %li We'll talk about your teaching experience
%p
  You can schedule a time for your interview with the link below.
%br
%p Sincerely,

%p
  The Provost
  %br
  The Brasden College
- content_for :cta_section do
  %tr
    %td
      / BULLETPROOF BUTTON
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => new_user_appointment_url(@interviewer, attendee: @user.id), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}= "Schedule a Time →"
