Dear
= "#{@user.name},"

This is in regard to your petition for the degree
= @petition.degree_name
at The Brasden College. We regret that we cannot offer you the degree at this time. You have not yet fulfilled the degree requirements.

Yours truly,

The Provost
The Brasden College
