%p
  = @interviewable.name
  has been notified to schedule an interview with you. Prior to the interview please review their transcript. You can accept or reject the candidate from the links in this email after the interview.
%p
  - if @interviewable.student?
    %ul
      %li
        %b Full name:
        = @interviewable.name
      %li
        %b Email:
        = @interviewable.email
      %li
        %b Degree:
        = @interviewable.taught_degree.try(:name)
  - else
    %ul
      %li
        %b Full name:
        = @interviewable.name
      %li
        %b Email:
        = @interviewable.email
      %li
        %b Degree:
        = @interviewable.taught_degree.try(:name)
      %li
        %b Last Degree Level
        = @interviewable.level.to_s
      %li
        %b Last Degree Major
        = @interviewable.last_degree_major
      %li
        %b Last Degree School
        = @interviewable.last_degree_name
%p
  = @interviewable.student? ? "Their previous transript is attached" : "Their CV is attached"

%br
- content_for :cta_section do
  %tr
    %td
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => approve_user_url(@interviewable), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"} Approve
  %br
  %tr
    %td
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => reject_user_url(@interviewable), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"} Reject
