= @user.name

Your course
= @availability.course_name
has
= @availability.reservations.length
of 24 seats reserved. You can set the schedule and start your course using the link below.

= availability_url(@availability)
