%p= "Dear #{@user.name}"

%p
  I am pleased to extend a formal offer to you for the position of Professor in the (Department, Division, School, Program) at The Brasden College. The appointment is a contract position with compensation depending on course enrollment. The effective date of this appointment will be
  = "#{Time.zone.today.to_s(:long)}."

%p
  As I'm sure you've had time to read the about uniquness of the College, it should not come as a surprise that our institution offers an immense amount of freedom in teaching and research activities. As such, compensation for the position does not include any benefits traditionally associated with University Faculty positions. Our College does not operate on any semester or quarter system. You are free to start a course and accept enrolled students at any time of the year; however, each of our courses last 10 weeks with a minimum of 20 hours class time for the course. As stated on our website, faculty earn $200.00 per enrolled student per course less College fees, paid weekly each Friday in US dollars directly to your bank account. Faculty are free to enroll up to 25 students per course without any limits on the number of courses taught at a given time. To give an example: A typical teaching load for a professor could include 4 courses at a given time with 20 students enrolled in each class. Each Friday, he/she would earn $1,360.00 ($70,720.00 annual).
%p
  Part of your responsibilities as a professor are to interview prospective students within your department. As you will ultimately be responsible for teaching your cohort, it is your department's shared responsibility to ensure that applying students meet the caliber of student you are willing to teach. During the onboarding process you will be asked to provide your availabilities for teaching and interviewing students. Please be as detailed as possible, as students who you select to interview will be able to schedule appointments with you during these times when you're not teaching. Here's a few things to know:
%p
  %ol
    %li Interviews take place over google hangouts.
    %li Interviews last only 15 minutes
    %li You should go over the student's educational background
    %li You should talk about the student's educational goals
    %li You should assess the student's English and Language skills
%p
  You will receieve an email notification when your department receives a new application, with links to interview, accept or reject the candidate. If you click the email button, both you and the student will receive an email that includes the google hangout video chat link when the student has schedules an appointment with you.

%p
  If you agree to accept this offer and its conditions, please click on the link below to get started. If you have any questions, please reply to this email with your comments, questions and concerns.

%p Welcome to The Brasden College!

%p
  The Provost
  %br
  The Brasden College
- content_for :cta_section do
  %tr
    %td
      / BULLETPROOF BUTTON
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => new_user_session_url, :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"}= "Get Started →"
