%p= "Dear #{@user.name}"

%p
  Thank you for giving our review board the opportunity to examine your application for the
  = @user.taught_degree_name
  position. The review board has completed the review of your application and has decided not to move forward with your admission into The Brasden College as a Faculty Member. Although you were not selected, we are honored that an individual like yourself would choose to apply to teach at our institution.

%p We received many excellent applications, including yours, and the Board's review was not an easy one. I thank you for your application and extend my best wishes for your future career.

%p
  The Provost
  %br
  The Brasden College
