= @user.name

Thanks for applying to The Brasden College. We'd like to invite you to interview with us! Here's a few things to know about our process
1) Our interview takes place over google hangouts.
2) Our interview lasts only 30 minutes.
3) We'll go over your educational background

- if @user.student?
  4) We'll talk about your educational goals
- if @user.professor?
  4) We'll talk about your professional goals
  5) We'll talk about your teaching experience

You can schedule a time for your interview with the link below.

Sincerely,

The Provost
The Brasden College

https://calendly.com/octad
