%p
  Dear
  = @user.name

%p
  Please provide us some feedback regarding your course.

%p
  = link_to "Click here", new_enrollment_evaluation_url(@enrollment)
  to provide us you response.
%p
  Yours truly,

%p
  Tyler Horan
  %br
  Provost
