%div{:alink => "#ff6633", :bgcolor => "#e4e4e4", :link => "#666666", :style => "margin:0;border-bottom:1", :text => "#ff6633", :vlink => "#666666"}
  %table{:align => "center", :background => "", :bgcolor => "#e4e4e4", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding:20px 0 20px 0", :width => "100%"}
    %tbody
      %tr
        %td
          %table{:align => "center", :bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-radius: 5px;", :width => "620"}
            %tbody
              %tr
                %td
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-bottom:solid 1px #e5e5e5", :width => "620"}
                    %tbody
                      %tr
                        %td{:align => "left", :style => "padding:0px 5px 0px 5px", :valign => "top"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "20px", :width => "100%"}
                            %tbody
                              %tr
                                %td{:height => "10px", :style => "color:#404041;font-size:13px;padding:5px 5px 0px 20px", :valign => "top"}
                              %tr
                                %td{:style => "color:#404041;font-size:13px;padding:5px 5px 0px 20px", :valign => "top"}
                                  %strong Refund number:
                                  = @refund.id
                              %tr
                                %td{:style => "color:#404041;font-size:13px;padding:5px 5px 0px 20px", :valign => "top"}
                                  %strong Date:
                                  = @refund.created_at.to_s(:long)
                        %td{:align => "left", :style => "padding:0px 5px 0px 5px", :valign => "top"}
                          %table{:border => "0", :cellpadding => "3", :cellspacing => "3", :height => "146", :style => "border-right:solid 1px #e5e5e5", :width => "100%"}
                            %tbody
                              %tr
                                %td{:height => "16", :style => "color:#404041;font-size:13px;padding:15px 5px 0px 5px", :valign => "top"}
                                  %strong Company Address:
                              %tr
                                %td{:style => "color:#404041;font-size:12px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %p
                                    Gubelstrasse 12
                                    %br/
                                    CH-6300 Brasden
                                    %br/
                                    Switzerland
                                    %br/
                              %tr
                                %td{:height => "16", :style => "color:#404041;font-size:13px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %strong Tel:
                              %tr
                                %td{:style => "color:#404041;font-size:12px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %p
                                    %a{:href => "tel:#{ENV['ADMIN_TELEPHONE']}", :target => "_blank", :value => "#{ENV['ADMIN_TELEPHONE']}"}= ENV['ADMIN_TELEPHONE']
                                    %br/
                              %tr
                                %td{:height => "16", :style => "color:#404041;font-size:13px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %strong Email:
                              %tr
                                %td{:style => "color:#404041;font-size:12px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %p
                                    %a{:href => "mailto:#{ENV['ADMIN_EMAIL']}"}= ENV['ADMIN_EMAIL']
                                    %br/
                        %td{:align => "left", :style => "padding:0px 5px 0px 5px", :valign => "top"}
                          %table{:border => "0", :cellpadding => "3", :cellspacing => "3", :height => "146", :width => "100%"}
                            %tbody
                              %tr
                                %td{:height => "16", :style => "color:#404041;font-size:13px;padding:15px 5px 0px 5px", :valign => "top"}
                                  %strong Order by:
                              %tr
                                %td{:style => "color:#404041;font-size:12px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %p
                                    = @user.name
                                    %br/
                                    %br/
                        %td{:align => "left", :style => "padding:0px 5px 0px 0px", :valign => "top"}
                          %table{:border => "0", :cellpadding => "3", :cellspacing => "3", :height => "140", :width => "100%"}
                            %tbody
                              %tr
                                %td{:height => "16", :style => "color:#404041;font-size:13px;padding:15px 5px 0px 5px", :valign => "top"}
                                  %strong Email:
                              %tr
                                %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:0px 5px 0px 5px", :valign => "top"}
                                  %p
                                    = @user.email
              %tr
                %td{:style => "color:#404041;line-height:16px;padding:25px 20px 0px 20px", :valign => "top"}
                  %p
                    %section{:style => "position: relative;clear: both;margin: 5px 0;height: 1px;border-top: 1px solid #cbcbcb;margin-bottom: 25px;margin-top: 10px;text-align: center;"}
                      %h3{:align => "center", :style => "margin-top: -12px;background-color: #FFF;clear: both;width: 180px;margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px; font-family: arial,sans-serif;"}
                        %span REFUND RECEIPT
              %tr
                %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:25px 20px 0px 20px", :valign => "top"}
                  %p
                    %span
                      %h2{:style => "color: #848484; font-family: arial,sans-serif; font-weight: 200;"} Hello from The Brasden College,
                  %p
                    Your refund has been successfully processed. Expect the funds to reach your bank account within 2 business days.
                    = succeed "." do
                      %a{:href => "https://www.octad.ch", :target => "_blank"} octad.ch
              %tr
                %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:10px 16px 20px 18px"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-radius:5px;border:solid 1px #e5e5e5", :width => "100%"}
                    %tbody
                      %tr
                        %td
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "570"}
                            %tbody
                              %tr
                                %td{:width => "15"}
                                   
                                %td{:align => "left", :colspan => "5", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 10px 3px 5px;border-bottom:solid 1px #e5e5e5", :valign => "top"}
                                  %strong Course
                                %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 10px 3px 5px;border-bottom:solid 1px #e5e5e5", :width => "145"}
                                  %strong Total
                              %tr
                                %td{:width => "15"}
                                   
                                %td{:align => "left", :colspan => "5", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;border-bottom:dashed 1px #e5e5e5", :valign => "top"}
                                  = @enrollment.instance.course_name
                                %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;border-bottom:dashed 1px #e5e5e5", :valign => "top", :width => "145"}
                                  = number_to_currency(ENV['COURSE_PRICE'].to_i)
                                   
              %tr{:align => "left"}
                %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:10px 16px 20px 18px"}
                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "0"}
                    %span
                      %h2{:style => "color: #848484; font-family: arial,sans-serif; font-weight: 200;"} Payment Details
                    %tbody
                      %tr
                        %td{:align => "left", :style => "color:#404041;font-size:12px;line-height:16px;padding:0px 0px 3px 0px", :valign => "top", :width => "0"}
                          %strong Card:
                        %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:0px 5px 3px 5px", :valign => "top", :width => "0"}
                          = @refund.charge.card.brand
                      %tr
                        %td{:align => "left", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 0px 3px 0px;", :valign => "top"}
                          %strong Number Ending:
                        %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;", :valign => "top", :width => "62"}
                          = @refund.charge.card.last_four
                      %tr
                        %td{:align => "left", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 0px 3px 0px;", :valign => "top"}
                          %strong Expiration:
                        %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:5px 5px 3px 5px;", :valign => "top", :width => "120"}
                          = "#{@refund.charge.card.expiration_month}/#{@refund.charge.card.expiration_year}"
                  %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "0"}
                    %tbody
                      %tr
                        %td{:align => "left", :style => "color:#404041;font-size:12px;line-height:16px;padding:15px 0px 3px 0px", :valign => "top", :width => "0"}
                          %strong VAT
                        %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:15px 5px 3px 5px", :valign => "top", :width => "0"}
                          = number_to_currency(0)
                      %tr
                        %td{:align => "left", :style => "color:#404041;font-size:12px;line-height:16px;padding:15px 0px 3px 0px", :valign => "top", :width => "0"}
                          %strong Total:
                          %span{:style => "font-size:11px;color:#666666"} (VAT included)
                        %td{:align => "right", :style => "color:#404041;font-size:12px;line-height:16px;padding:15px 5px 3px 5px", :valign => "top", :width => "0"}
                          = number_to_currency(200)
              %tr
                %td
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "550"}
                    %tbody
                      %tr
                        %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:15px 5px 5px 10px"}
                          For more information on your refund please reply to this email.
              %tr
                %td
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "510"}
                    %tbody
                      %tr
                        %td{:style => "color:#404041;font-size:12px;line-height:16px;padding:5px 15px 10px 10px"}
                          %p
                            Kind regards,
                            %br/
                            %strong
                              The
                              %a{:href => "https://www.octad.ch", :target => "_blank"} octad.ch
                              team
