%p
  Dear
  = @user.name

%p
  Your course
  = @instance.course_name
  is almost over. It's time to register for your next course.

%p
  = link_to "Click here", reservations_url
  to get started.
%p
  Yours truly,

%p
  Tyler Horan
  %br
  Provost
