Dear
= @user.name

Your course
= @instance.course_name
is almost over. It's time to register for your next course.

= link_to "Click here", reservations_url
to get started.

Yours truly,

Tyler Horan
Provost
