%p
  Dear
  = @user.name

%p
  This is in regard to your application to
  - if @user.enrollments.any?
    = @user.enrollments.first.degree.name
    program in
    = "#{@user.enrollments.first.degree.division.name}."
  - else
    The Brasden College.
  We regret that we cannot offer you admission to this program.

%p
  Every year, we receive a large number of applications from extremely well qualified candidates. We are able to accept only a few because of the significant amount of time our faculty members spend with each student. We make our admissions decisions only after reviewing each application very carefully.

%p We are proud that we are able to attract excellent applicants such as yourself. We hope you will continue your search for an undergraduate school and we wish you the very best in your academic pursuits.

%p
  Yours truly,

%p
  The Provost
  %br
  The Brasden College
