%p= "Dear #{@user.name},"

%p
  You're enrollment to
  = @availability.course_name
  has been withdrawn. You will be notified of any refunds due in a separate email. If you feel this email was sent in error, please reply with any questions or comments you may have.

%p Sincerely,

%p
  The Provost
  %br
  The Brasden College
