Hi there!

You're application to The Brasden Institue is almost complete. We're looking forward to reviewing your application, and just need a little more information from you. Please visit the link below.

Yours truly,

The Provost
The Brasden College

= new_user_registration_url(email: @email.name)
