= "Dear #{@professor.name},"

=@user.name
has enrolled to your course
= "#{@enrollment.instance.course_name}."
Please log in below to review the enrollment if you need to withdraw their enrollment into your course.


Yours truly,

The Provost
The Brasden College

= new_user_session_url
