= "Dear #{@user.name},"

Our payment processing provider has requested that we collect additional information from you in order to continue processing your transfers.
Please log in to your settings page and update your profile with your Date of Birth and Personal ID Number (SSN).

= edit_user_registration_url

Sincerely,

The Provost
The Brasden College
