%p= "Dear #{@user.name},"

%p
  Our payment processing provider has requested that we collect additional information from you in order to continue processing your transfers.
  Please log in to your
  = link_to 'settings page', edit_user_registration_url
  and update your profile with your Date of Birth and Personal ID Number (SSN).

%p Sincerely,

%p
  The Provost
  %br
  The Brasden College
