= "Dear #{@user.name},"

You're enrollment to
= @enrollment.instance.course_name
has been withdrawn. You will be notified of any refunds due in a separate email. If you feel this email was sent in error, please reply with any questions or comments you may have.

Sincerely,

The Provost
The Brasden College
