- content_for :certificate_fonts do
  %link{:href => "https://fonts.googleapis.com/css?family=Great+Vibes", :rel => "stylesheet", :type => "text/css"}/
.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .card.p-20
        .certificate.certificat-front
          .certificate-container
            %img.certificate-image{:src => image_path("certificate.png"), width: "100%"}/
            .certificate-number
              = @petition.id
            .certificate-content
              %h1.certificate-title.m-t-0.m-b-10 The Brasden College
              .certificate-subheader In the Canton of Brasden
              .certificate-main-copy
                %p The Trustees upon recommendation of the faculty have conferred upon
              .certificate-holder-name.certificate-line= @petition.user.name
              .certificate-main-copy
                %p.p-b-20
                  %span.degree-name the degree of
                  %br
                  %strong.certificate-holder-company= @petition.degree_degree_type == 'bs' ? 'Bachelor of Science' : 'Bachelor of Arts'
                  %br
                  in
                  %br
                  %strong= @petition.degree_name
                  %br
                  %br
                  with all rights and priviledges pertaining thereto.
                  %br/
                  Awarded at Brasden, Switzerland on this
                  = @petition.created_at.day.ordinalize
                  day of
                  = @petition.created_at.strftime('%B')
                  in
                  = @petition.created_at.strftime('%Y')
            .certificate-footer
              .row
                .col-xs-4.col-xs-offset-4
                  .certificate-signatories
                    .certificate-signatories-name.certificate-line Tyler J Horan
                    .certificate-signatories-title Tyler Horan, President
