
.settings{
    .settings-form{
        margin-bottom: 50px;
    }
    .fileinput{
        margin-top: -85px;
        position:relative;
        z-index: 3;
    }
    .form-group{
        padding-bottom: 10px;
    }
    .notifications{
        list-style: none;
        margin-left: -40px;
        padding-bottom: 30px;
        padding-top: 20px;
        .notification-item{
            border-top: 1px solid #e8e7e3;
            min-height: 60px;
            padding-top: 20px;
            padding-bottom: 15px;
            .switch{
                float: right;
            }
        }
    }
}

.iban {
  text-transform: uppercase;
}
