
.blog{
    .title{
        h3{
            margin-top: -10px;
//             margin-bottom: 30px;
        }
    }
    .article{
        border-top: 1px solid $medium-pale-bg;
        margin-top: 30px;
        .label{
            margin-bottom: 10px;
            margin-top: 40px;
        }
        .title{
            color: $default-states-color;
            font-weight: 600;
        }
        .article-image{
            margin-top: 25px;

            .card-big-shadow{
                max-width: 100%;
            }
            .card{
                background-size: cover;
                min-height: 430px;
                width: 100%;
            }
            .image-thumb{
                font-size: 14px;
                color: $muted-color;
            }
        }
        .article-content{
            p{
                margin-top: 10px;
                font-size: 18px;
            }
            .btn{
                margin-top: 10px;
            }
        }
    }
}
