.contact-form{
    margin-top: 30px;
}
.contact-form label{
    margin-top: 15px;
}
.contact-form .btn{
    margin-top: 30px;
}


.contact-us{
    .navbar{
        margin-bottom: 0px;
    }
    .title{
        margin-top: 40px;
    }
    .contact{
        .form-control{
            margin-bottom: 20px;
        }
    }
    .visit{
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .big-map{
        height: 300px;
        width: 100%;
    }
    .footer-demo{
        background-color: #f4f3ef;
    }
}
