.dashboard{
    .nav-tabs > li.active *::after {
        border-bottom: 11px solid #f9f9f7;
    }

    .twitter-logo{

        position: absolute;
        left: 50%;
        margin-left: -40px;
        a, a:hover, a:active, a:focus{
            i{
                color: #55acee;
                font-size: 30px;
            }
        }
    }
    .navbar-form{
        margin-right: 0px;
        padding-right: 0px;
    }
    .following{
        margin-top: -35px;
        margin-left: 55px;
    }
    .hashtag-suggestions{
        li{
            margin-bottom: 5px;
        }
    }
    .account{
        margin-bottom: 15px;
        .description-section{
            line-height: 1.2em;
            margin-top: 5px;
            padding: 0px;
        }
        .follow{
            margin-top: 10px;
        }
    }
    .tweets{
        padding: 20px 50px;
        .media{
            border-bottom: 1px solid #F1EAE0;
            overflow: visible;

            img{
                width: 100%;
            }
            .avatar{
                border: 0 none;
                margin-top: 10px;
            }
            .media-heading{
                margin-bottom: 5px;
            }
            .media-body{
                overflow: visible;
            }
            .media-footer{
                .btn{
                    font-weight: bold;
                    margin-right: 20px;
                }
            }
            .img-tweet{
                display: inline-block;
            }
            .retweet{
                margin-top: -20px;
                margin-left: 40px;
            }
            .tweet-link{
                margin-bottom: 25px;
                margin-top: 20px;
            }
            .img-tweet-link{
                display: inline-block;
                max-width: 180px;
            }
            &.last-media{
                border-bottom: 0px;
            }
            .dropup, .dropdown{
                display: inline;
            }
        }
    }
    .nav-pills-navigation{
        text-align: center;
        .nav-pills-wrapper{
            display: inline-block;
            position: relative;
            width: auto;
        }
    }
    .people{
        .number{
            margin-top: 15px;
        }
        .card-user{
            .avatar{
                margin-bottom: 10px;
            }
            .image{
                height: 120px;
            }
            .content{
                min-height: 255px;
                .description{
                    font-size: 15px;
                }
            }
        }
        .people-list{
            margin-top: 40px;
        }
    }
    #media{
        img.vertical-image{
            max-height: 240px;
        }
        .gallery-item .gallery-caption{
            display: none;
        }
        .pswp__caption__center{
            max-width: 800px;
        }
        .pswp__caption{
            h5{
                display: inline-block;
            }
        }
    }
}
