
.landing-header{
    background-size: cover;
    min-height: 570px;
}
.landing-header .motto{
    padding-top: 8%;
    text-align: left;
    z-index: 3;
}
.landing-section{
    padding: 100px 0;
}
.landing-section .btn-simple{
    padding: 0;
}
.landing-section .column{
    padding: 0 75px 0 25px;
}
