
.profile-background{
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-top: -110px;
}
.profile-background .filter-black::after{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.profile-content{
    position: relative;
}
.owner .avatar{
    margin-top: -85px;
    padding: 15px;
    position:relative;
    z-index: 3;
}
.owner .name h4{
    margin-top: 10px;
}
.profile-tabs{
    margin: 50px 0;
    min-height: 300px;
}
#following h3{
    margin: 40px 0;
}
.follows .unfollow{
    width: 15px;
}
.follows hr{
    margin-top: 10px;
}
.alert h5{
    margin-bottom: 10px;
}
