
.navbar-relative{
    position: relative;
    z-index: 2;
}

.register-navbar a{
    color: #FFF;
}
.register-background{
    background-image: image-url('landscape.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.register-background .filter-black::after{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.register-background .container{
    margin-top: 11%;
    position: relative;
    z-index: 3;
}
.register-footer{
    bottom: 20px;
    color: #fff;
    position: absolute;
    z-index: 3;
    width: 100%;
}
.register-footer .fa-heart{
    color: #EB5E28;
}
.register-card{
    background-color: #FF8F5E;
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
}
.register-card label{
    margin-top: 15px;
}
.register-card .title{
    color: #B33C12;
    text-align: center;
}
.register-card .btn{
    margin-top: 30px;
}
.register-card .forgot{
    text-align: center;
}


.full-screen{
    #register-navbar a{
        color: #FFF;
    }
    .background{
        background-position: center center;
        background-size: cover;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }
    .background .filter-black::after{
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .background .container{
        margin-top: 11%;
        position: relative;
        z-index: 3;
    }
    .demo-footer{
        bottom: 10px;
        color: #fff;
        position: absolute;
        z-index: 3;
        width: 100%;
    }
    .demo-footer .fa-heart{
        color: #EB5E28;
    }
    .demo-card{
        border-radius: 8px;
        max-width: 350px;
        margin: 20px 0;
        min-height: 400px;
        padding: 30px;
    }

    &.login{
        .demo-card{
            background-color: #FF8F5E;
            color: #fff;

            label{
                margin-top: 15px;
            }
            .title{
                color: #B33C12;
                text-align: center;
            }
            .btn{
                margin-top: 30px;
            }
            .forgot{
                text-align: center;
            }
        }
    }
    &.register{
        .background .filter-black::after{
            background-color: rgba(0, 0, 0, 0.6);
        }
        .container{
            margin-bottom: 50px;
        }
        .info-horizontal{
            color: $white-color;
            margin-bottom: 15px;
        }
        .demo-card{
            background-color: #E8E7E3;
            max-width: 360px;

            input{
                margin-bottom: 8px;
            }
            .file {
              margin-top: 10px;
            }
            .btn{
                margin-top: 0px;
            }
            .division {
                float: none;
                margin: 0 auto;
                overflow: hidden;
                margin: 20px 0;
                position: relative;
                text-align: center;
                width: 100%;
                .line {
                    border-top: 1px solid $font-color;
                    position: absolute;
                    top: 10px;
                    width: 40%;
                    &.l{
                        left: 0;
                    }
                    &.r{
                        right: 0;
                    }
                }
            }
        }
        .social{
            margin-bottom: 10px;
            margin-top: 15px;
            text-align: center;
        }
        .login{
            margin-top: 20px;
            text-align: center;
            p{
                font-size: 0.9em;
            }
        }
    }
}
