- content_for :facebook_meta do
  %meta{:content => article_url(@article), :property => "og:url"}/
  %meta{:content => "article", :property => "og:type"}/
  %meta{:content => @article.name, :property => "og:title"}/
  %meta{:content => strip_tags(truncate(@article.body, length: 200, escape: false)), :property => "og:description"}/
  %meta{:content => URI(request.url) + @article.attachment.url(:large), :property => "og:image"}/
  %meta{content: "1500", property: "og:image:width"}
  %meta{content: "860", property: "og:image:height"}
  %meta{content: "1284252954992760", property: "fb:app_id"}
.container.blog
  .article
    .row
      .col-md-10.col-md-offset-1
        .text-center
          %a{:href => "#"}
            %h3.title= @article.name
          %h6.title-uppercase= @article.created_at.to_s(:long)
    .row
      .col-md-8.col-md-offset-2
        - if @article.attachment.present?
          .article-image.text-center
            %a{:href => "#"}
              .card-big-shadow
                .card{"data-radius" => "none", :style => "background-image: url(#{@article.attachment.url(:large)});"}
        .article-content
          %p= @article.body.html_safe
        .article-content.text-center.m-b-50
          = link_to 'Back', blog_path, class: 'btn btn-danger btn-fill btn-sm'
