.media
  - user = conversation.participants.find {|s| s.id != current_user.id }
  = render 'users/avatar', user: user
  .media-body
    %h5.media-heading= user.name
    .pull-right
      %h6.text-muted= conversation.last_message.created_at.strftime("%b %-d, %H:%M %p")
    %p= link_to conversation.subject, conversation_path(conversation)
