- conversation.participants.each do |participant|
  - unless participant == current_user
    = image_tag current_user.photo.present? ? current_user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "img-circle img-responsive img-no-padding"
