.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %p= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary'

      = render partial: 'conversations/conversation', collection: @conversations
      = paginate(@conversations)
