.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .row
        .col-xs-12
          - @conversation.mark_as_read(current_user)
          .panel.panel-default
            .panel-heading= @conversation.subject
            .panel-body
              .messages
                - @conversation.receipts_for(current_user).each do |receipt|
                  = render 'messages/message', message: receipt.message
              .media.media-post
                = form_tag reply_conversation_path(@conversation), method: :post do
                  = render 'users/avatar', user: current_user
                  .media-body
                    = text_area_tag 'body', nil, rows: 6, class: 'form-control border-input', placeholder: 'Type something...', required: true
                    .media-footer
                      = submit_tag "Send", class: 'btn btn-infp btn-fill btn-wd pull-right'
