- add_breadcrumb 'Dashboard', :authenticated_root_path
.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      %h4= I18n.t('authy_register_title', {:scope => 'devise'})
      = enable_authy_form do
        .row
          .col-xs-3
            = label_tag 'Country code'
            = text_field_tag :country_code, '', :autocomplete => :off, :placeholder => "1", :id => "authy-countries", class: 'form-control border-input'
          .col-xs-6
            = label_tag 'Cell phone number'
            = text_field_tag :cellphone, '', :autocomplete => :off, :placeholder => "5555555555", :id => "authy-cellphone", class: 'form-control border-input'
        %p= submit_tag I18n.t('enable_authy', {:scope => 'devise'}), class: 'btn btn-fill btn-lg'
