- add_breadcrumb 'Dashboard', :authenticated_root_path
.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      %h4= I18n.t('authy_verify_installation_title', {:scope => 'devise'})
      = verify_authy_installation_form do
        %legend= I18n.t('submit_token_title', {:scope => 'devise'})
        = label_tag :token
        = text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token'
        = authy_request_sms_link
        = submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn'
