.wrapper
  .background{:style => "background-image: url(#{image_url('landscape.jpg')});"}
    .filter-black
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .demo-card
            %h3.title Enter your authy token
            = verify_authy_form do
              .row
                .col-xs-12
                  %small or approve via one-touch
                  = hidden_field_tag :"#{resource_name}_id", @resource.id
                  = text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token', class: 'form-control border-input m-l-0'
                  %label.text-center
                    = check_box_tag :remember_device, class: 'm-l-0 p-l-0'
                    %span= I18n.t('remember_device', {:scope => 'devise'})
              .row
                .col-xs-12.text-center
                  = authy_request_sms_link
              %br
              .row
                .col-xs-12
                  = submit_tag I18n.t('submit_token', {:scope => 'devise'}), class: 'btn btn-danger btn-block'
    .demo-footer.text-center
      %h6
        &copy; 2018, College of Brasden


- if @onetouch_uuid
  :javascript
    (function(){
      setInterval(function(){
        var onetouchRequest = new XMLHttpRequest();
        onetouchRequest.addEventListener("load", function(){
          if(this.status != 202) clearInterval(this);
          if(this.status == 200) window.location = JSON.parse(this.responseText).redirect;
        });
        onetouchRequest.open("GET", "#{polymorphic_path [resource_name, :authy_onetouch_status]}?onetouch_uuid=#{@onetouch_uuid}");
        onetouchRequest.send();
      }, 3000);
    })();
