.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            %h2.title One more step...
            %p
              - if @user.temp_email?
                We need to collect your email address and degree preference to continue your application.
              - else
                What program would you like to apply to?
        .row
          .col-md-6.col-md-offset-3.m-t-50
            = simple_form_for @user, url: complete_signup_user_path(@user), validate: true do |f|
              = f.hidden_field :finish_token, value: session[:finish_token]
              - if @user.temp_email?
                = f.input :email, input_html: { value: '' }
              = f.label "Select your degree", required: true
              = f.select :taught_degree_id, options_from_collection_for_select(Degree.all, "id", "name", (params[:degree_id] ? params[:degree_id] : nil)), { required: true, prompt: "Choose from list"}, class: 'selectpicker'
              = #f.input :previous_transcript, required: true, validate: { presence: true }
              = f.submit 'Complete', class: 'btn btn-fill btn-lg'
