.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            %h2.title User has been notified to schedule interview
            %p
              The interview will be added to your calendar when it has been scheduled
        .row
          .col-md-6.col-md-offset-3.m-t-50
            %button.btn.btn-primary.btn-fill.btn-block Read our FAQs
