.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3 Welcome to the College of Brasden!
      .row
        .col-lg-6
          .card
            .content
              %h4.title Setup
              %p.description
                To get started, ensure you've filled out your profile completely. Especially important is the email field. This is how you get pinged about student enrollments, questions and activities within your course. You can change your email by clicking on the avatar photo in the top right corner and selecting "Edit Profile". One quick thing though. If you are excited to work for Brasden and want to add it to your LinkedIn or resumé, that's great! However if you do, you need to mention that you are contractor/adjunct. Thanks!
          .card
            .content
              %h4.title Managing your courses
              %p.description
                The College of Brasden is an online-only institution. Accordingly all communication is handled online. The primary mechanism for teaching classes is Google Hangouts. When your course has started, you'll be sent a calendar invite to each of your course meetings, which contains a link to the Google Hangout Video Room. You are welcome to use any additional means of communication with your students; however class time must take place on the provided Google Hangout. If you use a google-based email you will receive email reminders 10 mins before courses are set to begin. You can change the reminder time on your Google Calendar.
          .card
            .content
              %h4.title Bailing - Things come up. Life is very real.
              %p.description
                Leaving a course is highly discouraged, but if you must, then all we ask is that you alert us at the support email
                = mail_to 'support@brasden.ch'
                ahead of time if possible to allow for a smooth transition - failure to do so will result in an immediate termination. Missing more than 1 class on a single course or 3 classes in total across all courses, will be grounds for termination.
        .col-lg-6
          .card
            .content
              %h4.title Starting your courses
              %p.description
                You've already selected the courses that you are willing to teach in the previous steps. Over the next few days and weeks, students will make
                %b seat reservations
                in your courses. After 10 students make a reservation in a course, you will receive an email notifying you that you can start the course. There's no set time limit on how long you can wait for students to enroll; however enrollment is capped at 24 students. If more than 24 students make a reservation to your course, you can create an additional section of the course with the remaining students. Once you've decided to start a course you'll see a grid of hours that you and all your students are available for classes. You'll be required to pick two class times during the week - each with a duration of 1 hour - when your class will meet. You're welcome to choose any two slots during the week; however try to select times when most of the students will be available. After you've selected your times, you can see the students who have made reservations below. Click launch course and you're all set!
          .card
            .content
              %h4.title Assessing your students
              %p.description
                The College of Brasden is a liberal arts institution. We encourage all professors to assess students through their writing, either through written papers, literature reviews, or other forms of written analysis. You are free to post a graded assignment to the course messageboard at any time. If you feel an examination is required for the subject material, then we reccommend that you use an online exam tool like
                = link_to 'Quizworks', 'https://www.onlineexambuilder.com'
                or
                = link_to 'ClassMarket', 'https://www.classmarker.com'
                to assess you student's knowledge. At the end of the course, you are required to submit a single grade for the student on the 0..100 scale.
