.wrapper
  .profile-background{:style => "background-image: url(#{image_url('lamp.jpg')});"}
    .filter-black
  .profile-content.section-nude
    .container
      .row.owner
        .col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.text-center
          .avatar
            %img.img-circle.img-no-padding.img-responsive{:alt => "Circle Image", :src => @user.photo.url(:medium)}/
          .name
            %h4
              = @user.name_with_title
              - if @user.professor?
                %br/
                %small= @user.taught_degree_name
      .profile-tabs
        .nav-tabs-navigation
          .nav-tabs-wrapper
            - if @user.professor?
              %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
                %li.active
                  %a{"data-toggle" => "tab", :href => "#courses"} Current Courses
                %li
                  %a{"data-toggle" => "tab", :href => "#available"} Available Courses
        #my-tab-content.tab-content
          #courses.tab-pane.active
            .row
              .col-md-6.col-md-offset-3
                - if @user.professor?
                  - if @user.instances.empty?
                    %h3.text-muted Not teaching any courses
                    = link_to 'Find Courses', '/', class: 'btn btn-fill btn-warning'
                  - else
                    %ul.list-unstyled.follows
                      - @user.instances.each do |instance|
                        %li
                          .row
                            .col-md-2.col-md-offset-0.col-xs-3.col-xs-offset-2
                              %img.img-circle.img-no-padding.img-responsive{:alt => "Circle Image", :src => @user.photo.url(:thumb)}/
                            .col-md-7.col-xs-4
                              %h6
                                = instance.course_name
                                %br/
                                %small= instance.course.degree.name
                        %hr/
          #available.tab-pane.text-center
            .row
              .col-md-6.col-md-offset-3
                - if @user.professor?
                  - if @user.availabilities.empty?
                    %h3.text-muted Not teaching any courses
                    = link_to 'Find Courses', '/', class: 'btn btn-fill btn-warning'
                  - else
                    %ul.list-unstyled.follows
                      - @user.availabilities.each do |availability|
                        %li
                          .row
                            .col-md-2.col-md-offset-0.col-xs-3.col-xs-offset-2
                              %img.img-circle.img-no-padding.img-responsive{:alt => "Circle Image", :src => @user.photo.url(:thumb)}/
                            .col-md-7.col-xs-4
                              %h6
                                = availability.course_name
                                %br/
                                %small= availability.course.degree.name
                        %hr/
