.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3 Welcome to the College of Brasden!
      .row
        .col-lg-6
          .card
            .content
              %h4.title Setup
              %p.description
                To get started, ensure you've filled out your Brasden profile completely. Especially important is the email field. This is how you get pinged about stating classes, assignments and activities within your courses. You can change your email by clicking on the avatar photo in the top right corner and selecting "Edit Profile".
          .card
            .content
              %h4.title Managing your courses
              %p.description
                The College of Brasden is an online-only institution. Accordingly all communication is handled online. The primary medium for classes is Google Hangouts. When your course has started, you'll be sent a calendar invite to each of your course meetings, which contains a link to the Google Hangout Video Room. You are welcome to use any additional means of communication to get in touch with your professor; however class time must take place on the provided Google Hangout. If you use a google-based email you will receive email reminders 10 mins before courses are set to begin. You can change the reminder time on your Google Calendar.
          .card
            .content
              %h4.title Withdrawl - Things come up. Life is very real.
              %p.description
                Leaving a course is highly discouraged, but if you must, then all we ask is that you alert us at the support email
                = mail_to 'support@brasden.ch'
                ahead of time. You are required to attend all class times in the course; however, up to 3 absences may be accomodated at the discretion of the professor.
        .col-lg-6
          .card
            .content
              %h4.title Starting your courses
              %p.description
                You've already selected the courses that you are willing to take for your first grouping in the previous steps. Over the next few days and weeks, other students will make
                %b seat reservations
                in your courses. After 10 students make a reservation in a course, your professor may elect to begin the course or wait until additional students enroll. The professor will select the class times that best fit the schedule of the students. You will receive a notification when the course is set to begin.
          .card
            .content
              %h4.title Assessment
              %p.description
                The College of Brasden is a liberal arts institution. We encourage all professors to assess students through their writing, either through written papers, literature reviews, or other forms of written analysis. Some professors; however, may chose to assess their students via examination. They will provide you instructions if they chose to create an exam for the course. At the end of the course, a single grade for the class on the 0..100 scale will be given.
