.wrapper
  .background{:style => "background-image: url(#{image_url('landscape.jpg')});"}
    .filter-black
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .demo-card
            %h3.title Change your password
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'register-form',  method: :put}) do |f|
              = f.error_notification
              = f.input :reset_password_token, as: :hidden
              = f.full_error :reset_password_token
              = f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
              = f.input :password_confirmation, label: "Confirm your new password", required: true
              = f.button :submit, "Change my password", class: 'btn btn-danger btn-block'
    .demo-footer.text-center
      %h6
        &copy; 2018, College of Brasden
