.wrapper
  .background{:style => "background-image: url(#{image_url('landscape.jpg')});"}
    .filter-black
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .demo-card
            %h3.title Forgot your password?
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'register-form', method: :post}) do |f|
              = f.error_notification
              = f.input :email, required: false, autofocus: true
              = f.button :submit, "Send me reset password instructions", class: 'btn btn-danger btn-block'
    .demo-footer.text-center
      %h6
        &copy; 2018, College of Brasden
