.container
  .row.m-t-100.m-b-50
    .col-md-6.col-md-offset-3
      .info
        .description
          %h2.light-weight Academic Divisions
          %br
          %p We offer degrees from three major academic divisions
  .row
    - Division.includes(:degrees).all.each_with_index do |division, index|
      .col-md-4.col-sm-6
        .card
          .content
            %h6.category= "Division #{"I" * (index + 1)}"
            %h4.title
              = division.name
            %p.description= division.description
            %br
            %h6.category Degrees
            %br
            - division.degrees.each do |degree|
              %p.description= link_to degree.name, division_degree_path(division, degree)
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in enrolling?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path } Apply Now
