- if object.errors.any?
  %div.alert.alert-danger
    .container
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} ×
      .span
        = object.errors.full_messages.to_sentence
