.container
  .row.m-t-100
    .col-md-6.col-md-offset-3
      .info
        .description
          %h2.light-weight The Brasden Difference
          %br
          %p We have completely reimagined the degree earning process to give you the best education at the least cost.
  .row.m-t-100
    .col-md-12
      %small MISSION
      %h2.light-weight The Brasden College is the world's college
      .row.m-t-40
        .col-md-6
          %p The nature of learning is changing and we are at the forefront of this seismic shift. Every year, tens of millions of people enter college. Who will they study with? What tools will they use to learn more effectively? We are building the largest network of exceptional teachers, professors, and students to create the next online educational platform to move people from information-based learning to a fully well-rounded education; all of which, leads to a Bachelor of Arts or a Bachelor of Science degree.
          %p Knowledge is an essential requirement to become a productive and fullfilling member of global society. Since the rise of information technology there is more information available at the click of a mouse. No longer locked in libraries, this knowledge is freely available to anyone with an internet connection. At the same time, information is not knowledge, nor is it particular useful without context. For this reason, a guided liberal arts education is even more important today than it ever was.
        .col-md-6
          %p At Brasden, we believe that the best learning happens with the guide of professional teachers. The glut of information available today makes contextualizing that information, processing that knowledge and guiding a student to a fullfilling life experience even more precient than a couple decades ago.
          %p At The Brasden College, we believe that higher eduation should not be prohibitively expensive. Earning a college degree should not require debt. We believe that professors should earn a living wage and not struggle to make ends meet shuffling from one institution to another. Accordingly, we offer degree-leading courses cheaper than any other college or university in the developed world. We compensate professors with livable earnings from those fees. Interested in becoming a part of the experinece? Come join us. We're just getting started.
  .row.m-t-100
    .col-md-12
      %small LEARNING
      %h3.light-weight Person-to-person learning without room and board
    .row
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-harddrives
          .description
            %h4 Learn on the web, iOS or Android
            %p Attend courses via the web, or on your mobile device from anywhere in the world.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-hand-open
          .description
            %h4 Small Class Sizes
            %p Our classes are capped at 25, with an average of 15 students in a single course.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-world
          .description
            %h4 Affordable courses leading to a degree
            %p No governemnt loan required. Our courses are only €175 for each student enrolled.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
    .row
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-direction-alt
          .description
            %h4 Wide variety of programes and degrees
            %p Chose a degree program in anything from Anthropology to Statistics.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-time
          .description
            %h4 Short 10 week long course durations
            %p Complete your degree in record time, without the red tape.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-bookmark-alt
          .description
            %h4 Earn an internationally recognized degree
            %p Your Swiss credential will give you a passport to countless opportunities.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path} Get Started
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in earning your degree?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path } Apply Now
.container
  .row.m-t-100
    .col-md-12
      %small TEACHING
      %h3.light-weight Small, motivated classes without the department politics
    .row
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-blackboard
          .description
            %h4 Skip the commute
            %p No running between home and work or between campus to campus to teach.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path(professor: true)} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-world
          .description
            %h4 Teach while you reseach and travel the world
            %p Maintain you research activities while attending courses from your laptop or mobile.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path(professor: true)} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-pie-chart
          .description
            %h4 Course and enrollment tracking
            %p Track and monitor grades, assignments and enrollments like any other LMS.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path(professor: true)} Get Started
    .row
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-world
          .description
            %h4 Get paid weekly
            %p Your time is valuable. You shouldn't have to wait to earn that.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path(professor: true)} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-write
          .description
            %h4 Develop new curriculum
            %p Want to teach a new course? Propose it, and we'll add it to the department offerings.
            %a.btn.btn-simple.btn-info{href: new_user_registration_path(professor: true)} Get Started
      .col-md-4
        .info.info-horizontal
          .icon
            %i.ti-stats-up
          .description
            %h4 Take control of your career
            %p Develop your academic potential while teaching students from across the globe.
            %a.btn.btn-simple.btn-info{href: "#"} Get Started
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in teaching?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path(professor: true) } Apply Now
