.container
  .row.m-t-100.m-b-50
    .col-md-6.col-md-offset-3
      .info
        .description
          %h2.light-weight Academics
          %br
          %p Requirements for the Bachelor of Arts or Bachelor of Science degree
  .row.m-t-100.m-b-50
    .col-md-8.col-md-offset-2
      %p The Brasden Institude offers courses of study leading to the degree of Bachelor of Arts and Bachelor of Science. The course requirements prescribe both the number of courses to be completed and the minimum grade level to be achieved; the curriculum also requires that each student explore several fields of knowledge and concentrate in one. The full requirements for the degree include meeting the minimum academic standards stated below, fulfilling the distribution requirement, and completing a major.
      %p The academic year is divided into 10 week periods. A student can take up to four courses in each period.
      %h4 Academic Requirement

      %p To be eligible for the Bachelor of Arts degree or Bachelor of Science degree a student must pass 32 courses including 19 with grades of C- or better) and complete all requirements for the major including an average of C minus or higher. A student may not repeat a course for which degree credit has been awarded.

      %h4 Distribution Requirement

      %h5 DIVISIONAL REQUIREMENT
      %p Designed to ensure that in their course of study at the Institude, students take an appropriately diverse distribution of courses across the full range of the curriculum.

      %p For the purposes of the requirement, courses are grouped into three divisions: Division I, Languages and the Arts; Division II, Social Studies; and Division III, Science and Mathematics. A full listing of the subjects in each division appears below.

      %p Students must complete at least three graded courses in each division. Two in each division must be completed before the student can take over 16 courses. The courses must be taken at the Insitude.

      %p Courses that fulfill the distribution requirement in Division I are designed to help students become better able to respond to the arts sensitively and intelligently by learning the language, whether verbal, visual, or musical, of a significant field of artistic expression. Students learn how to develop the capacity for critical discussion, to increase awareness of the esthetic and moral issues raised by works of art, and to grow in self-awareness and creativity.

      %p Courses which fulfill the Division II requirement consider the institutions and social structures that human beings have created, whether knowingly or unknowingly, and which in turn markedly affect their lives. These courses are intended to help the students recognize, analyze, and evaluate these human structures in order that they may better understand themselves and the social world in which they live.

      %p Courses which fulfill the Division III requirement are intended to provide some of the factual and methodological knowledge needed to be an informed citizen in a world deeply influenced by scientific thought and technological accomplishment, and to cultivate skill in exact and quantitative reasoning.

      %p Courses with the following designations receive divisional distribution credit as indicated:
      %br
      %p
        - Division.all.each_with_index do |division, index|
          %h5= "DIVISION #{"I" * (index + 1)}. #{division.name}"
          - division.degrees.each do |d|
            = d.name
            %br
          %br

      %h4 MAJOR REQUIREMENT

      %p The Major Requirement is designed to assure that all College undergraduates will have the experience of disciplined and cumulative study, carried on over an extended period of time, in some important field of intellectual inquiry. Students are required to declare a major and the selection is normally made at the time of application into the College.

      %p Majors are offered in the following fields:

      %p
        - Degree.all.each do |degree|
          = degree.name
          %br
      %h4 GENERAL STRUCTURE OF MAJORS

      %p 1) A student ordinarily must complete at least nine courses in his or her major field.

      %p 2) A prescribed sequence of courses, supplemented by parallel courses, and including a major seminar, is required in some major fields.

      %p Courses in many major programs require prerequisite courses in related areas. A full description of the detailed structure of each major is found under the heading of that major.
