.container.blog
  .row
    .col-md-6.col-md-offset-3.text-center.title
      %h2 News and Updates
  - @articles.each do |article|
    .article
      .row
        .col-md-10.col-md-offset-1
          .text-center
            %a{:href => "#"}
              %h3.title= article.name
            %h6.title-uppercase= article.created_at.to_s(:long)
      .row
        .col-md-8.col-md-offset-2
          - if article.attachment.present?
            .article-image.text-center
              %a{:href => "#"}
                .card-big-shadow
                  .card{"data-radius" => "none", :style => "background-image: url(#{article.attachment.url(:large)});"}
          .article-content
            %p= truncate(article.body, length: 200, escape: false).html_safe
          .article-content.text-center.m-b-50
            = link_to 'Read more', article_path(article), class: 'btn btn-danger btn-fill btn-sm'
