.row
  .col-md-8.col-md-offset-2
    %h2 FAQ
    %h4 General
    #acordeon1
      #accordion1.panel-group
        - @faqs.general.group_by(&:heading).each do |heading, faqs|
          %h5=heading
          - faqs.each do |f|
            .panel.panel-border.panel-default
              %a{"data-toggle" => "collapse", :href => "#collapse-#{f.id}"}
                .panel-heading
                  %h4.panel-title
                    = f.title
                    %i.ti-angle-down
              .panel-collapse.collapse{id: "collapse-#{f.id}"}
                .panel-body
                  = f.body.html_safe
    %h4 For Students
    #acordeon
      #accordion.panel-group
        - @faqs.student.group_by(&:heading).each do |heading, faqs|
          %h5=heading
          - faqs.each do |f|
            .panel.panel-border.panel-default
              %a{"data-toggle" => "collapse", :href => "#collapse-#{f.id}"}
                .panel-heading
                  %h4.panel-title
                    = f.title
                    %i.ti-angle-down
              .panel-collapse.collapse{id: "collapse-#{f.id}"}
                .panel-body
                  = f.body.html_safe
    %h4 For Professors
    #acordeon2
      #accordion2.panel-group
        - @faqs.professor.group_by(&:heading).each do |heading, faqs|
          %h5=heading
          - faqs.each do |f|
            .panel.panel-border.panel-default
              %a{"data-toggle" => "collapse", :href => "#collapse-#{f.id}"}
                .panel-heading
                  %h4.panel-title
                    = f.title
                    %i.ti-angle-down
              .panel-collapse.collapse{id: "collapse-#{f.id}"}
                .panel-body
                  = f.body.html_safe
