.wrapper
  .landing-header
    .container
      .motto.col-lg-8
        %small MISSION
        %h3.m-t-10
          %span.light-weight At The Brasden College, we believe that
          everyone deserves access to an affordable, high-quality bachelor's degree.
        %p We bring together the best professors, researchers, and teachers from around the world to teach classes online leading to a formal degree. Members of our network have PhD's from Ivy League institutions and first-class international universities, won billions of dollars in research grants, received countless awards, and taught thousands of students.
        %p We empower professors with our smart teaching platform using video learning technology to allow them to instruct and guide students from across the globe. This technology has allowed us to build over 1,000 courses for students in over 20 countries.
        %p If you're interested in starting your degree at The Brasden College or just want to learn more about what we do, get in touch to start.
      .motto.col-lg-4.p-b-20
        .text-center
          = image_tag 'logo.svg', width: "70%", class: 'main-logo hidden-md hidden-sm hidden-xs'
          = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-lg btn-fill btn-facebook' do
            %i.fa.fa-facebook
            Apply with Facebook
          %br
          = link_to 'or with email', new_user_registration_path
  .main
    .section.text-center.landing-section
      .container
        .row
          .col-md-8.col-md-offset-2
            %h2 We're a professor-driven institution
            %h5 At Brasden, all course are taught by professors who have complete control over the learning experience. Professors earn all of their students' tutition (less a platform fee), have complete autonomy over their courses, and have freedom to live and work from anywhere in the globe.
            %br/
            %h4 Interested in teaching?
            %br/
            %a.btn.btn-danger.btn-lg.btn-fill{:href => about_path } Learn More
    .section.section-light-brown.landing-section
      .container
        .row
          .col-md-4.column
            %h4 Affordable Online Degrees
            %p Earn your entire Bachelor's degree from a dozen of our liberal arts majors for the price of a single course at a traditional college.
            %a.btn.btn-danger.btn-simple{:href => about_path}
              See more
              %i.fa.fa-chevron-right
          .col-md-4.column
            %h4 Small class sizes
            %p Receive personal attention in our courses, where the average class size is 15 students and never greater than 25 in a single course.
            %a.btn.btn-danger.btn-simple{:href => about_path}
              See more
              %i.fa.fa-chevron-right
          .col-md-4.column
            %h4 Faster Time to Degree
            %p Study at your own pace, or at an accellerated page, to earn you bachelors degree in a little as 80 weeks, from anywhere in the world.
            %a.btn.btn-danger.btn-simple{:href => about_path}
              See more
              %i.fa.fa-chevron-right
