.container
  .row
    .col-lg-12
      %h2 Privacy Policy
      .card.information-card
        .content
          %h4 This Privacy Policy was last updated on February 18, 2017.

          %p.description All capitalized terms used and not otherwise defined herein shall have the meaning ascribed to them in Brasden's Terms of Use.

          %p.description Any version of this Privacy Policy in a language other than English is provided for convenience and you understand and agree that the English language will control if there is any conflict.

          %p.description You are contracting with College of Brasden Inc. a Corporation located in Brasden, Switzerland, ("Brasden", "We", "Us", or "Our"). Brasden respects Your rights regarding Your privacy and personal information, and We provide this Privacy Policy ("Privacy Policy") to help You understand how We collect, use, share, store and disclose information We obtain from or about You when You use the Services. This Privacy Policy applies to Your use of the Services. As used herein the term "use" shall mean use, access, install, sign into, connect with, download, visit or browse the Services. Additionally, any information relating to taking Courses, including, without limitation, interchanges with the Course instructors, other Students, answers, essays and other items submitted to satisfy the Course requirements, is referred to as "Course Information." Brasden allows You to enroll in and take online Courses on a variety of topics which are taught by Instructors where, among other things, You will receive an academic degree for Courses by other Students of the Course.

          %p.description This Privacy Policy also describes the choices available to You regarding the use of, Your access to and how to update and correct Your personal information.

          %p.description THIS IS A LEGALLY BINDING AGREEMENT BETWEEN YOU AND College of Brasden, AND BY USING THE SERVICES, YOU AGREE TO THE TERMS OF THIS AGREEMENT. You should review this Privacy Policy in conjunction with Our Terms of Use and any other agreement or policy provided by Us that governs Your use of the Services.

          %p.description You should not use the Services if You do not agree with this Privacy Policy, Our Terms of Use and any other agreement or policy that governs Your use of the Services.

          %h4 Table of Contents

          %ol
            %li The Scope of this Privacy Policy and the Covered Sites
            %li Our Policy Concerning Children
            %li The Types of Information We may Collect
            %li Payment Information
            %li Technical &amp; Usage Information We Collect Through Automated Means
            %li Our Use of Cookies, Web Beacons and Automated Information Collection
            %li How We Use the Information We Collect
            %li When and How We Share/Disclose Your Information with Third Parties
            %li How Do We Keep Your Information Secure
            %li Your Choices Regarding the Use of Your Information
            %li How We Respond to Do-Not-Track Signals
            %li How Do You Access &amp; Update Your Information
            %li How to Delete Your Account and what Happens when Your Account is Terminated or Deleted
            %li Modifications to this Privacy Policy
            %li International Operations: A Note to Users Outside of the U.S. and the EU
            %li Your California Privacy Rights
            %li Questions

          %ol
            %li
              %h5 The Scope of this Privacy Policy and the Covered Sites
              %p.description This Privacy Policy is applicable worldwide and applies to Our Services where We provide a link to this Privacy Policy, unless otherwise stated or unless We provide a link to a different policy. All Services will contain a prominent link to this Privacy Policy on or near the homepage of Our site or through a pop-up window on any mobile and/or other Internet connected devices ("Wireless Devices") where possible.
              %p.description This Privacy Policy applies to information that We collect online through use of the Services.
              %p.description The Services may contain links to Third Party Platforms. If You use Our Services on or through a Third Party Platform, including via any Wireless Devices, Your privacy will also be subject to the privacy policies and terms of service of the Third Party Platform.
              %p.description We do not control and are not responsible for the terms of service, privacy policies and/or practices of any Third Party Platform You may use to access the Services, and You should review the policies and agreements of such Third Party Platforms carefully.
            %li
              %h5 Our Policy Concerning Children
              %p.description We recognize the privacy interests of children and We encourage parents and guardians to take an active role in their children's online activities and interests. We do not knowingly collect personal information from children under 13. Children under the age of 13 should not use or attempt to use our Websites or Services and if you are under 13, please do not attempt to use our Services or send any information about yourself to Brasden. If We learn that We have collected personal information from a child under 13, We will delete such information.
              %p.description Parents who believe that Brasden might have any information from or about a child under the age of 13 may submit a request to privacy@octad.ch and request that the information be removed.
            %li
              %h5 The Type of Information We May Collect
              %p.description Brasden does not currently retain credit card numbers internally. We partner with payment providers such as Stripe and others. All direct payment gateways like Stripe, adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information.
              %p.description Brasden may collect different information from or about You depending on the manner in which You use the Services. The following examples are provided to help You better understand the information We may collect through Your use of the Services:
              %ol
                %li
                  %h5 Information Received Through Your Third Party Platform Account
                  %p.description When You use Our Services through a Third Party Platform, such as Facebook, You allow Us to access and/or collect certain information from Your Third Party Platform profile/account (such as Your Facebook or Google account) as permitted by the terms of Your agreement and Your privacy settings with the Third Party Platform. The information You allow Us to access and collect varies depending on the site or service You use, as well as the terms of the Third Party Platform and Your privacy setting thereon. By way of example only, We may access and/or collect some or all of the following information from Your Third Party Platform account when You register or use the Services on or through a Third Party Platform:
                  %ul
                    %li Your full name
                    %li Your profile picture or its URL
                    %li Your User ID number, which is linked to publically available information such as Your name and profile photo
                    %li The login e-mail address
                    %li Your physical location and that of Your access devices, including any Wireless Device
                    %li Your gender
                    %li Your birthday
                    %li (collectively "Third Party Platform Information")
                  %p.description By using Our Services through a Third Party Platform, You are authorizing Brasden to collect, store and use Your Third Party Platform Information in accordance with this Privacy Policy and as allowed by the terms of the Third Party Platform and Your privacy settings with the Third Party Platform. You may choose not to allow the Third Party Platform to provide Us with certain information about You, but You might not be able to use certain features of Our Services.
                  %p.description Additionally, You may be able to select a username ("UserName"). Please note, Your UserName will be publically viewable by others who have access to the Services, and in some instances may be viewable to others who have not signed up to use the Services. We are not responsible for Your UserName and the manner in which it may be used by third parties.
                  %p.description When You sign up to use the Services, We may assign You a unique identifying number ("ID Number) which may be publicly displayed to other Users.
                %li
                  %h5 Information Received Through Your Wireless Device: Push Notifications
                  %p.description If You use the Services on or through a Wireless Device, We may, in accordance with the terms of any applicable agreement with the Wireless Device carrier (and as allowed by Your privacy settings) collect certain information such as Your unique device identifier (a number automatically assigned to Your mobile or wireless device), device type, operating system version and information You may choose to provide or share, such as Your e-mail address (collectively "Mobile Information").
                  %p.description We do not ask for, access or track any precise location-based information from Your Wireless Device.
                  %p.description We may send push notifications to Your mobile device to provide updates and other relevant messages. You can manage push notifications from the "options" or "settings" page for the mobile application. To ensure You receive proper notifications, We will need to collect certain information about Your device such as operating system and User identification information.
                  %p.description We use mobile analytics software to allow Us to better understand the functionality of our Services on Your phone. This software may record information such as how often You use the application, the events that occur within the application, aggregated usage, performance data, and where the application was downloaded from. We do not link the information We store within the analytics software to any personally identifiable information You submit within the mobile application.
                %li
                  %h5 Information You Provide To Us Directly
                  %p.description When You sign up for the Services (including through a Third Party Platform) We will collect any information You provide to Us directly such as the following:
                  %p.description Registration Information: In order to use certain features of the Services, such as purchasing or registering for a Course, You are required to register for an Account, and in that case, We will collect and store any registration You share with Us, such as Your date of birth, age, e-mail address, password and other information (or if You are enrolling in our Brasden for Business program, Your company's name, e-mail address as well as telephone and address information) that helps Us to confirm Your access to Your Account and understand more about who You are ("Registration Information").
                  %p.description Profile Information: For some Services, You may also have the option of providing additional information about Yourself ("Profile Information") to create a User profile ("Profile") that will be publically viewable by others. You should exercise care and caution in creating Your Profile as Your Profile, including Your Profile Information, will be publically viewable to others. Brasden is not responsible for the information You supply in Your Profile/and or the manner in which it is used by others.
                  %p.description Public Posting / Shared Content: Some of the Services may allow You to interact with other Users and/or post, share, communicate or otherwise transmit content publicly, such as by posting comments in a Course page, sending messages to or chatting with other Users or posting photos (collectively "Shared Content" or "Public Posting"). We may collect and store archives of such Public Posting on Brasden's servers and all Public Postings are subject to this Privacy Policy and may be used or disclosed pursuant to the terms of this Privacy Policy and the Terms of Use, including but not limited to protecting the safety and well being of members of the public, minors, Users, our employees and our Services.
                  %p.description You hereby grant Brasden a non-exclusive right and license to reproduce, distribute, publicly perform, offer, market and otherwise use and exploit the Submitted Content and Shared Content.
                  %p.description You hereby consent to Brasden providing Registration Information and/or Profile Information to Instructors as part of the Course Information when You enroll in a Course. Instructors may have other uses for Course Information. It is Your responsibility when You enroll in a Course to confirm what uses the Instructor will make of Your Profile and Registration Information. Brasden does not control these uses and is therefore not liable for the uses by Instructors.

            %li
              %h5 Payment Information
              %p.description If You make any purchases through our Services, such as Courses, We may collect certain information regarding Your purchase (such as Your name and zip code) as necessary to process Your order, and You will be required to provide certain payment and billing information directly to our payment processing partners, including but not limited to Your name, credit card information, billing address and zip code. We do not directly access, store or collect Your credit card information, and We will not use the payment information We collect except as needed to fulfill Your purchase and/or communicate with You regarding Your transaction.
              %p.description Communications, Support Requests, Potential Abuse: If You contact Us for assistance, or to report a problem, concern, potential abuse or other issues regarding the Services or Users, We may collect and store Your contact information, communication, and/or other information about You, including but not limited to Your name, e-mail address, location, operating system, IP address or activity, and We reserve the right to conduct further research and obtain further information as necessary. We will use the information to respond to You, research Your request/communication, all in accordance with the provisions of this Privacy Policy.
              %p.description Sweepstakes, promotions, and Surveys: From time to time, We may ask You to complete a survey and/or offer You the opportunity to participate in promotions via the Services or through a Third Party Platform. If You choose to participate in a promotion, We will collect and store the information You provide in connection with Your participation in the promotion, such as Your name, e-mail address, date of birth, phone number and whatever other information You will provide, and We will use and/or disclose that information in accordance with this Privacy Policy unless stated otherwise, such as in the official rules (or other guidelines) of the promotion or as stated in another privacy policy that may govern the promotion. All of Our promotions are intended for people who are the age of majority in their respective state, province or country unless otherwise expressly stated. In all cases where required, promotions will have official rules or guidelines that outline what information is being collected or Users will be directed to the most recent version of this Privacy Policy. In some cases, the information collected will be used only to administer the promotion; in other cases, the information collected will be used for Brasden's or the sponsor's marketing purposes. Your information may be used to contact You for winner notification, prize delivery confirmation or other related purposes and/or in accordance with this Privacy Policy. Your entry in the promotion may also result in Your being added to our mailing lists as well as those of our promotional partners associated with the contest or sweepstakes. Acceptance of a prize may require You (unless prohibited by law) to allow Us to post publicly some of Your information via our Services, such as on a winner's page, in the event You win a contest or sweepstakes. In some instances, a third-party advertiser or sponsor may operate or host a promotion on our through our Services, and collect Your information. In those cases, where We are not the sponsor or operator of the promotion, We have no control over the information collected and You should review the official rules as well as the advertiser's or the sponsor's privacy policy applicable to the promotion before participating.

            %li
              %h5 Technical & Usage Information We Collect Through Automated Means
              %p.description When You access the Services, including browsing Our Course catalog, Our servers record and We collect certain information by automated means. This information may include without limitation: (a) technical information about Your computer or Wireless Device, such as Your IP address, operating system type, device ID, browser, domain and other systems information as further explained in this Privacy Policy; and (b) usage statistics about Your interaction with the Services, including Courses accessed, pages visited, portions of the Services used, and other information regarding Your use of the Services.
              %p.description This technical information and usage data, some of which may be linked to Your ID Number, is collected through the use of server log files and tracking technologies, including: (i) cookies, which are small files that websites send to Your computer or Wireless Device to uniquely identify Your browser or mobile device or to store information in Your browser setting; and (ii) web beacons, which are small objects that allow Us to measure the actions of visitors using the Services. For more detailed information regarding how We use cookies and other technology, please review the additional information in this Privacy Policy under the Section entitled "Our Use of Cookies, Web Beacons, and Automated Information Collection."
              %p.description Our servers do not record or recognize names or e-mail addresses of the User, unless the User registers for an Account or provides such information to Us in some other way, such as via a transaction or Submitted Content. The technical information We obtain is collected, used, and stored as aggregated information ("Aggregate Information") which may be used and shared for a number of purposes, including to improve the quality of our Services; evaluate the effectiveness and popularity of certain Services; track User's movements and learning habits; analyze broad demographic trends; verify compliance with our product license agreements; and improve User experience; and as further set forth in this Privacy Policy. We also use non-aggregated data as described in this Policy. We may use and share with third parties Technical Information (defined in section 6 below) or Aggregate Information to show general demographic and preference information among Users. Our collection, use, and disclosure of anonymous and/or Aggregate Information is not subject to any of the restrictions in this Privacy Policy.

            %li
              %h5 Our Use of Cookies, Web Beacons, and Automated Information Collection
              %p.description Like many websites and app providers, Brasden (and/or service providers acting on Our behalf, such as Google Analytics and/or our third party advertisers) uses server log files and automated data collection tools, such as cookies, tags, scripts and web beacons (collectively, "Data Collection Tools") when You access and use our Services. In some cases, We tie the information gathered by these means to our customers' personally identifiable information. These Data Collection Tools automatically track and collect certain technical information that Your browser sends when You use our Services such as Your IP addresses, browser types, browser language, referring and exit pages, URLs, platform type, the number of clicks, domain names, landing pages, clickstream data, pages viewed and the order of those pages, the amount of time spent on particular pages, and the date and time of activity using our Services, and other similar information (collectively "Technical Information"). In some cases, We will associate this Technical Information with Your ID Number for Our internal use. By using Our Services, You consent to Our use of cookies, web beacons and Data Collection Tools.
              %p.description We use cookies for a variety of reasons, including to: (i) analyze the usage of our Services; (ii) provide a more personalized experience; (iII) allow You to more easily login to use our Services; (iv) help make Your use of Our Services more efficient and more valuable by providing You with a customized experience and recognizing You when You return.
              %p.description We may also employ web beacons or other technology for a variety of reasons such as: (i) allowing Us to know if a certain page was visited or whether an e-mail was opened; (ii) allowing Us to advertise more efficiently by excluding our current Users from certain promotional messages or identifying the source of a new installation.
              %p.description You can set Your web browser to warn You about attempts to place cookies on Your computer, limit the type of cookies You allow or refuse cookies altogether; however, You may not be able to use some or all of the features of the Services if You refuse/disable cookies.
              %p.description Please note that third parties partners/providers, such as companies delivering advertisements regarding the Services, may also use cookies or other technologies, and those practices and providers are subject to their own policies. Third parties with whom We partner to provide certain features on Our site may use Local Storage Objects (LSOs) to collect and store information. Various browsers may offer their own management tools for removing HTML5 LSOs. To manage Flash LSOs please click here: http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html .
              %p.description Brasden uses the following types of cookies:
              %ol
                %li Preferences. We use preferences cookies to remember information about Your browser and how you prefer to use Our Service, i.e. to remember Your preferred settings that affect the experience of how Our Services look to You or behave when You access and/or use them, such as Your preferred language. Preference cookies make Your experience of interacting with Our Services more functional and customized to suit Your preferences.
                %li Security. We use security cookies to enable You to log-in and access Our Service, to protect Your Account against fraudulent log-ins by others, and help detect, fight, and protect against abuse or unauthorised usage of Your Account.
                %li Functional. We use functional cookies to make the experience of using Our Services better, like remembering the volume You like your videos to play at.
                %li Session State. We use session cookies to collect information about how You interact with Our Service, to help Us improve Our Services We provide You as well as improve Your browsing experience. We also use session cookies to remember Your log-in details and to be able to process Your purchases of Courses. These are deemed strictly necessary to the working of the Services. If these are disabled, then various functionalities of our Services will be broken.
                %li Analytics. We use analytics cookies, such as Google Analytics, to better understand how Our Services are being used in order to improve User experience. Such User data generated is all anonymous and not linked to personally identifiable information. You can find out more about Google's position on privacy as regards its analytics service at http://www.google.co.uk/intl/en/analytics/privacyoverview.html .

            %li
              %h5 How We Use the Information We Collect
              %p.description Brasden may use the information We collect through Your use of the Services for a variety of purposes, primarily related to providing and improving the quality of our Services. For example, We may use the information We collect in the following ways:
              %ol
                %li Providing, administering, and facilitating Your use of the Services, including the display of customized content and/or targeted advertising;
                %li Notifying You of Courses, new Services, features, promotions, enhancements, and updates, including updates to the Services, Terms of Use, and Privacy Policy;
                %li Marketing our products and/or services to You, including sending You offers, promotions information, newsletters, email campaigns, and communications regarding new, improved or existing products, contests and/or sweepstakes;
                %li Resolving site problems; handling or responding to customer support questions and issues;
                %li Processing or fulfilling Your request(s) and/or order(s) for Courses, products, services, information or features;
                %li Enabling User-to- User communication and interaction and soliciting input and feedback to improve User experience;
                %li Managing Your Account preferences, establishing Your Profile and Registration Information;
                %li Monitoring the technical functioning of the Services and network;
                %li Developing new and/or improved, products, services or offerings;
                %li Providing You with news and newsletters;
                %li To create, review, analyze and share Aggregate Information;
                %li Identifying, researching, and protecting against any actual, potential or threatened misuse, unauthorized use, or unwanted use of any of the Services, including but not limited to researching any claims made by or about other Users and/or about the Services, and such efforts of which may include information provided from third-party sources;
                %li Third party hosting of the Services;
                %li Analyzing trends and User traffic;
                %li Marketing, processing or fulfillment of promotions administered or sponsored by Brasden;
                %li Resolving disputes;
                %li Troubleshooting errors or issues with any of the Services;
                %li Tracking purchases and usage information;
                %li Communicating with You concerning Your Account;
                %li Asking You to participate in surveys about Our Services; or
                %li as We, in Our sole discretion, otherwise determine to be necessary or required to ensure the safety and/or integrity of Our Users, employees, third parties, members of the public, and/or our Services. We also use Your personal information to link or combine User information with other personal information.
              %p.description If You have provided Your email address to Brasden, We will use it for such things as: (i) responding to customer support inquiries; (ii) keeping You informed of Your Course activity, including comments from Instructors, notifications about in-Course status; (iii) updating You on new Courses, product updates, as well as rewards programs; and (iv) in accordance with all of manners set forth in this Privacy Policy.

            %li
              %h5 When and How We May Share/Disclose Your Information with Third Parties
              %p.description We will only share Your information (including personal information) with the following third parties or under the following circumstances or as otherwise described in this Privacy Policy:
              %ol
                %li
                  %h5 Safety, Security, Cooperation with Law Enforcement, & Compliance with Legal Obligations
                  %p.description We may disclose Your information to third parties, including Your personal information, if We, in our sole discretion, have a good faith belief that disclosure is: (1) permitted or required by law; (2) requested in connection with or relevant to a judicial, governmental or legal inquiry, investigation, order, or proceeding; (3) required or reasonably necessary pursuant to a valid subpoena, warrant or other legally valid inquiry or request; (4) reasonably necessary to enforce Our Terms of Use, this Privacy Policy, or any other legal agreements; (5) required to detect, prevent, or otherwise address fraud, abuse, misuse, potential violations of law (or rule/regulation), and/or security or technical issues; or (6) required or reasonably necessary to protect against imminent harm to the rights, property or safety of Brasden, Our Users, employees, any minors, members of the public and/or our Services. We may also disclose information about You to Our auditors or legal advisors in conjunction with accessing Our disclosure obligations and/or rights under this Policy.
                %li
                  %h5 Third Party Business Partners, Service Providers, Contractors or Agents
                  %p.description We may share Your information with third party companies that perform services on Our behalf, including payment processing, order fulfillment, data analysis, marketing services, e-mail campaigns, hosting services, and customer service. While providing the services for Us, these companies may access Your personal information, and are required to use it solely as directed by Us for the purpose of Our requested service. We may also share Your information with third party companies that we partner with to provide certain services to You in connection with the Services, including but not limited to Estacio, Benesse or other similar partners.

                %li
                  %h5 Business Transfers, Sales, Mergers, or Divestitures
                  %p.description In the event that Brasden undergoes a business transition, such as a merger, acquisition, corporate divestiture or dissolution (including bankruptcy), or a sale of all or a portion of its assets, We may share, disclose or transfer all of Your information, including personal information, to the successor organization in such transition.

                %li
                  %h5 Promotions
                  %p.description We may share Your information in connection with any promotion You enter on or through the Services, as necessary to administer, market, sponsor, or fulfill the promotion or as required by applicable laws, rules or regulations (for example, to provide winners' lists or make required filings as appropriate) or in accordance with the applicable rules of the promotion/sweepstakes You enter.

                %li
                  %h5 With Your Permission
                  %p.description Additionally, if You opt-in or otherwise agree to have Your information shared with a third party for marketing purposes, We will share Your information with the third party (or third parties) in which case the third party's use of Your information is subject to the third party's own privacy policy.

                %li
                  %h5 Advertising of Third Party Products/Services
                  %p.description While we do not currently offer advertising on the Services, if we do offer advertising in the future, we may use and share with third party advertisers (and other third parties) certain Technical Information and/or Aggregate Information to show general demographic and preference information among our Users. We may also allow advertisers to collect Technical Information or Aggregate Information, which they may share with Us, through the use of tracking technologies like cookies and web beacons. The information collected may be used to offer You targeted ad-selection and delivery in order to personalize Your User experience by increasing the likelihood that advertisements for products and services You see will appeal to You, a practice known as behavioral advertising, and to undertake web analytics (i.e. to analyze traffic and other end User activity to improve Your experience). To learn more about behavioral advertising or to opt-out of this type of advertising for participating ad networks, You can visit the Network Advertising Initiative website. If You are located in the European Union and would like to opt- out, please visit, this page. Please note this does not opt You out of being served ads. You will continue to receive generic ads.

            %li
              %h5 How Do We Keep Your Information Secure?
              %p.description Brasden takes commercially reasonable security measures to protect against unauthorized access to, or unauthorized alteration, disclosure or destruction of, sensitive data that You share and We collect and store. These security measures may include practices such as keeping Your sensitive data on a secured server behind a firewall, transmitting sensitive information (such as a credit card number) entered on Our Services using secure socket layer technology (SSL), internal reviews of Our data collection practices and platforms, as well as physical security measures to guard against unauthorized access to systems where We store Your information. Unfortunately, however, no system can be 100% secured, and We cannot guarantee that communications between You and Brasden, the Services, or any information provided to Us in connection with the information We collect through the Services will be free from unauthorized access by third parties. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of User information at any time. Your password is an important component of Our security system. As such, it is Your responsibility to protect it. Do not share Your password with any third parties. If Your password has been compromised for any reason, You should change it immediately and contact support@octad.ch with any concerns.
            %li
              %h5 Your Choices Regarding The Use of Your Information
              %p.description As discussed, You can always choose not to provide certain information to Us but You may not be able to use certain features of the Services. If You do not wish to receive promotional communications from Us, You can opt- out by: (i) following the unsubscribe instructions provided in the promotional communication You receive; or (ii) managing Your e-mail preferences by signing into Your Account on The Brasden.com site, clicking on the Account Settings link in under Your Profile button in the site header, and navigating to the Notifications tab.
              %p.description Please note that despite Your opt-out choice or indicated email preferences, We will still send You administrative messages regarding the Services, including, for example, administrative confirmations, order confirmation, important updates regarding the Services, and notices regarding our policies.

            %li
              %h5 How We Respond to Do-Not-Track Signals
              %p.description Because consumers are often unaware that their do-not-track beacons are active, do-not-track does not frequently reflect the actual preferences of Our Users. Accordingly, Brasden does not respond to the federal do-not- track signal. If You would like to receive no promotional communication from Brasden, You are free to follow the procedure described in the previous section to unsubscribe.

            %li
              %h5 How to Access & Update Your Information
              %p.description You may access and update Your information that Brasden collects and maintains in the following ways:
              %ol
                %li
                  %h5 Information We Receive from a Third Party Platform or Wireless Device
                  %p.description To manage the information Brasden receives about You from a Third Party Platform or Wireless Device, please follow the instructions provided by the Third Party Platform or Wireless Device provider for updating Your information and changing Your privacy settings. Once Brasden receives Your information from a Third Party Platform or Wireless Device, that information is stored and used by Brasden in accordance with this Privacy Policy.
                %li
                  %h5 Information We Receive Directly from You
                  %p.description You may update the information You provide directly to Brasden by logging into Your Account and updating Your Account information.
                %li
                  %h5 Right of Access to Your Information
                  %p.description You may also submit any requests for access to Your personal data to privacy@octad.ch or in writing to Attn Privacy/Legal Brasden, Inc. Gubelstrasse 12, 3CH-6300 Brasden, Switzerland. Please allow up to thirty (30) days for a response.

                %li
                  %h5 How to Delete Your Account and what Happens when Your Account is Terminated or Deleted
                  %ol
                    %li
                      %h5 Deactivating Your Account
                      %p.description If you wish to delete Your Account, You may do so by visiting your edit account page.
                      %p.description Should You require any assistance or encounter any difficulty in deleting Your Account You may also contact Us via email at support@octad.ch or via our Support Center, and We will make commercially reasonable efforts to respond to Your request within 24 hours.

                    %li
                      %h5 Account Terminated or Deleted
                      %p.description Please be aware that even after Your Account is terminated or deleted some or all of Your information may still remain visible to others, including but not limited to any information that has been: (a) incorporated into others User's content, comments, postings, submissions, including but not limited to Course comments ; (b) copied, stored or disseminated by other Users; (c) shared or disseminated by You or others such as in a Public Posting; or (4) posted on a Third Party Platform. A request to delete and/or termination of Your Account will not result in the removal of information collected and already put in aggregate form or information that cannot, in Our sole discretion, be removed without undue burden to Brasden. Brasden is not able and/or obligated to remove any of Your information from a Third Party Platform.
                      %p.description Moreover, please be aware that even after You delete Your Account or Your Account is terminated, Your information, is not deleted in its entirety from Our servers and may not be deleted from servers of the Third Party Platform You use to access Our Services. We may retain backup copies of Your information, including personal information on Our servers or databases (and/or any authorized third party servers or databases We use) to assist with any legal obligations, resolve disputes, and enforce Our agreements. Such information may be disclosed pursuant to this Privacy Policy regardless of whether Your Account is deleted or terminated. We will retain Your information for as long as it serves a reasonably useful commercial purpose. Moreover, any Third Party Platform that You use to access the Services may also retain backup copies of Your information even after Your Account is deleted or terminated which may be used and/or disclosed in accordance with their privacy policy.

            %li
              %h5 Modifications to this Privacy Policy
              %p.description From time to time, We may update this Privacy Policy to clarify our practices or to reflect new or different privacy practices, such as when We add new features, and College of Brasden reserves the right to modify and/or make changes to this Privacy Policy at any time. If We make any material change We will notify You using prominent means such as by email notice sent to the email address specified in Your Account or by posting a notice on Our Services. Other modifications will become effective on the day they are posted unless stated otherwise.
              %p.description Any notifications regarding changes that have been posted on Our site may be removed after 30 days. If You have not used the Services within 30 days, please consult the top of this Privacy Policy to determine when this Privacy Policy was last revised as there may be changes that have occurred since Your last visit.
              %p.description If You continue to use the Services, after the effective date of any change, then such access and/or use will be deemed an acceptance of and an agreement to follow and be bound by the Privacy Policy as changed. The revised Privacy Policy supersedes all previous Privacy Policies. For this reason, We encourage You to review this Privacy Policy any time You use the Services, and recommend that You print out a copy for Your records. Upon Our request, You agree to accept or sign a non-electronic version of this Privacy Policy and any other policies or agreements set forth or available through any Third Party Platform.

            %li
              %h5 International Operations: A Note to Users Outside Of The U.S. and the EU
              %p.description College of Brasden stores information about visitors to Our Services and Users on servers located in the United States. If You are using the Services from outside the United States and the European Union, please know the data and personal information You submit will be transferred to and stored in servers in the United States or other countries. The data protection and other laws of the United States and/or other countries might not be as comprehensive as those in Your country. By submitting Your data and/or using Our Services, You consent to the transfer, storing, and processing of Your data in and to the United States.
              %p.description Personal data collected within Switzerland and the European Economic Area ("EEA") may be transferred to, and stored at, a destination outside of Switzerland and the European Economic Area ("EEA"). The data We hold may also be processed by employees operating outside of Switzerland and the EEA who work for Us or one of our affiliates or for one of Our vendors. Such staff may be engaged in, among other things, (i) the processing of transactions and Your payment details and (ii) the provision of support services. By submitting Your personal data or engaging in College of Brasden Courses, You agree to this transfer, storing or processing.

            %li
              %h5 Questions
              %p.description Please feel free to contact Us by submitting a request to privacy@brasden.ch with any questions, concerns, or disputes You may have regarding our Privacy Policy. Please put "Privacy Policy" in the subject line so Your message can be directed to the correct person(s). You may also contact Us via postal mail at College of Brasden, Inc. Attn: Legal, Gubelstrasse 12, 3CH-6300 Brasden, Switzerland.
