.container
  .row
    .col-lg-12
      %h2 Professor Terms of Service
      .card.information-card
        .content
          %h4 These Professor Terms & Conditions were last updated February 19, 2017.
          %p.description If you are an Professor, these Professor Terms & Conditions (the “Professor Terms”) contain the terms and conditions of Your participation as an Professor via Brasden’s Services. This is a binding agreement between you and Brasden and is incorporated by reference into Brasden’s Terms of Use (“Terms of Use”).
          %p.description Any version of these Professor Terms in a language other than English is provided for convenience and you understand and agree that the English language will control if there is any conflict.
          %ol
            %li
              %h5 Key Definitions
              %ul
                %li "Base Price" means the course price set by Brasden.
                %li "Base Currency" means the currency of the Base Price.
                %li "Base Exchange Rate" means a system-wide rate used by Brasden for foreign currency conversion and does not include any fee or mark-up by Brasden. The rate is established using one or more third parties and is fixed periodically. Accordingly, the Base Exchange Rate may not be identical to the applicable market rate in effect at the specific time a foreign currency conversion is processed.
                %li "Professor Revenue" shall mean Net Amount less any refunds paid.
                %li "Gross Amount" means the amount actually received by Brasden for purchases by Students for Your Course.
                %li "Net Amount" means Gross Amount, less (1) Taxes (pursuant to section 11); (2) for web sales.
                %li All other capitalized terms used and not otherwise defined herein shall have the meaning ascribed to them in Brasden’s Terms of Use.

            %li
              %h5 Agreement
              %p.description As an Professor You are contracting directly with Brasden, Inc., a Corporation Branch in  Brasden, Switzerland. Additionally, although We may utilize other Brasden subsidiaries to facilitate Your payments, Your contract remains between You and Brasden, Inc.
            %li
              %h5 Your Relationship with Students
              %p.description Professors do not have a direct contractual relationship with Students. The only information You will receive about Students is what is provided to You through the Services (“Student Related Data”). You understand and agree that You will indemnify Brasden for any issues arising out of Your use of any Student Related Data.
            %li
              %h5 Obligations
              %p.description As a Professor, You represent, warrant, and covenant that:
              %ol
                %li You will visit www.octad.ch and complete the Professor enrollment form and agree again to the pricing terms.
                %li You will be responsible for all of Your Submitted Content. You further agree that You own or have the necessary licenses, rights, consents, and permissions, and the authority to authorize Brasden, to reproduce, distribute, publicly perform (including by means of a digital audio transmission), publicly display, communicate to the public, promote, market and otherwise use and exploit any of Your Submitted Content on and through the Services in the manner contemplated by these Professor Terms;
                %li No Submitted Content shall infringe or misappropriate any intellectual property right of a third party;
                %li You have the required qualifications, credentials and expertise, including without limitation, education, training, knowledge, and skill sets, to teach and offer the services You offer on Your Course and through the Services;
                %li You will not post or provide any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, incorrect, infringing, defamatory or libelous content or information;
                %li You will not upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Services or to any User;
                %li You will not use the Services for any business other than for providing tutoring, teaching and instructional services to Students;
                %li You will not engage in any activity that will require Brasden to obtain any licenses from or pay any royalties to any third party, including, by way of example and not limitation, the payment of royalties for the public performance of any musical works or sound recordings;
                %li You will not copy, modify, distribute, reverse engineer, deface, tarnish, mutilate, hack, or interfere with Company Content and/or the Services or operations thereof, except as permitted in these Professor Terms;
                %li You will not frame or embed the Services in a manner to embed a free coupon version of your course or other similar functionality intended to circumvent the Services;
                %li You will not impersonate another person or gain unauthorized access to another person's Account;
                %li Your use of the Services are subject to Brasden's approval, which We may grant or deny in Our sole discretion;
                %li You will not introduce any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Services or operation thereof; scrape, spider, use a robot or other automated means of any kind to access the Services;
                %li You will not interfere with or otherwise prevent other Professors from providing their services or Courses;
                %li You will maintain accurate Account information;
                %li You shall respond promptly to Students and ensure a quality of service commensurate with the standards of Your industry and instruction services in general;
                %li You are over the age of 18 or, if not, you are between the ages of 13 and 17 and a third party parent or legal guardian has agreed to these Professor Terms, as well as all other of Our terms and policies as shall be posted on Our Services from time to time, and will assume responsibility and liability for Your performance and compliance hereunder.

            %li
              %h5 License to Brasden
              %p.description You hereby grant Brasden a non-exclusive right and license to reproduce, distribute, publicly perform, offer, market and otherwise use and exploit the Submitted Content through the Services, and sublicense it to Users for these purposes directly or through third parties. For more information on how we may use Submitted Content please visit Our Privacy Policy. Notwithstanding the foregoing, and subject to the Professor Terms, if you are a Professor, unless specifically stated otherwise, You have the right to remove all or any portion of Your Submitted Content from the Services at any time. Removal of Your Submitted Content will terminate the foregoing license and rights sixty (60) days after such removal as to new Users, provided, however, that any rights given to Users prior to that time will continue in accordance with the terms granted to such Users.
              %p.description You hereby agree that We may record all or any part of any Courses (including video and voice chat communications) for quality control and delivering, marketing, promoting, demonstrating or operating the Services. You hereby grant Brasden permission to use Your name, likeness, image or voice in connection with offering, delivering, marketing, promoting, demonstrating, and selling the Services, Courses, Company Content and Submitted Content and waive any and all rights of privacy, publicity, or any other rights of a similar nature in connection therewith, to the extent permissible under applicable law.

            %li
              %h5 Trust & Safety
              %p.description By agreeing to these Professor Terms, You also agree to abide by the Trust & Safety policies found here and more specifically, the list of restricted topics found here. Please check both periodically as there will be minor changes made to the policies and restricted list from time to time. Brasden reserves the right to remove Courses and Professors at its sole discretion, as described in Our Terms of Use.
            %li
              %h5 Payments
              %p.description If You do not opt into any of Brasden’s optional Marketing Programs, We will pay You fifteen percent (15%) of the Net Amount received for Your Course less any applicable deductions such as Student refunds (“Standard Revenue Share”). If Brasden changes the Standard Revenue Share, we will provide you thirty (30) days notice via email or prominent notice on the Services.
              %p.description So that Company can pay you in a timely manner, you must have a debit card account in good standing linked to your account. Payment will be made weekly on Thursdays. You are responsible for providing Company with all identifying and tax information necessary for the payment of amounts due.
            %li
              %h5 Taxes
              %p.description You understand and agree that You are responsible for any taxes on Your income. We reserve the right to withhold payment if we do not receive proper tax documentation. With regard to sales tax on the sale of Your Courses, the following applies:
              %ol
                %li
                  %h5 European Union
                  %p.description In the event that the sale or delivery of a Course or any Submitted Content to any Student in the European Union is subject to any value added tax ("VAT"), under applicable law, Brasden will collect and remit the VAT to the competent tax authorities for sales of such Courses or Submitted Content to Students in the European Union. Brasden may at its Own discretion increase the Sale Price where Brasden is of the view that VAT may be due and Brasden will have a liability to account for such. You will indemnify and hold Brasden harmless against any and all claims by any tax authority for any underpayment of VAT, and any penalties and/or interest thereon on Your Professor Revenue or otherwise.
                %li
                  %h5 All Other Countries
                  %p.description For sales of any Courses or Submitted Content in countries other than the European Union, South Korea and Japan, You are responsible for following the requirements of the appropriate taxing authority related to sales tax on Your Courses (which may be different to the tax authority in Your own location). Brasden is unable to provide You with tax advice and You should consult Your own tax advisor.
            %li
              %h5 Deletion of Your Account
              %p.description If You wish to delete Your Professor Account, You may do so by visiting your edit account page. We will use commercially reasonable efforts make any remaining scheduled payments due and owing to You prior to deleting Your Account. You hereby understand and agree that if Student(s) have previously enrolled to Your Course(s), after Your Account has been deleted Your name and such Course(s) will remain accessible to those such Students who enrolled to Your Course(s). Should You require any assistance or encounter any difficulty in deleting Your Professor Account You may also contact Us via email at support@octad.ch or via our Support Center, and We will make commercially reasonable efforts to respond to Your request within 24 hours.

            %li
              %h5 Modifications to These Professor Terms
              %p.description From time to time, We may update these Professor Terms to clarify our practices or to reflect new or different practices, such as when We add new features, and Brasden reserves the right to modify and/or make changes to these Professor Terms at any time. If We make any material change We will notify You using prominent means such as by email notice sent to the email address specified in Your Account or by posting a notice on Our Services. Other modifications will become effective on the day they are posted unless stated otherwise. If You continue to use the Services, after the effective date of any change, then such access and/or use will be deemed an acceptance of and an agreement to follow and be bound by the Professor Terms as changed. The revised Professor Terms supersedes all previous Professor Terms.
