.container
  .row
    .col-lg-12
      %h2 Terms of Service
      .card.information-card
        .content
          %h4 These Terms of Use were last updated on February 19, 2017.
          %ol
            %li
              %h5 Introduction
              %p.description THESE TERMS OF USE ("TERMS") BIND YOU, THE COMPANY YOU REPRESENT, AND THE COMPANY THAT REGISTERED YOU (COLLECTIVELY "YOU") TO THE TERMS AND CONDITIONS SET FORTH HEREIN IN CONNECTION WITH YOUR USE OF BRASDEN, INC.'S ("OUR", "WE", "US", OR “BRASDEN”) SOFTWARE, WEBSITE, MOBILE APPLICATIONS OR CONNECTED APPLICATIONS SUCH AS APPLE TV, SERVICES OR OTHER OFFERINGS ON OUR WEBSITE (COLLECTIVELY, OUR "SERVICES"). BY USING ANY OF THE BRASDEN SERVICES OR CLICKING ON THE "SIGNUP" BUTTON, YOU AGREE TO BECOME BOUND BY THE TERMS. IF YOU DO NOT AGREE TO ALL THESE TERMS, CLICK ON THE "X" BUTTON AND DO NOT USE THE BRASDEN SERVICES. BRASDEN ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL THESE TERMS, TO THE EXCLUSION OF ALL OTHER TERMS. IF THESE TERMS ARE CONSIDERED AN OFFER BY BRASDEN, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.
              %p.description Pre-arbitration clause:
              %p.description IMPORTANT: BY AGREEING TO THESE TERMS YOU AGREE TO RESOLVE DISPUTES WITH BRASDEN THROUGH BINDING ARBITRATION (AND WITH VERY LIMITED EXCEPTIONS, NOT IN COURT), AND YOU WAIVE CERTAIN RIGHTS TO PARTICIPATE IN CLASS ACTIONS, AS DETAILED IN SECTION 18.
              %p.description All capitalized terms used and not otherwise defined herein shall have the meaning ascribed to them in Brasden’s Privacy Policy ("Privacy Policy"), and Professor Terms & Conditions (“Professor Terms").
              %p.description Any version of these Terms of Use in a language other than English is provided for convenience and you understand and agree that the English language will control if there is any conflict.

            %li
              %h5 Additional Agreements
              %p.description Any personal information submitted in connection with Your use of the Services is subject to Our Privacy Policy, which is hereby incorporated by reference into these Terms.
              %p.description Additionally, if You are an Professor (as defined below), You are also subject to the Professor Terms, which are hereby incorporated by reference into these Terms. If You are an Professor, and there is a conflict between these Terms and the Professor Terms, the Professor Terms will govern.

            %li
              %h5 General
              %p.description Our Services enable students ("Students") to connect with independent contractor professors (the "Professors”, collectively with Students, the "Users") who provide live instruction, tutoring, and learning services (the "Courses") via Our Services. The Services include, without limitation, facilitating and hosting Courses and supporting materials, and taking feedback from Users.
              %p.description From time to time, We may update these Terms to clarify our practices or to reflect new or different practices, such as when We add new features, and Brasden reserves the right in its sole discretion to modify and/or make changes to these Terms at any time. If We make any material change to these Terms, We will notify You using prominent means such as by email notice sent to the email address specified in Your Account or by posting a notice through Our Services. Modifications will become effective on the day they are posted unless stated otherwise.
              %p.description Your continued use of Our Services after changes become effective shall mean that You accept those changes. You should visit the Services regularly to ensure You are aware of the latest version of the Terms, as any revised Terms shall supersede all previous Terms.
              %p.description Brasden may modify the Services or discontinue their availability at any time.
              %p.description You are solely responsible for all service, telephony, data charges and/or other fees and costs associated with Your access to and use of the Services, as well as for obtaining and maintaining all telephone, computer hardware, and other equipment required for such access and use.
              %p.description If You elect to access or use Our Services that involve payment of a fee, then You agree to pay, and will be responsible for payment of, that fee and all taxes associated with such access or use. If You provide credit card information to pay for such fees then You hereby represent and warrant that You are authorized to supply such information and hereby authorize Brasden to charge Your credit card on a regular basis to pay the fees as they are due.
              %p.description If Your payment method fails or Your Account is past due, then We may collect fees owed using other collection mechanisms. This may include charging other payment methods on file with Us and/or retaining collection agencies and legal counsel. We may also block Your access to any Services pending resolution of any amounts due by You to Brasden.
              %p.description All of Your use, access and other activities relating to the Services must be in compliance with all applicable laws and regulations, including, without limitations, laws relating to copyright and other intellectual property use, and to privacy and personal identity. Further, access to Our Services from territories where their contents are illegal is prohibited. Those who choose to access or use the Services from locations outside of the United States do so at their own initiative and are responsible for compliance with all local rules including, without limitation, rules about the internet, data, e-mail, or privacy. You further agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which You reside. If You use the Services or Third Party Platforms (as defined in the next section) from countries outside of the Switzerland You must agree to abide by all local rules regarding online conduct and acceptable content.

            %li
              %h5 General Disclaimer
              %p.description The Services are only a marketplace for Professors and Students. We do not hire or employ Professors nor are We responsible or liable for any interactions involved between the Professors and the Students who purchase a seat in a Professor’s Course via the Services. We are not responsible for disputes, claims, losses, injuries, or damage of any kind that might arise out of or relate to conduct of Professors or Students, including, but not limited to, any Student's reliance upon any information provided by a Professor.
              %p.description We do not control Submitted Content (as defined below) posted on the Services and, as such, do not guarantee in any manner the reliability, validity, accuracy or truthfulness of such Submitted Content. You also understand that by using the Services, Brasden may expose You to Submitted Content that You consider offensive, indecent, or objectionable. Brasden has no responsibility to keep such content from You and no liability for Your access or use of any Submitted Content, to the extent permissible under applicable law.
              %p.description The Services may give You access to links to third party platforms ("Third Party Platforms"), either directly or through Courses or Professors. Brasden does not endorse any of these Third Party Platforms and does not control them in any manner. Accordingly, Brasden does not assume any liability associated with Third Party Platforms. You need to take appropriate steps to determine whether accessing a Third Party Platform is appropriate, and to protect Your personal information and privacy on such Third Party Platform.

            %li
              %h5 Conduct
              %p.description You may only access the Services for lawful purposes. You are solely responsible for the knowledge of and adherence to any and all laws, rules, and regulations pertaining to Your use of the Services. You agree not to use the Services or the Company Content (as defined below) to recruit, solicit, or contact in any form, Instructors or potential users for employment or contracting for a business not affiliated with Us without Our advance written permission, which may be withheld in Our sole discretion. You assume any and all risks from any meetings or contact between You and any Professors or other Users of the Services.

            %li
              %h5 Specific Obligations of Professors
              %p.description
                Please see
                = link_to 'Professor Terms.', professor_terms_path
            %li
              %h5 Specific Obligations of Students
              %p.description As a Student, You represent, warrant and covenant that:
              %ol
                %li You have read, understood, and agree to be bound by the pricing information (see the Pricing section below) before using the Services or registering for a Course.
                %li You are over the age of 18, or, if not, You will only use the Services with the involvement, supervision, and approval of a parent or legal guardian. Children under the age of 13 may not register for an Account or register or purchase Courses.
                %li You will not upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Services.
                %li You will not post or provide any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, incorrect, infringing, defamatory or libelous content or information.
                %li You will not copy, modify, reverse engineer, reproduce, distribute, publicly display, publicly perform, communicate to the public, create derivative works from, deface, tarnish, mutilate, hack, interfere with, or otherwise use and exploit any Company Content, the Services or Courses or Submitted Content except as permitted by these Terms or the relevant Instructor as applicable.
                %li You will not frame or embed the Services to circumvent the Services.
                %li You will not impersonate another person or gain unauthorized access to another person's Account.
                %li You will not introduce any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Services or operation thereof; scrape, spider, use a robot or other automated means of any kind to access the Services.
                %li You will not disclose any personal information to a Professor, and otherwise will assume responsibility for controlling how Your personal information is disclosed or used, including, without limitation, taking appropriate steps to protect such information.
                %li You will not solicit personal information from any Professor or other Student.
                %li Students understand and agree that Professors from whom Students may have purchased Course(s) may choose to terminate their Accounts with Brasden and become inactive. Brasden does not guarantee Professor availability to Students and shall not be held liable for any issues relating to Professor availability.

            %li
              %h5 Registration
              %p.description To use certain Services, You will need to register and obtain an account and password. When You register, the information You provide to Us during the registration process will help Us in offering content, customer service, network management and other services. You are solely responsible for maintaining the confidentiality of Your account, email, and password (collectively, Your "Account") and for all activities associated with or occurring under Your Account. You represent and warrant that Your Account information will be accurate at all times. You must notify Us (a) immediately of any unauthorized use of Your Account and any other breach of security, and (b) ensure that You exit from Your Account at the end of each use of the Services. To the extent permissible under applicable law, we cannot and will not be responsible for any loss or damage arising from Your failure to comply with the foregoing requirements or as a result of use of Your Account, either with or without Your knowledge, prior to Your notifying Us of unauthorized access to Your Account.
              %p.description You may not transfer Your Account to any other person and You may not use anyone else's Account at any time without the permission of the Account holder. In cases where You have authorized or registered another individual, including a minor, to use Your Account, You are fully responsible for (i) the online conduct of such Student; (ii) controlling that Student's access to and use of the Services; and (iii) the consequences of any misuse.
            %li
              %h5 Content, Licenses & Permissions
              %p.description All software, technology, designs, materials, information, communications, text, graphics, links, electronic art, animations, illustrations, artwork, audio clips, video clips, photos, images, reviews, ideas, and other data or copyrightable materials or content, including the selection and arrangements thereof is "Content." Where Brasden provides Content to You in connection with the Services, including, without limitation, the software, the products and the site, it is "Company Content". Content uploaded, transmitted or posted to the Services by a User is "Submitted Content". Content remains the proprietary property of the person or entity supplying it (or their affiliated and/or third party providers and suppliers) and is protected, without limitation, pursuant to domestic and foreign copyright and other intellectual property laws. You hereby represent and warrant that You have all licenses, rights, consents, and permissions necessary to grant the rights set forth in these Terms to Brasden with respect to Your Submitted Content and that Brasden shall not need to obtain any licenses, rights, consents, or permissions from, or make any payments to, any third party for any use or exploitation of Your Submitted Content as authorized in these Terms or have any liability to You or any other party as a result of any use or exploitation of Your Submitted Content as authorized in these Terms.
              %p.description Brasden hereby grants You (as a User) a limited, non-exclusive, non-transferable license to access and use Submitted Content and Company Content, for which You have paid all required fees, solely for Your personal, non-commercial, educational purposes through the Services, in accordance with these Terms and any conditions or restrictions associated with particular Courses or Services. All other uses are expressly prohibited absent Our express written consent. You may not reproduce, redistribute, transmit, assign, sell, broadcast, rent, share, lend, modify, adapt, edit, create derivative works of, license, or otherwise transfer or use any Submitted Content or Company Content unless We give You explicit permission to do so. Submitted Content and Company Content is licensed, and not sold, to You. Instructors may not grant You license rights to Submitted Content You access or acquire through the Services and any such direct license shall be null and void and a violation of these Terms.
              %p.description Notwithstanding the foregoing, We reserve the right to revoke this license to access and use Submitted Content and Company Content granted to You as described above, as further detailed in section 15 below.
              %p.description BRASDEN RESPECTS ALL COPYRIGHT, PRIVACY, DEFAMATION AND OTHER LAWS RELATING TO CONTENT AND INFORMATION AND WILL NOT TOLERATE VIOLATION OF SUCH LAWS. NOTWITHSTANDING THE FOREGOING, BRASDEN DOES NOT SCREEN THE SUBMITTED CONTENT AND ALL USE OF THE SUBMITTED CONTENT BY YOU IS AT YOUR OWN RISK AND BRASDEN SHALL HAVE NO LIABILITY FOR SUCH USE. IN PARTICULAR, NO REVIEW OR POSTING OR APPEARANCE OF THE SUBMITTED CONTENT ON THE SERVICES OR THROUGH THE SERVICES IS INTENDED TO ACT AS AN ENDORSEMENT OR REPRESENTATION THAT ANY SUBMITTED CONTENT IS FREE OF VIOLATION OF ANY COPYRIGHT, PRIVACY OR OTHER LAWS OR WILL SUIT A PARTICULAR PURPOSE OR BE ACCURATE OR USEFUL. If You believe that Submitted Content of Yours violates any law or regulation or is inaccurate or poses any risk whatsoever to a third party it is Your responsibility to take such steps You deem necessary to correct the situation. If You believe that Submitted Content of a third party or any Company Content violates any laws or regulations, including, without limitation, any copyright laws, You should report it to Brasden in accordance with the procedures that We maintain under Our Intellectual Property Policy.
              %p.description All rights not expressly granted in these Terms are retained by the Content owners and these Terms do not grant any implied licenses.
              %p.description You may decide to send us unsolicited ideas, including ideas for new promotions, products, services, applications, technologies or processes or other ideas (collectively, "User Ideas"). You must not transmit any User Ideas to or through the Services or Third Party Platforms, or to Us through e-mail, that You consider to be confidential or proprietary. You agree that We shall not be required to treat any User Ideas as being confidential or proprietary. You are responsible and liable for any User Ideas You submit. You agree that by submitting User Ideas to Us, including any concepts, know-how or ideas, You hereby grant Us a perpetual, worldwide, non-exclusive, royalty- free, sublicenseable and transferable license to use, reproduce, distribute, sell, exploit, prepare derivative works of and display the User Ideas in connection with the Services, and for Brasden's (and its successor's) business, including without limitation, for promoting and redistributing part or all of the User Ideas (and derivative works thereof) in any media formats and through any media channels whether now known or hereafter developed, without payment or accounting to You or others. We are under no obligation to evaluate, review, or use any User Idea.

            %li
              %h5 Pricing, Payment & Taxes
              %ol
                %li
                  %h5 Pricing
                  %p.description Pricing of Brasden Courses is determined in accordance with the terms set forth in Our Instructor Terms and Our Pricing and Promotions Policy. If You are a Student, You agree to pay the fees for Courses that You purchase, and hereby authorize Us to charge Your credit card for such fees. If Your credit card is declined, You agree to pay Us the fees within thirty (30) days of notification from Us, and pay (at Our discretion) a late payment charge of 1.5% per month, or the maximum permitted by law, whichever is greater.
                %li
                  %h5 Payment.
                  %p.description All payments are made to Brasden, Inc.
                  %p.description European Union Users. By purchasing Courses (e.g. clicking or tapping the relevant purchase button), You are confirming that You want the Course immediately credited to Your Account and that by doing so You are hereby waiving any and all cancellation rights under applicable laws, including but not limited to the EU Consumer Rights Directive (2011/83/EU) and/or any national laws implementing it.
                %li
                  %h5 Taxes
                  %p.description European Union. In the event that the sale or delivery of a Course or any Submitted Content to any Student in the European Union is subject to any value added tax ("VAT"), under applicable law, Brasden will collect and remit the VAT to the competent tax authorities for sales of such Courses or Submitted Content to Students in the European Union. Brasden may at its own discretion increase the Sale Price where Brasden is of the view that VAT may be due and Brasden will have a liability to account for such. You will indemnify and hold Brasden harmless against any and all claims by any tax authority for any underpayment of VAT, and any penalties and/or interest thereon.
                  %p.description All Other Countries. For sales of any Courses or Submitted Content in countries other than the European Union, You are responsible for remitting the taxes to the appropriate taxing authority (which may be different to the tax authority in Your own location). Brasden is unable to provide You with tax advice and You should consult Your own tax advisor.


            %li
              %h5 Trademarks
              %p.description The trademarks, service marks, and logos (the "Trademarks") used and displayed through Our Services or in any Company Content are Our registered or unregistered Trademarks or of Our suppliers or third parties and are protected pursuant to U.S. and foreign trademark laws. All rights are reserved and You may not alter or obscure the Trademarks, or link to them without Our prior approval.

            %li
              %h5 Warranty Disclaimer
              %p.description THE SERVICES, COMPANY CONTENT, SUBMITTED CONTENT, COURSES, AND ANY OTHER MATERIALS MADE AVAILABLE ON OR THROUGH THE USE OF THE SERVICES ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, BRASDEN AND ITS AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS, SPONSORS AND AGENTS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, NON- INFRINGEMENT, ACCURACY, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE. BRASDEN AND ITS AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS, SPONSORS AND AGENTS DO NOT WARRANT THAT YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, ERROR-FREE OR SECURE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICES, THE SUBMISSIONS, THE SERVER(S) ON WHICH THE SERVICES ARE HOSTED, OR ANY SERVICES AVAILABLE ON ANY THIRD PARTY PLATFORM ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. NO OPINION, ADVICE OR STATEMENT OF BRASDEN OR ITS AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS, SPONSORS, AGENTS, MEMBERS OR VISITORS, WHETHER MADE THROUGH THE USE OF THE SERVICES, OR ON THIRD PARTY PLATFORMS OR OTHERWISE, SHALL CREATE ANY WARRANTY. YOUR USE OF THE SERVICES, INCLUDING WITHOUT LIMITATION ANY SERVICES PROVIDED ON ANY THIRD PARTY PLATFORM, ARE ENTIRELY AT YOUR OWN RISK.

            %li
              %h5 Limitation of Liability
              %p.description NEITHER BRASDEN NOR ANY OF OUR SUBSIDIARIES, AFFILIATES, LICENSORS, SUPPLIERS, ADVERTISERS OR SPONSORS, NOR OUR OR THEIR DIRECTORS, OFFICERS, EMPLOYEES, CONSULTANTS, AGENTS OR OTHER REPRESENTATIVES, ARE RESPONSIBLE OR LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE OR OTHER DAMAGES (INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS, LOSS OF DATA OR LOST PROFITS), UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY ARISING OUT OF OR RELATING IN ANY WAY TO THE SERVICES AND/OR MATERIALS, INCLUDING ANY MATERIALS AVAILABLE THROUGH ANY THIRD PARTY PLATFORM, SUBMISSIONS, ANY LINKED WEBSITES OR ANY CODE, PRODUCT OR SERVICE PURCHASED, ACCESSIBLE OR USABLE THROUGH THE SERVICES OR ANY THIRD PARTY PLATFORM. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SERVICES, MATERIALS, INCLUDING ANY PRODUCTS OR SERVICES AVAILABLE THROUGH ANY THIRD PARTY PLATFORM, SUBMISSIONS OR ANY LINKED WEBSITES IS TO STOP USING THE SERVICES, MATERIALS, SUBMISSIONS, PRODUCTS, OR LINKED WEBSITES, AS APPLICABLE. THE SOLE AND EXCLUSIVE MAXIMUM LIABILITY TO BRASDEN FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING WITHOUT LIMITATION, NEGLIGENCE) OR OTHERWISE, SHALL BE THE TOTAL AMOUNT PAID BY YOU TO BRASDEN IN THE PRECEDING TWELVE (12) MONTHS, IF ANY, TO ACCESS OR USE THE SERVICES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. NO COMMUNICATION OF ANY KIND BETWEEN YOU AND BRASDEN OR A REPRESENTATIVE OF BRASDEN CONSTITUTES A WAIVER OF ANY LIMITATIONS OF LIABILITY HEREUNDER OR CREATE ANY ADDITIONAL WARRANTY NOT EXPRESSLY STATED IN THE TERMS. MULTIPLE CLAIMS WILL NOT INCREASE THE MONETARY DAMAGES LIMIT STATED HEREIN. YOU AGREE THAT THE DAMAGE EXCLUSIONS IN THESE TERMS OF USE SHALL APPLY EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
              %p.description Inaccuracies. A possibility exists that the Services provided on any Third Party Platform could include inaccuracies or errors, or information or materials that violate these Terms. Additionally, a possibility exists that unauthorized alterations could be made by third parties to the Services available on any Third Party Platform. Although Brasden attempts to ensure the integrity of the Services on Third Party Platforms, we make no guarantees as to the Services' completeness or correctness. In the event that a situation arises in which the Services' completeness or correctness is in question, please submit a request to privacy@octad.ch (with the subject line "Inaccuracies in Services on Third Party Platform Name") with, if possible, a description of the Services to be checked and the location (URL) where such Services can be found on Our Services or Third Party Platform at issue, as well as information sufficient to enable Us to contact You. We will try to address Your concerns as soon as reasonably practicable. For copyright infringement claims, see our Intellectual Property Policy.
              %p.description System Outages. Brasden periodically schedules system downtime for the Services for maintenance and other purposes. Additionally, unplanned system outages may occur. You agree that Brasden has no responsibility and is not liable for: (a) the unavailability of the Services including those available on Third Party Platforms; (b) any loss of materials, data, transactions or any other information or materials caused by such system outages; (c) the resultant delay, mis-delivery, or non-delivery of data, transactions or any other information or materials caused by such system outages; or (d) any outages caused by any third parties, including without limitation, any companies or servers hosting the Services, any Internet service providers, any Third Party Platforms, or any Internet facilities and networks.

            %li
              %h5 Indemnification
              %p.description You hereby indemnify, defend and hold harmless Brasden, and its affiliates, officers, directors, agents, partners, employees, licensors, representatives and third party providers from and against all reasonably foreseeable losses, expenses, damages, costs, claims and demands, including reasonable attorneys' fees and related costs and expenses, due to or arising out of Your breach of any representation or warranty hereunder. We reserve the right, at Our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by You under this Section 14, and in such case, You agree to fully cooperate as reasonably required with such defense and in asserting any available defenses.
              %p.description Statute of Limitations. Any claim or cause of action arising out of or related to use of the Services, the Terms, or any services or information available through Third Party Platforms, must be filed within 1 year after such claim or cause or action arose regardless of any statutes or law to the contrary. In the event any such claim or cause of action is not filed within such 1-year period, such claim or cause of action are forever barred.
            %li
              %h5 Termination
              %p.description Brasden reserves the right to terminate, suspend, modify, or delete, at Our sole discretion, any (a) Submitted Content, Company Content, Courses, or any Service; and (b) Your access to Our Services or Your Account, as follows:
              %p.description If You breach or violate any of these Terms or any of Our applicable policies, as posted on Our Services from time to time, Brasden may take action immediately without prior notice to You. If We take action pursuant to this section, We shall not have any liability to You for any Course(s) You may have purchased nor for any other use of Our Services associated with Your Account. For avoidance of any doubt, You understand and agree that You will not be compensated nor be eligible for any refund under any circumstances for any such access lost to Our Services, including without limitation to Course(s) You may have purchased;
              %p.description We may also take action for any reason or no reason, in which case We will provide prior notice to You. If We take action pursuant to this section, (a) if You are a Student We will refund You for any access lost to Course(s) that You may have purchased during the three (3) months period prior to such termination, all in accordance with and subject to the terms of Our refund policy set forth herein; and (b) If You are an Instructor, any such termination will also terminate Your right to offer Your Course(s) through Our Services, and Brasden will pay all outstanding amounts owing to You up to termination date. Please note that Students who purchased your Course will retain access to the Course so long as Brasden deems necessary.
              %p.description You may terminate Your use of the Services at any time, either by ceasing to access them, or by deleting Your Account, by following the steps set forth in Our Privacy Policy and subject to the terms therein. We have no obligation to retain any of Your Account or Submitted Content for any period of time beyond what may be required by applicable law. Upon termination, You must cease all use of the Services and Content. Any accrued rights to payment and Sections 4, 5, 11-16 and all representations and warranties shall survive termination.

            %li
              %h5 Electronic Notices
              %p.description By using Our Services or communicating with Brasden, You agree that Brasden may communicate with You electronically regarding security, privacy, and administrative issues relating to Your use of the Services or these Terms. If Brasden learns of a security system's breach, Brasden may attempt to notify You electronically by posting a notice through the Services or sending an email to You. You may have a legal right to receive this notice in writing. To receive free written notice of a security breach (or to withdraw Your consent from receiving electronic notice), please write to Brasden at support@octad.ch. Notice will be deemed given twenty-four hours after e-mail is sent, unless the sending party is notified that the e-mail address is invalid. Alternatively, Brasden may give You legal notice by mail to a postal address, if provided by You through Your use any of the Services. In such case, notice will be deemed given three days after the date of mailing.
            %li
              %h5 Miscellaneous
              %p.description Entire Agreement. These Terms and any policies applicable to You posted on Our Services constitute the entire agreement between the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between the parties with respect to such subject matter.
              %p.description Severability. If any provision of these Terms is found to be illegal, void or unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions of these Terms.
              %p.description Waiver. A provision of these Terms may be waived only by a written instrument executed by the party entitled to the benefit of such provision. The failure of Brasden to exercise or enforce any right or provision of these Terms will not constitute a waiver of such right or provision.
              %p.description Notice. Any notice or other communication to be given hereunder will be in writing and given by facsimile, postpaid registered or certified mail return receipt requested, or electronic mail.
              %p.description No Agency. Nothing in these Terms shall be construed as making either party the partner, joint venture, agent, legal representative, employer, contractor or employee of the other. Neither Brasden nor any other party to these Terms shall have, or hold itself out to any third party as having, any authority to make any statements, representations or commitments of any kind, or to take any action that shall be binding on the other except as provided for herein or authorized in writing by the party to be bound.
              %p.description Governing Laws. These Terms and Your use of the Services shall be governed by the substantive laws of the State of California without reference to its choice or conflicts of law principles that would require the application of the laws of another jurisdiction, and shall be considered to have been made and accepted in the State of California.
