.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            %h2.title Thanks for applying
            %p
              We review applications on a daily basis and process within 1-2 weeks.
              We evaluate based on program needs as well as applicant background.
              You will receive an email from us about the status of your application soon.
        .row
          .col-md-6.col-md-offset-3.m-t-50
            %button.btn.btn-primary.btn-fill.btn-block Read our FAQs
- if Rails.env.production?
  :javascript
    fbq('track', 'CompleteRegistration');
    var google_conversion_id = 863205962;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "S0rNCPWOqm0QyvTNmwM";
    var google_remarketing_only = false;
    fbq('track', 'CompleteRegistration');
  %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
  %noscript
    %div{:style => "display:inline;"}
      %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/863205962/?label=S0rNCPWOqm0QyvTNmwM&guid=ON&script=0", :style => "border-style:none;", :width => "1"}/
  %script{:src => "//platform.twitter.com/oct.js", :type => "text/javascript"}
  :javascript
    twttr.conversion.trackPid('nwbeo', { tw_sale_amount: 0, tw_order_quantity: 0 });
  %noscript
    %img{:alt => "", :height => "1", :src => "https://analytics.twitter.com/i/adsct?txn_id=nwbeo&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", :style => "display:none;", :width => "1"}/
    %img{:alt => "", :height => "1", :src => "//t.co/i/adsct?txn_id=nwbeo&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0", :style => "display:none;", :width => "1"}/
