.container
  .row.m-t-100.m-b-50
    .col-md-6.col-md-offset-3
      .info
        .description
          %h2.light-weight Tuition
          %br
          %p Our unique platform-optimized learning model means higher quality, lower costs, and a better experience.
.section.section-nude-gray
  .container
    .row.m-t-50.m-b-50
      .col-md-6.text-right
        %h1.price
          %sup.per €
          175
      .col-md-6
        %h4.light-weight.m-t-65 PER COURSE
        %p
          %b Enroll up to 4 courses as a time.
        %p
          %b Courses last 10 weeks.
        %p
          %b Course includes 3 hours of class time per week.
        %p
          While you can enroll in as many courses as you wish, only 32 courses are required to achieve a Bachelor of Arts or Bachelor of Science degree (€5,600).
        %p
          Enrolled in 4 courses at a time, a student can complete their Bachelors Degree in as little as 80 weeks (1 year, 7 months).
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in earning your degree?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path } Apply Now
.container
  .row.m-t-100.p-b-20
    .col-md-12
      %small FAQS
    .col-md-6.m-t-20
      %p.p-b-10
        %b DO YOU OFFER FINANCIAL AID?
        %br
        %small No. We believe our pricing is affordable for all students wishing to pursue a Bachelors Degree.
      %p
        %b DO YOU PARTICIPATE IN ANY GOVERNMENT LOAN PROGRAMS?
        %br
        %small No. We believe that our pricing should enable students to pursue higher education without participating in any higher education loan scheme.
    .col-md-6.m-t-20
      %p.p-b-10
        %b ARE YOU ACCREDITED?
        %br
        %small We believe the the quality of an education lies in the teaching not a third-party assessment, and that accreditation prohibits innovation within the online higher education experience, so have chosen not to pursue accreditation.
      %p
        %b WHERE ARE YOU LOCATED?
        %br
        %small Our network of students and teachers are in countries and cities around the world; however, our corporate headquarters is based out of Brasden, Switzerland.
