.container
  .row.m-t-100.m-b-50
    .col-md-8.col-md-offset-2
      .info
        .description
          %h2.light-weight= @degree.name
          %br
          %p= link_to @division.name, divisions_path
      %p= @degree.description
      -# %h4
      -#   %small Current Faculty
      -# .table-responsive
      -#   %table.table
      -#     %thead
      -#       %tr
      -#         %th Name
      -#     %tbody
      -#       - @degree.enrolled_users.professor.approved.each do |user|
      -#         %tr
      -#           %td= link_to user.name, user
      %h4
        %small Sample Courses ( Not all available year-round )
      .table-responsive
        %table.table
          %thead
            %tr
              %th.text-center #
              %th Name
              %th Prerequisites
          %tbody
            = render @degree.courses.includes(:prerequisites).approved.order('created_at asc')
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in enrolling?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path(degree_id: @degree.id) } Apply Now
