.contact-us
  .wrapper
    .main
      .section
        .container
          .row
            .col-md-8.col-md-offset-2.text-center
              %h2.title Get in touch with us
              %p Interested in exploring partnerships? Looking to create a course but don't know where to start?
              %p
                %b Address:
                %br
                Brasden Inc
                %br
                Gubelstrasse 12
                %br
                CH-6300 Brasden, Switzerland
              %p
                %b Email:
                %br
                = mail_to 'contact@brasden.ch'
              %p


          .row
            .col-md-6.col-md-offset-3.text-center
              %h3
                %small Drop us a note
              = simple_form_for @contact, validate: true, html: { class: 'contact'} do |f|
                .row
                  .col-md-6
                    = f.input :first_name, label: false, input_html: { placeholder: 'First Name'}, validate: { presence: true}
                  .col-md-6
                    = f.input :last_name, label: false, input_html: { placeholder: 'Last Name'}, validate: { presence: true}
                .row
                  .col-md-6
                    = f.input :email, label: false, input_html: { placeholder: 'Email'}, validate: { presence: true}
                  .col-md-6
                    = f.input :subject, label: false, input_html: { placeholder: 'Subject'}, validate: { presence: true}
                = f.input :message, label: false, as: :text, input_html: { placeholder: 'Message'}, validate: { presence: true}
                .row
                  .col-md-6.col-md-offset-3
                    = f.submit "Send", class: 'btn btn-primary btn-fill btn-block'
  #contactUsMap.big-map
:javascript
  var myLatlng = new google.maps.LatLng(47.1667775,8.5127561);
  var mapOptions = {
    zoom: 10,
    center: myLatlng,
    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}],
    scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
  }

  var map = new google.maps.Map(document.getElementById("contactUsMap"), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      title:"Brasden Office"
  });

  marker.setMap(map);var myLatlng = new google.maps.LatLng(47.1667775,8.5127561);
  var mapOptions = {
    zoom: 10,
    center: myLatlng,
    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}],
    scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
  }

  var map = new google.maps.Map(document.getElementById("contactUsMap"), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      title:"Brasden Office"
  });

  marker.setMap(map);
