%p
  New
  = @user.role.to_s
  application.
%p
  - if @user.student?
    %ul
      %li
        %b Full name:
        = @user.name
      %li
        %b Email:
        = @user.email
      %li
        %b Degree:
        = @user.taught_degree.try(:name)
  - else
    %ul
      %li
        %b Full name:
        = @user.name
      %li
        %b Email:
        = @user.email
      %li
        %b Degree:
        = @user.taught_degree.try(:name)
      %li
        %b Last Degree Level
        = @user.level.to_s
      %li
        %b Last Degree Major
        = @user.last_degree_major
      %li
        %b Last Degree School
        = @user.last_degree_name
%p
  - unless @user.schools.any?
    = @user.student? ? "Their previous transript is attached" : "Their CV is attached"
  - if @user.schools.any?
    %b Schools
    %ul
      - @user.schools.each do |school|
        %li= "#{school.name} (#{school.degree}) #{school.school_type}"
  - if @user.works.any?
    %b Jobs
    %ul
      - @user.works.each do |work|
        %li= "#{work.name} (#{work.position})"
%br
- content_for :cta_section do
  %tr
    %td
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => interview_user_url(@user), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"} Interview
  %br
  %br
  %tr
    %td
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => approve_user_url(@user), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"} Approve
  %br
  %tr
    %td
      %table.mobile-button-container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td.padding-copy{:align => "center", :style => "padding: 25px 0 0 0;"}
            %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
                  %a.mobile-button{:href => reject_user_url(@user), :style => "font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #5D9CEC; border-top: 15px solid #5D9CEC; border-bottom: 15px solid #5D9CEC; border-left: 25px solid #5D9CEC; border-right: 25px solid #5D9CEC; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;", :target => "_blank"} Reject
