
New
= @user.role.to_s
application.

- if @user.student?
  Full name:
  = @user.name

  Email:
  = @user.email

  Degree:
  = @user.taught_degree.try(:name)
- else
  Full name:
  = @user.name

  Email:
  = @user.email

  Degree:
  = @user.taught_degree.try(:name)

  Last Degree Level
  = @user.level.to_s

  Last Degree Major
  = @user.last_degree_major

  Last Degree School
  = @user.last_degree_name

  - unless @user.schools.any?
    = @user.student? ? "Their previous transript is attached" : "Their CV is attached"
    - if @user.schools.any?
      Schools

    - @user.schools.each do |school|
      = "#{school.name} (#{school.degree}) #{school.school_type}"
  - if @user.works.any?
    Jobs
    - @user.works.each do |work|
      = "#{work.name} (#{work.position})"

Interview
= interview_user_url(@user)

Approve
= approve_user_url(@user)

Reject
= reject_user_url(@user)
