%tr
  %td= submission.user.name
  %td= submission.created_at.to_s(:long)
  %td= link_to 'Download', submission.attachment.url
  %td= best_in_place submission, :grade, as: :input, place_holder: "Click", url: instance_assignment_submission_path(submission.assignment.instance, submission.assignment, submission)
