.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      .card
        .content
          %h3= @assignment.name
          %p Upload your work
          = simple_form_for [@instance, @assignment, @submission], validate: true, html: {multipart: true} do |f|
            = f.input :attachment, validate: { presence: true }
            = f.submit "Upload", class: 'btn btn-fill btn-success'
