$(document).on 'turbolinks:load', ->
  $('.credit-card-number').payment('formatCardNumber')
  $('.credit-card-expiration').payment('formatCardExpiry')
  $('.credit-card-cvc').payment('formatCardCVC')


$(document).on 'turbolinks:load', ->
  $form = $('#edit_user_cards')
  $form.submit (event) ->
    $form.find('.submit').prop 'disabled', true
    if $('#user_cards_attributes_0_number').val() != ''
      Stripe.card.createToken $form, stripeResponseHandler
    else

    false
  return


stripeResponseHandler = (status, response) ->
  $form = $('#edit_user_cards')
  if response.error
    $form.find('.payment-errors').html("<div class='alert alert-danger'><div class='container'><div class='span'>" + response.error.message + "</div></div></div>
")
    $form.find('.submit').prop 'disabled', false
  else
    token = response.id
    #$form.append $('<input type="hidden" name="user[cards_attributes][0][token]">').val(token)
    $form.find('#user_cards_attributes_0_token').val(token)
    month = $form.find('#user_cards_attributes_0_expiration').val().split(" / ")[0]
    year = $form.find('#user_cards_attributes_0_expiration').val().split(" / ")[1]
    $form.find('#user_cards_attributes_0_expiration_month').val(month)
    $form.find('#user_cards_attributes_0_expiration_year').val(year)
    number = $form.find('#user_cards_attributes_0_number').val()
    $form.find('#user_cards_attributes_0_number').val('')
    $form.find('#user_cards_attributes_0_last_four').val(number.substr(number.length - 4))
    $form.find('#user_cards_attributes_0_expiration').val('')
    $form.get(0).submit()
  return

stripeBankResponseHandler = (status, response) ->
  # Grab the form:
  $form = $('#edit_user_cards')
  if response.error
    $form.find('.bank-errors').html("<div class='alert alert-danger'><div class='container'><div class='span'>" + response.error.message + "</div></div></div>
  ")
    $form.find('.submit').prop 'disabled', false
  else
    # Token created!
    # Get the token ID:
    token = response.id
    # Insert the token into the form so it gets submitted to the server:
    $form.append $('<input type="hidden" name="stripeToken" />').val(token)
    # Submit the form:
    $form.get(0).submit()
  return

# ---
# generated by js2coffee 2.2.0

$(document).on 'turbolinks:load', ->
  $form = $('#new_card')
  $form.submit (event) ->
    $form.find('.submit').prop 'disabled', true
    Stripe.card.createToken $form, stripeNewResponseHandler
    false
  return

stripeNewResponseHandler = (status, response) ->
  $form = $('#new_card')
  if response.error
    $form.find('.payment-errors').html("<div class='alert alert-danger'><div class='container'><div class='span'>" + response.error.message + "</div></div></div>
")
    $form.find('.submit').prop 'disabled', false
  else
    token = response.id
    $form.find('#card_token').val(token)
    #$form.append $('<input type="hidden" name="card[token]">').val(token)
    month = $form.find('#card_expiration').val().split(" / ")[0]
    year = $form.find('#card_expiration').val().split(" / ")[1]
    $form.find('#card_expiration_month').val(month)
    $form.find('#card_expiration_year').val(year)
    number = $form.find('#card_number').val()
    $form.find('#card_number').val('')
    $form.find('#card_last_four').val(number.substr(number.length - 4))
    $form.find('#card_expiration').val('')
    $form.get(0).submit()
  return

$(document).on 'turbolinks:load', ->
  $('.wysihtml5').wysihtml5({'toolbar': {'blockquote': false, 'html': false, 'link': false, 'image' : false}})
