%tr.nested-fields
  %td
    = f.hidden_field :user_id, value: reservation.user_id
    = f.hidden_field :status, value: 'pending'
    = link_to reservation.user.name, reservation.user
  %td Yes
  %td.text-right= link_to_remove_association "remove", f
