%h3 Active Courses
- if current_user.enrollments.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th.text-center #
          %th Name
          %th Professor
          %th Students
          %th Grade
          %th
      %tbody
        = render current_user.enrollments.order('created_at asc')
- else
  %h5 No Active courses
