%tr
  %td.text-center= link_to enrollment.instance.course.id, enrollment.instance, class: 'link-info'
  %td= link_to enrollment.instance.course_name, enrollment.instance, class: 'link-info'
  %td= link_to enrollment.instance.user.name, enrollment.instance.user, class: 'link-info'
  %td= enrollment.instance.enrollments.length
  %td= enrollment.grade ? enrollment.grade : "---"
  %td= link_to 'access', enrollment.instance, class: 'btn btn-primary btn-sm'
