.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3 Current and past courses
      - if current_user.enrollments.any?
        .card.p-20
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.text-center #
                  %th Name
                  %th Professor
                  %th Classmates
                  %th Grade
              %tbody
                = render @enrollments.order('created_at asc')
      - else
        %h5 No Active courses
      %h3 Graduation Petitions
      - if current_user.petitions.any?
        .card.p-20
          .table-responsive
            %table.table
              %thead
                %tr
                  %th #
                  %th Degree
                  %th Status
              %tbody
                = render current_user.petitions.order('created_at asc')
      - else
        = link_to 'Create Petition', petitions_path, method: :post, class: 'btn btn-primary btn-fill'
