%tr
  %td.text-center= link_to reservation.id, reservations_path, class: 'link-info'
  %td= link_to reservation.availability.course_name, reservations_path, class: 'link-info'
  %td.text-right= link_to 'remove', reservation_path(reservation), method: :delete, data:  { confirm: "Are you sure you want to delete this course reservation?"}, class: 'btn btn-sm btn-warning'
