.nested-fields
  .row
    .col-xs-10
      %h4
        = f.input :availability_id, collection: Availability.where(course: degree.courses).map { |a| ["#{a.course.name} (#{a.user.name})", a.id]}, prompt: "Select course", label: false
    .col-xs-2.m-t-40
      = link_to_remove_association "remove", f
