%h3 Course Reservations
- if current_user.reservations.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th.text-center #
          %th Name
          %th
      %tbody
        = render current_user.reservations.order('created_at asc')
- else
  %h5 No reserved courses
