.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      .row
        .col-xs-12
          = simple_form_for current_user, validate: true, html: { multipart: true } do |f|
            .card
              .content
                .row
                  .col-lg-12
                    = render 'shared/error_messages', object: f.object
                    %h4 Select courses where you would like to reserve a seat
                    %p
                      Courses with prerequisites are unable to be selected until your complete the required courses. Be advised, that according to the academic requirements of your degree you need to complete at least 3 courses in each division.
                      For more information on academic requirements, please visit the
                      = link_to 'academic requirements', academics_path
                      for guidelines on courses requirements.
                    %p
                      We suggest that you take a two courses within your degree program and a single additional course in each of the other disciplines. 4 courses is a typical quarter load and the maximum that you can enroll at a single time; however, you are welcome to take less if your schedule does not permit. You will not be billed for the courses until the class commences.
                    - Division.find_each do |division|
                      %h4= division.name
                      - division.degrees.each do |degree|
                        - unless Availability.where(course: degree.courses).empty?
                          %h5= degree.name
                          #reservations
                            = f.simple_fields_for :reservations do |r|
                              = render 'reservation_fields', f: r, degree: degree
                            .links
                              = link_to_add_association 'add course', f, :reservations, render_options: { locals: { degree: degree } }, class: 'btn btn-default btn-fill'
            .row
              .col-xs-12.m-b-50
                = f.submit "Update", class: 'btn btn-primary btn-fill btn-block'
