.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            %h2.title Sorry. That page could not be found
            %p
              Head back to the homepage.
        .row
          .col-md-6.col-md-offset-3.m-t-50
            = link_to 'Back', '/', class: 'btn btn-primary btn-fill btn-block'
