.wrapper
  .background{:style => "background-image: url(#{image_url('landscape.jpg')});"}
    .filter-black
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          .demo-card
            %h3.title Welcome
            - flash.each do |key, value|
              .alert.alert-danger
                = value
            = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-fill btn-facebook' do
              %i.fa.fa-facebook
              Sign in with Facebook
            %br
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'register-form'}) do |f|
              = f.input :email, required: false, autofocus: true
              = f.input :password, required: false
              = f.button :submit, "Log in", class: 'btn btn-danger btn-block'
            .forgot
              = link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-simple btn-danger"
    .demo-footer.text-center
      %h6
        &copy; 2018, College of Brasden
