%tr
  %td.text-center= course.id
  %td= course.name
  %td
    - course.prerequisites.each do |p|
      %span.btn-tooltip{"data-placement" => "top", "data-toggle" => "tooltip", :title => p.prior.name }= p.prior_id
