.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h4 Course proposals
      - if current_user.proposed_courses.any?
        .table-responsive
          %table.table
            %thead
              %tr
                %th.text-center #
                %th Name
                %th.text-right Prerequisites
                %th
            %tbody
              = render current_user.proposed_courses.order('created_at asc')
      - else
        %h5 No proposed courses
