.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h3 Propose a new course
      .card
        .card-content
          = simple_form_for @course do |f|
            = f.hidden_field :user, value: current_user
            = f.input :name
            = f.input :description
            = f.input :prerequisites, collection: current_user.taught_degree.courses
            = f.submit
