.container
  .row.m-t-100.m-b-50
    .col-md-8.col-md-offset-2
      .info
        .description
          %h2.light-weight= @course.name
          %br
          %p= link_to @course.degree_name, divisions_path
      %p= @course.description
.section.section-light-brown
  .container
    .row
      .col-md-12.text-center
        %h4 Interested in enrolling?
        %br/
        %a.btn.btn-danger.btn-lg.btn-fill{:href => new_user_registration_path(degree_id: @course.degree_id) } Apply Now
