%tr
  %td= card.last_four
  %td= "#{card.expiration_month}/#{card.expiration_year}"
  %td= card.default ? "Default" : ""
  - unless resource.cards.count == 1
    %td= link_to 'Delete', card_path(card), method: :delete, data: { confirm: "Are you sure?" }
