.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      = simple_form_for @card, validate: true, html: { id: 'new_card' } do |f|
        %h4 Add a new card
        .card
          .content
            .row
              .col-md-12
                = render 'shared/error_messages', object: f.object
                .payment-errors
                .row
                  .col-md-6
                    %label Name on card
                    = f.text_field :name, class: 'form-control border-input', "data-stripe" => "name"
                  .col-md-6
                    .row.m-t-30
                      .col-md-2
                        = image_tag 'cards/credit-cards_visa.png'
                      .col-md-2
                        = image_tag 'cards/credit-cards_mastercard.png'
                      .col-md-2
                        = image_tag 'cards/credit-cards_maestro.png'
                      .col-md-2
                        = image_tag 'cards/credit-cards_default.png'
                .row.m-t-10.m-b-50
                  -# %button#apple-pay-button
                  .col-md-6.col-xs-6
                    %label Card number
                    = f.hidden_field :card_type, value: current_user.professor? ? 'debit' : 'credit'
                    = f.hidden_field :currency, value: 'usd', "data-stripe" => "currency"
                    = f.text_field :last_four, class: 'hidden'
                    = f.text_field :token, class: 'hidden'
                    = f.text_field :number, class: 'form-control credit-card-number card-attributes border-input', "data-stripe" => "number"
                  .col-md-3.col-xs-3
                    %label Expires
                    = f.text_field :expiration, "data-stripe" => 'exp', class: 'form-control credit-card-expiration card-attributes border-input', placeholder: 'MM / YY'
                    = f.text_field :expiration_month, class: 'card-attributes hidden'
                    = f.text_field :expiration_year, class: ' card-attributes hidden'
                  .col-md-3.col-xs-3
                    %label CSV
                    %a.form-control-hint.glyphicon.glyphicon-info-sign{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "CSV code from card back side"}
                    = f.text_field :cvc, class: 'form-control credit-card-cvc card-attributes border-input', "data-stripe" => "cvc"
        .row
          .col-xs-12.m-b-50
            = f.submit :complete, class: 'btn btn-primary btn-fill btn-block'
