%h3.text-center Post your comment
.media.media-post
  %a.pull-left.author{:href => user_path(current_user)}
    .avatar
      = image_tag current_user.photo.present? ? current_user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    = form_for [instance, Post.new] do |f|
      = f.text_area :body, class: 'form-control border-input', placeholder: 'Add a post', rows: 6
      .media-footer
        = f.submit 'Post', class: 'btn btn-info btn-fill btn-wd pull-right'
