.card.p-t-5
  %li.activity
    .media
      %a.pull-left{:href => user_path(post.user)}
        .avatar
          = image_tag post.user.photo.present? ? post.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
      .media-body.text-left
        %h5.media-heading= post.user.name
        .pull-right
          %h6.text-muted
            = timeago_tag post.created_at, :nojs => true, :limit => 10.days.ago
            ago
        %p= post.body
