.btn,
.navbar .navbar-nav > li > a.btn{
    border-radius: $border-radius-btn-base;
    box-sizing: border-box;
    border-width: $border-thick;
    background-color: $transparent-bg;
    font-size: $font-size-base;
    font-weight: $font-weight-semi;

    padding: $padding-base-vertical $padding-base-horizontal;

    @include btn-styles($default-color, $default-states-color);
    @include transition($fast-transition-time, linear);

    &:hover,
    &:focus{
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }

    i{
        margin-right: 5px;
    }

    &.btn-icon{
        border-radius: 25px;
        padding: 6px 11px;
        i{
          margin-right: 0px;
        }

    }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group{
    margin-left: -2px;
}

// Apply the mixin to the buttons
//.btn-default { @include btn-styles($default-color, $default-states-color); }
.navbar .navbar-nav > li > a.btn.btn-primary, .btn-primary { @include btn-styles($primary-color, $primary-states-color); }
.navbar .navbar-nav > li > a.btn.btn-success, .btn-success { @include btn-styles($success-color, $success-states-color); }
.navbar .navbar-nav > li > a.btn.btn-info, .btn-info    { @include btn-styles($info-color, $info-states-color); }
.navbar .navbar-nav > li > a.btn.btn-warning, .btn-warning { @include btn-styles($warning-color, $warning-states-color); }
.navbar .navbar-nav > li > a.btn.btn-danger, .btn-danger  { @include btn-styles($danger-color, $danger-states-color); }
.btn-neutral {
    @include btn-styles($white-color, $white-color);

    &:hover,
    &:focus{
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle{
        background-color: $white-color;
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }

    &.btn-fill{
        color: $default-color;
        i{
            color: $default-color;
            opacity: 1;
        }
    }
    &.btn-fill:hover,
    &.btn-fill:focus{
        color: $default-states-color;
        i{
            color: $default-states-color;
            opacity: 1;
        }
    }

    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}

.btn{
     &:disabled,
     &[disabled],
     &.disabled,
     &.btn-disabled{
        @include opacity(.5);
    }
}
.btn-disabled{
    cursor: default;
}
.btn-simple{
    border: $none;
    padding: $padding-base-vertical $padding-base-horizontal;

}

.navbar .navbar-nav > li > a.btn.btn-lg, .btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-btn-large, $line-height-small);
   font-weight: $font-weight-normal;
    &.btn-icon{
        border-radius: 30px;
        padding: 9px 16px;
    }
}
.navbar .navbar-nav > li > a.btn.btn-sm, .btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-btn-small, $line-height-small);
    &.btn-icon{
        padding: 3px 7px;
        .fa{
            line-height: 1.6;
            width: 15px;
        }
    }
}
.navbar .navbar-nav > li > a.btn.btn-xs, .btn-xs {
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $border-radius-btn-small, $line-height-small);
    &.btn-icon{
        padding: 1px 5px;
        .fa{
            width: 10px;
        }
    }
}
.navbar .navbar-nav > li > a.btn.btn-wd, .btn-wd {
    min-width: 140px;
}

.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}
.btn-tooltip{
    white-space: nowrap;
}

#apple-pay-button {
  display: none;
  border: 0;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}
.clockpicker-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-width: 0px;
  color: #FFFFFF;
  background-color: #66615B;
  opacity: 1;
  &:hover {
    background-color: #403D39;
    border-color: #403D39;
  }
}


.btn-social {
  position: relative;
  padding-left: ($bs-height-base + $padding-base-horizontal);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bs-height-base;
    line-height: ($bs-height-base + 2);
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  &.btn-lg {
    padding-left: ($bs-height-lg + $padding-large-horizontal);
    > :first-child {
      line-height: $bs-height-lg;
      width: $bs-height-lg;
      font-size: 1.8em;
    }
  }
  &.btn-sm {
    padding-left: ($bs-height-sm + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-sm;
      width: $bs-height-sm;
      font-size: 1.4em;
    }
  }
  &.btn-xs {
    padding-left: ($bs-height-xs + $padding-small-horizontal);
    > :first-child {
      line-height: $bs-height-xs;
      width: $bs-height-xs;
      font-size: 1.2em;
    }
  }
}

.btn-social-icon {
  @extend .btn-social;
  height: ($bs-height-base + 2);
  width: ($bs-height-base + 2);
  padding: 0;
  > :first-child {
    border: none;
    text-align: center;
    width: 100%!important;
  }
  &.btn-lg {
    height: $bs-height-lg;
    width: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-sm {
    height: ($bs-height-sm + 2);
    width: ($bs-height-sm + 2);
    padding-left: 0;
    padding-right: 0;
  }
  &.btn-xs {
    height: ($bs-height-xs + 2);
    width: ($bs-height-xs + 2);
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin btn-social($color-bg, $color: #fff) {
  background-color: $color-bg;
  @include button-variant($color, $color-bg, rgba(0,0,0,.2));
}

.btn-facebook      { @include btn-social(#3b5998); }
