.card{
    border-radius: $border-radius-extreme;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: $card-black-color;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    .title,
    .stats,
    .category,
    .description,
    .social-line,
    .actions,
    .content,
    .card-footer,
    small,
    a{
        position: relative;
        z-index: 3;
    }

    a{
        color: $black-hr;

        &:hover,
        &:focus{
            color: $black-color;
        }
    }

    img{
        max-width: 100%;
        height: auto;
    }

    &[data-radius="none"]{
        border-radius: $border-radius-none;

        .header{
            border-radius: $border-radius-none-top;

            img{
                border-radius: $border-radius-none-top;
            }
        }
    }

    &.card-plain{
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    &.card-with-shadow{
        box-shadow: 0 20px 16px -15px rgba(165, 165, 165, 0.57);
    }

    .btn{
        text-shadow: none;
        font-weight: bold;
    }

    .title-uppercase{
        text-transform: uppercase;
    }

    .header{
        position: relative;
        border-radius: $border-radius-small-top;
//         height: 200px;
        z-index: 3;

        &.header-with-icon{
            height: 150px;
        }
        img{
            width: 100%;
/*
            @include opacity(0);
            display: none;
*/
        }

        .category{
            padding: 15px;
        }

    }

    .content{
        .price{
            border: 2px solid #66615b;
            color: #66615b;
            border-radius: 50%;
            width: 152px;
            height: 152px;
            margin: 30px auto;
            text-align: center;
            vertical-align: middle;
            line-height: 200px;

            h4{
                margin: 5px 0 0;
                font-size: 36px;
            }

            h6{
                margin-top: 45px;
                font-size: 16px;
            }

            .currency{
                font-size: 22px;
                font-weight: normal;
            }
        }
    }
    .actions{
        padding: 10px 15px;
    }
    .more{
        float: right;
        z-index: 4;
        display: block;
        padding-top: 10px;
        padding-right: 10px;
        position: relative;
    }

    .filter,
    .header .actions{
        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.76);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        @include opacity(0);
    }

    .header .actions{
        background-color: transparent;
        z-index: 3;

        .btn{
            @include vertical-align();
        }
    }

    &:hover{
        .filter{
            @include opacity(.7);
        }

        .header .social-line,
        .header .actions{
            @include opacity(1);
        }
    }

    .category,
    .label{
        font-size: 14px;
        margin-bottom: 0px;
        i{
            font-size: $font-paragraph;
        }
    }
    .category{
        color: $card-muted-color;
    }
    .label{
        text-shadow: none;
    }
    .title{
        color: $card-black-color;
    }

    > .title{
       margin: 0;
       padding: 30px 0 0;
    }

    .content{
        padding: 20px 20px 10px 20px;

        .title{
            margin: 10px 0 20px 0;
        }

        .category ~ .title{
            margin-top: 10px;
        }

        .description ~ .title {
            margin-top: -10px;
        }
    }

    .description{
        font-size: $font-paragraph;
        color: $font-color;
    }

    h6{
        font-size: $font-size-small;
        margin: 0;
    }

    .card-footer{
        padding: 0 15px 20px;

        .social-line{
            .btn:first-child{
                border-radius: 0 0 0 6px;
            }
            .btn:last-child{
                border-radius: 0 0 6px 0;
            }
        }
    }


    &.card-separator:after{
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }

    .icon{
        display: block;
        margin: 0 auto;
        top: 60%;
        position: relative;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        text-align: center;

        i{
            font-size: 60px;
            padding: 18px;
            width: 110px;
            border: 2px solid $card-muted-color;
            border-radius: 50%;
            height: 110px;

        }

    }

    .col-lg-4 &{
        .icon{
            i{
                font-size: 80px;
                padding: 22px;
            }
        }
    }

    &.card-with-border{
        .content{
            padding: 15px 15px 25px 15px;
        }

        .card-footer{
            padding-bottom: 25px;
        }
    }

    &.card-with-border:after{
        position: absolute;
        display: block;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        content: "";
        top: 5px;
        left: 5px;
        border: 1px solid rgba(0,0,0, 0.15);
        z-index: 1;
        border-radius: 5px;
    }

    &.card-just-text{
        .content{
            padding: 50px 65px;
            text-align: center;
        }
    }

    &[data-background="image"],
    &[data-background="color"]{
        .image{
            border-radius: $border-radius-large;
        }

        .title{
            font-weight: bold;
        }

        .filter{
            border-radius: $border-radius-large;
        }

        .title,
        .stats,
        .category,
        .description,
        .content,
        .card-footer,
        small,
        .content a{
            color: $white-color;
        }

        .content a:hover,
        .content a:focus{
            color: $white-color;
        }

        .icon{
            i{
                color: #FFFFFF;
                border: 2px solid rgba(255,255,255,.6);
            }
        }

        &.card-with-border:after{
            border: 1px solid rgba(255, 255, 255, 0.45);
        }
    }

    &[data-background="image"]{
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

        .filter{
            @include opacity(0.55);
        }

        &:hover .filter{
            @include opacity(0.75);
        }

    }

    &[data-color="blue"]{
        @include card-color-style($card-background-blue, $card-font-blue, $card-subtitle-blue);
    }

    &[data-color="green"]{
        @include card-color-style($card-background-green, $card-font-green, $card-subtitle-green);
    }

    &[data-color="yellow"]{
        @include card-color-style($card-background-yellow, $card-font-yellow, $card-subtitle-yellow);
    }

    &[data-color="brown"]{
        @include card-color-style($card-background-brown, $card-font-brown, $card-subtitle-brown);
    }

    &[data-color="purple"]{
        @include card-color-style($card-background-purple, $card-font-purple, $card-subtitle-purple);
    }

    &[data-color="orange"]{
        @include card-color-style($card-background-orange, $card-font-orange, $card-subtitle-orange);
    }
}

.btn-center{
    text-align: center;
}

.card-big-shadow{
    max-width: 320px;
    position: relative;

    &:before{
        background-image: image-url("shadow.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        bottom: -12%;
        content: "";
        display: block;
        left: -12%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
}
.card-image{
    &.card-big-shadow{
        max-width: 100%;
    }
    .card{
        background-size: cover;
        min-height: 430px;
        width: 100%;
    }
}
.card-hover-effect{
    cursor: pointer;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;

    &:hover {
      box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
    }
}

.card-user{
    .image{
        border-radius: 8px 8px 0 0;
        height: 150px;
        position: relative;
        overflow: hidden;

        img{
            width: 100%;
            height: 150px;
        }
    }
    .image-plain{
        height: 0;
        margin-top: 110px;
    }
    .author{
        text-align: center;
        text-transform: none;
        margin-top: -65px;
        .title{
            color: $default-states-color;
            small{
                color: $card-muted-color;
            }
        }
    }
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 15px;

        &.border-white{
            border: 5px solid $white-color;
        }
        &.border-gray{
            border: 5px solid $card-muted-color;
        }
    }
    .title{
        line-height: 24px;
    }
    .content{
        min-height: 240px;
    }

    &.card-plain{
        .avatar{
            height: 190px;
            width: 190px;
        }
    }
}
.card-image{

    .details{
        margin-left: 4px;
        min-height: 50px;
        padding: 0 4px 0.5em;
        position: relative;

        .author{
            margin-top: -21px;

            .name{
                color: $font-color;
                font-size: 1.1em;
                font-weight: bold;
                line-height: 1.15;
                max-width: 11em;
                overflow: hidden;
                padding-top: 3px;
                text-overflow: ellipsis;

                &:hover, &:active, &:focus{
                    color: $default-states-color;
                }
            }
            img{
                height: 40px;
                width: 40px;
                margin-bottom: 5px;
            }
        }
        .meta{
            color: $card-muted-color;
            font-size: 0.8em;
        }
        .actions{
            float: right;
            font-size: 0.875em;
            line-height: 2.6;
            position: absolute;
            right: 4px;
            top: 36px;
            z-index: 1;
            .btn.btn-simple{
                padding-left: 2px;
            }
        }
    }

    .details-center{
        text-align: center;
        .author{
            position: relative;
            display: inline-block;
            text-align: left;
            margin: 20px auto 0;

            img{
                position: absolute;
                left: 0;
                top:0;
            }
            .text{
                padding-left: 50px;
            }
        }
    }

}
.card-product{
    .details{
        .name{
            margin-top: 20px;
        }
        .description{
            display: inline-block;
            margin-right: 60px;
        }
        .actions{
            top: 20px;

            h5{
                color: $default-states-color;
            }
        }
    }
}

.empty-card {
  padding: 0 20px 20px 20px;
}

.information-card {
  color: #66615b;
}

.per {
  font-size: 70%;
  margin-left: 20px;
}
