.certificate {
	color: #403D39;
	font-size: 10px;
	font-family: $font-family-droid;
	text-align: center;
	p {
		font-size: 15px;
		font-family: $font-family-droid;
	}

	h1 {
		font-family: $font-family-droid;
	}

	// Layout Styles for Certificate
	&-container {
		position: relative;
	}
	&-content {
		position: absolute;
		width: 80%;
		left: 10%;
		top: 15%;
		font-family: $font-family-droid;
	}
	&-footer {
		position: absolute;
		width: 80%;
		left: 10%;
		bottom: 14%;
		padding-top: 20px;
	}
	// Content Elements of Certificates
	&-number {
		position: absolute;
		width: 10%;
		min-width: 100px;
		top: 5.7%;
		left: 50%;
		// min-size + (max-size - min-size) * ( (100vw - min-width) / ( max-width - min-width) )
		font-size: 10px;
		@media ( min-width: $screen-sm ) {
			font-size: calc(10px + 1 * ((100vw - 480px) / 720));
		}
		@media ( min-width: $screen-md ) {
			font-size: 12px;
		}
		transform: translateX(-50%);
		margin-top: 6px;
		font-family: $font-family-droid;
	}
	&-title {
		margin-bottom: 10px;
		font-size: 48px;
		font-weight: bold;
		font-family: $font-family-droid;


	}
	&-subheader {
		margin-bottom: 1em;
		font-size: 16px;
		font-family: $font-family-droid;
	}
	&-main-copy {
		margin-bottom: 3em;
		font-family: $font-family-droid;
	}
	&-holder-name {
		width: 60%;
		margin: 0 auto .625em auto;
		font-size: 36px;
		font-family: $font-family-great-vibes;
		line-height: .7;
	}
	&-holder-company {
		font-size: 20px;
		font-family: $font-family-droid;
	}
	&-signatories {
		&-name {
			margin-bottom: 5px;
			font-size: 30px;
			font-family: $font-family-great-vibes;
			line-height: .7;
		}
		&-title {
			font-size: 15px;
		}
	}

	// Utilities/Helpers
	&-line {
		border-bottom: 2px solid #43505A;
	}
}
