
.link-danger{
    color: $danger-color !important;
    &:focus,
    &:active,
    &:hover{
        color: $danger-states-color !important;
    }
}
.link-info{
    color: $info-color !important;
    &:focus,
    &:active,
    &:hover{
        color: $info-states-color !important;
    }
}
