.media{
    padding-bottom: 10px;
    margin-top: 30px;

    .avatar{
        margin: 0 auto;
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
        border: 3px solid $white-color;

        img{
            width: 100%;
        }
    }
    .media-heading{
        color: $default-states-color;
        display: inline-block;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .btn-simple{
        padding: 0px 5px;
    }
    .media{
        margin-top: 30px;
    }
    .media-footer{
        margin-top: 20px;
    }
    .media:last-child{
        border: 0;
    }
}

.media-post{
    color: #555;
    border: 0;
    .media-heading{
        display: block;
        text-align: center;
    }
    .author{
        width: 15%;
    }
    .media-body{
        width: 85%;
        float: left;
        display: inline-block;
    }
    textarea{
        margin: $margin-bottom;
        font-size: $font-paragraph;
    }
}


.media-area{
    .media:last-child{
        border: 0;
    }
    .pagination-area{
        padding: 10px 0;
        text-align: center;
    }
}
.media-area-small{
    p{
        font-size: 14px;
    }
    .btn-simple{
        font-size: 14px;
    }
    .avatar{
        width: 58px;
        height: 58px;
    }
}

.main-logo {
  width: 50%;
  padding-bottom: 60px;
}

.logo-container{
    left: 50px;
    position: absolute;
    top: 20px;
     z-index: 3;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}

.media:first-child {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
