.m-t-0 {
  margin-top: 0;
}
.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-b-20 {
  padding-bottom: 40px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-0 {
  padding-left: 0;
}

.p-20 {
  padding: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-5 {
  padding-top: 5px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-65 {
  margin-top: 65px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-0 {
  margin-left: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}
