.container
  .row.m-t-20
    .col-md-8.col-md-offset-2
      .info
        .description
          %h2.light-weight Welcome to the College of Brasden
          %br
          - if current_user.student?
            %p We're glad to have you as part of our network. To get started, you'll need to update and verify your profile inforation below. Then we'll ask you what courses you'd like to take for your first 10 weeks in the program. Lastly, you'll be adding a form of payment for your courses. Once you've finished the steps below you'll be notified when you're courses are ready to begin.
          - else
            %P We're glad to have you as part of our network. To get started, you'll need to update and verify your profile inforation below. Then we'll ask you what courses you're able to teach within your department then subsequently set your availability. Lastly, you'll be adding debit card to receive money to your back account. Once you've finished the steps below you'll be notified when students enroll to your courses.
