- if current_user.student?
  .col-xs-3
    .card{"data-color" => ['profile', 'first_courses', 'availability', 'payment'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 1. Profile
  .col-xs-3
    .card{"data-color" => ['first_courses', 'availability', 'payment'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 2. Courses
  .col-xs-3
    .card{"data-color" => ['availability', 'payment'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 3. Availability
  .col-xs-3
    .card{"data-color" => ['payment'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 4. Card
- else
  .col-xs-3
    .card{"data-color" => ['profile', 'teachable_courses', 'availability', 'transfer'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 1. Profile
  .col-xs-3
    .card{"data-color" => ['teachable_courses', 'availability', 'transfer'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 2. Courses
  .col-xs-3
    .card{"data-color" => ['availability', 'transfer'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 3. Availability
  .col-xs-3
    .card{"data-color" => ['transfer'].include?(params[:id]) ? "blue" : nil}
      .content
        %h6.category.nav-pill-wizard 4. transfer
