= render 'setup/header'
.container
  .row
    .col-sm-8.col-sm-offset-2
      .row
        = render 'setup/navigation'
      = simple_form_for @user, url: wizard_path, validate: true, html: { method: :put, multipart: true, class: 'form-inline' } do |f|
        = f.hidden_field :step, value: 'availability'
        .card
          .content
            .row
              .col-lg-12
                - if @user.student?
                  %h4
                    Set your general availability to attend class
                    = "(in #{Time.current.zone})"
                  %p These will be the times your are available for us to schedule classes with you. Please be as broad as possible to ensure you are able to attend.
                - else
                  %h4
                    Set your general availability to teach courses
                    = "(in #{Time.current.zone})"
                  %p These will be the times your are available for us to schedule classes with you. Feel free to set any time you wish.
                = render 'shared/error_messages', object: f.object
                - Slot.days.each do |day, id|
                  %h4=day.titlecase
                  - if @user.slots.any?
                    - slots = @user.slots.where(day: day)
                    #slots.slots
                      = f.simple_fields_for :slots, slots do |slot|
                        = render 'slots/slot_fields', f: slot, day: day
                      .links
                        = link_to_add_association 'add slot', f, :slots, render_options: { locals: { day: day }}, class: 'btn btn-default btn-fill', partial: 'slots/slot_fields'
                  - else
                    #slots.slots
                      = f.simple_fields_for :slots, slots do |slot|
                        = render 'slots/slot_fields', f: slot, day: day
                      .links
                        = link_to_add_association 'add slot', f, :slots, render_options: { locals: { day: day }},class: 'btn btn-default btn-fill', partial: 'slots/slot_fields'
        .row
          .col-xs-12.m-b-50
            = f.submit :next, class: 'btn btn-primary btn-fill btn-block'
