= render 'setup/header'
.container
  .row
    .col-sm-8.col-sm-offset-2
      .row
        = render 'setup/navigation'
      = simple_form_for @user, url: wizard_path, validate: true, html: { method: :put, multipart: true, id: 'edit_user_cards' } do |f|
        = f.hidden_field :step, value: 'payment'
        .card
          .content
            .row
              .col-md-12
                = render 'shared/error_messages', object: f.object
                .payment-errors
                %h4
                  Enter a payment card to charge for tuition
                %p
                  We will only charge your card after a class begins, and receive a receipt for the courses that you enroll. For our refund policy please visit our
                  = link_to 'FAQ', faq_path
                  page.
                = f.simple_fields_for :cards do |c|
                  .row
                    .col-md-6
                      %label Name on card
                      = c.text_field :name, class: 'form-control border-input', "data-stripe" => "name"
                    .col-md-6
                      .row.m-t-30
                        .col-md-2
                          = image_tag 'cards/credit-cards_visa.png'
                        .col-md-2
                          = image_tag 'cards/credit-cards_mastercard.png'
                        .col-md-2
                          = image_tag 'cards/credit-cards_maestro.png'
                        .col-md-2
                          = image_tag 'cards/credit-cards_default.png'
                  .row.m-t-10.m-b-50
                    .col-md-6.col-xs-6
                      %label Payment card number
                      = c.hidden_field :card_type, value: 'credit'
                      = c.hidden_field :currency, value: 'usd', "data-stripe" => "currency"
                      = c.text_field :last_four, class: 'hidden'
                      = c.text_field :token, class: 'hidden'
                      = c.text_field :number, class: 'form-control credit-card-number card-attributes border-input', "data-stripe" => "number"
                    .col-md-3.col-xs-3
                      %label Expires
                      = c.text_field :expiration, "data-stripe" => 'exp', class: 'form-control credit-card-expiration card-attributes border-input', placeholder: 'MM / YY'
                      = c.text_field :expiration_month, class: 'card-attributes hidden'
                      = c.text_field :expiration_year, class: ' card-attributes hidden'
                    .col-md-3.col-xs-3
                      %label CSV
                      %a.form-control-hint.glyphicon.glyphicon-info-sign{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "CSV code from card back side"}
                      = c.text_field :cvc, class: 'form-control credit-card-cvc card-attributes border-input', "data-stripe" => "cvc"
        .row
          .col-xs-12.m-b-50
            = f.submit :complete, class: 'btn btn-primary btn-fill btn-block'
