= render 'setup/header'
.container
  .row
    .col-sm-8.col-sm-offset-2
      .row
        = render 'setup/navigation'
      = simple_form_for @user, url: wizard_path, validate: true, html: { method: :put, multipart: true } do |f|
        = f.hidden_field :step, value: 'profile'
        = render 'shared/error_messages', object: f.object
        .card
          .content
            .row
              .col-md-3.col-sm-4
                %h4
                  %small Avatar
                .fileinput.fileinput-new.text-center{"data-provides" => "fileinput"}
                  .fileinput-new.thumbnail.img-circle.img-no-padding{:style => "width: 150px; height: 150px;"}
                    = image_tag @user.photo.present? ? @user.photo.url(:medium) : 'defaults/photos_default.jpg'
                  .fileinput-preview.fileinput-exists.thumbnail.img-circle.img-no-padding{:style => "max-width: 150px; max-height: 150px;"}
                  %div
                    %span.btn.btn-default.btn-file
                      %span.fileinput-new Add Photo
                      %span.fileinput-exists Change
                      %input{type: "hidden"}
                      = f.file_field :photo
                    %br
                    %a.btn.btn-simple.btn-danger.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"}
                      %i.fa.fa-times
                      Remove

              .col-md-9.col-sm-8
                .row
                  .col-sm-4
                    = f.input :first_name, required: true, input_html: { class: 'border-input'}
                  .col-sm-4
                    = f.input :middle_name, input_html: { class: 'border-input'}
                  .col-sm-4
                    = f.input :last_name, required: true, input_html: { class: 'border-input'}
                .row
                  .col-sm-8
                    = f.input :street_address, required: true, input_html: { class: 'border-input'}
                  .col-sm-4
                    = f.input :city, required: true, input_html: { class: 'border-input'}
                .row
                  .col-sm-4
                    = f.input :region, required: true, input_html: { class: 'border-input'}
                  .col-sm-4
                    = f.input :postcode, required: true, input_html: { class: 'border-input'}
                  .col-sm-4
                    = f.input :country, required: true, input_html: { class: 'border-input'}

        .row
          .col-xs-12.m-b-50
            = f.submit :next, class: 'btn btn-primary btn-fill btn-block'
