= render 'setup/header'
.container
  .row
    .col-sm-8.col-sm-offset-2
      .row
        = render 'setup/navigation'
      = simple_form_for @user, url: wizard_path, validate: true, html: { method: :put, multipart: true } do |f|
        = f.hidden_field :step, value: 'teachable_courses'
        .card
          .content
            .row
              .col-lg-12
                = render 'shared/error_messages', object: f.object
                %h4 Select courses you are available to teach
                %p After completing your first course, you are eligible to propose a new course.
                #availabilities
                  = f.simple_fields_for :availabilities do |availability|
                    = render 'availabilities/availability_fields', f: availability
                  .links
                    = link_to_add_association 'add course', f, :availabilities, class: 'btn btn-default btn-fill', partial: 'availabilities/availability_fields'
        .row
          .col-xs-12.m-b-50
            = f.submit :next, class: 'btn btn-primary btn-fill btn-block'
