.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12
      = render 'layouts/breadcrumbs'
      %h4 Transfers
      .table-responsive
        %table.table
          %thead
            %tr
              %th #
              %th Card
              %th Time
              %th Amount
          %tbody
            = render @transfers
