.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h2.title Please select a time for your interview
            %p
              Times listed below are
              = "in #{Time.current.zone}."
              The interview will take place online over google hangouts (video chat).
        .row
          .col-md-6.col-md-offset-3.m-t-50
            = form_for [@user, @appointment] do |f|
              = f.hidden_field :attendee_id, value: @attendee.id
              = f.select :time, @user.next_seven_day_availability(Time.current.zone).map { |t| [t.to_s(:long_ordinal), t]}, {required: true, prompt: "Select a Time"}, class: 'selectpicker'
              .text-center
                = f.submit "Reserve Time", class: 'btn btn-lg btn-primary btn-fill'
