.wrapper
  .main
    .section.thanks-section
      .container
        .row
          .col-md-8.col-md-offset-2.text-center
            %h2.title Thanks for scheduling an interview
            %p
              You should receive a calendar invitation to your email with instructions. The interview will take place on Google Hangouts and last 15 minutes.
        .row
          .col-md-6.col-md-offset-3.m-t-50
            %button.btn.btn-primary.btn-fill.btn-block Read our FAQs
