.card.p-t-10
  - if activities.any?
    %ul.p-l-0
      - activities.each do |activity|
        %li.activity
          = render "activities/#{activity.name}_#{activity.direction}_user", activity: activity
    .text-center
      = paginate(activities, theme: 'twitter-bootstrap-3')
  - else
    .empty-card
      No Activity Yet
