.media
  %a.pull-left{:href => user_path(activity.subject.user)}
    .avatar
      = image_tag activity.subject.user.photo.present? ? activity.subject.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= activity.subject.user_name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      A new course was added by
      = activity.subject.user_name
      called
      = "#{activity.subject.course.name}."
      You can now
      = link_to "reserve a seat in the course.", reservations_path, class: 'link-info'
