.media
  %a.pull-left{:href => user_path(activity.subject.instance.user)}
    .avatar
      = image_tag activity.subject.instance.user.photo.present? ? activity.subject.instance.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= activity.subject.instance.user_name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      = activity.subject.instance.user_name
      has started the course
      = link_to "#{activity.subject.instance.course_name}.", instance_path(activity.subject.instance)
      The meeting times have been added to your calendar. You can also see them on your
      = link_to "course page.", instance_path(activity.subject.instance), class: 'link-info'
