.media
  %a.pull-left{:href => user_path(activity.subject.instance.user)}
    .avatar
      = image_tag activity.subject.instance.user.photo.present? ? activity.subject.instance.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= activity.subject.instance.user_name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      = activity.subject.instance.user_name
      has posted your grade for
      = "#{activity.subject.instance.course_name}."
      You can view your grades from the transcript tab on the left.
