.media
  %a.pull-left{:href => user_path(activity.subject.schedule.instance.user)}
    .avatar
      = image_tag activity.subject.schedule.instance.user.photo.present? ? activity.subject.schedule.instance.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= activity.subject.schedule.instance.user_name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      = activity.subject.schedule.instance.user_name
      changed the meeting time to
      = activity.subject.occurrence.to_s(:long)
      for
      = link_to activity.subject.schedule.instance.course_name, activity.subject.schedule.instance, class: 'link-info'
