.media
  %a.pull-left{:href => user_path(User.admin.first)}
    .avatar
      = image_tag User.admin.first.photo.present? ? User.admin.first.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= User.admin.first.name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      Congratulations! Your petition to graduate for the degree of
      = activity.user.taught_degree.name
      has been accepted. You'll be receiving a paper certificate within the week!
