.media
  %a.pull-left{:href => user_path(activity.subject.user)}
    .avatar
      = image_tag activity.subject.user.photo.present? ? activity.subject.user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= activity.subject.user_name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      = activity.subject.user_name
      has reserved a seat in your upcoming class for
      = link_to "#{activity.subject.availability.course_name}.", availabilities_path
