.media
  %a.pull-left{:href => user_path(User.admin.first)}
    .avatar
      = image_tag User.admin.first.photo.present? ? User.admin.first.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "media-object"
  .media-body
    %strong= User.admin.first.name
    %h5.media-heading
      %small
        = timeago_tag activity.created_at, :nojs => true, :limit => 10.days.ago
        ago
    %p
      A transfer in the amount of
      = number_to_currency(activity.subject.amount.to_f / 100)
      has been processed. It should be in your bank within 2 business days.
