.nested-fields
  .row
    .col-xs-10
      = f.input :course_id, collection: current_user.taught_degree.courses.approved, prompt: "Select course", label: false
    .col-xs-2
      = link_to_remove_association "remove", f
