:javascript
  $(function () {

      Highcharts.chart('availability-chart', {
          title: {
            text: '',
            style: {
                display: 'none'
            }
          },
          subtitle: {
            text: '',
            style: {
                display: 'none'
            }
          },
          chart: {
              type: 'heatmap',
              height: 500,
              marginTop: 40,
              marginBottom: 80,
              plotBorderWidth: 0,
              backgroundColor:'rgba(255, 255, 255, 0.1)'
          },

          xAxis: {
              categories: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
          },

          yAxis: {
              categories: ["23:00", "22:00", "21:00", "20:00", "19:00", "18:00", "17:00", "16:00", "15:00", "14:00", "13:00", "12:00", "11:00", "10:00", "09:00", "08:00", "07:00", "06:00", "05:00", "04:00", "03:00", "02:00", "01:00", "0:00"],
              title: null
          },

          yAxis: {
            reversed: true,
            title: null,
            labels: {
              formatter: function () {
                if (this.value < 13 ) {
                  return this.value + ":00 AM";
                  } else {
                    return (this.value - 12) + ":00 PM";
                  }
              }
            }
          },

          colorAxis: {
              min: 0,
              minColor: '#FFFFFF',
              maxColor: '#D8C1AB'
          },

          legend: {
              align: 'right',
              layout: 'vertical',
              margin: 0,
              verticalAlign: 'top',
              y: 25,
              symbolHeight: 280
          },

          tooltip: {
              formatter: function () {
                if (this.point.y < 13 ) {
                  return '<b>' + this.point.value + '</b> available on <br><b>' + this.series.xAxis.categories[this.point.x] + '</b> at <br><b>' + this.point.y + ":00 AM #{Time.current.zone}</b>";
                  } else {
                    return '<b>' + this.point.value + '</b> available on <br><b>' + this.series.xAxis.categories[this.point.x] + '</b> at <br><b>' + (this.point.y - 12) + ":00 PM #{Time.current.zone}</b>";
                }
              }
          },
          plotOptions: {
             series: {
                shadow: false
             },
             candlestick: {
                lineColor: '#D8C1AB'
             },
             map: {
                shadow: false
             }
          },
          credits: {
            enabled: false
          },

          series: [{
              name: 'Sales per employee',
              borderWidth: 1,
              // day, hour, count
              data: #{h(availability.users_grid(Time.current.zone))},
              dataLabels: {
                  enabled: true,
                  color: '#000000'
              }
          }]

      });
  });
