%h3 Pending Courses
- if current_user.availabilities.any?
  .table-responsive
    %table.table
      %thead
        %tr
          %th.text-center #
          %th Name
          %th.text-right Reserved seats
          %th
      %tbody
        = render current_user.availabilities.order('created_at asc')
- else
  .empty-card
    %h5 No Active courses
