%tr
  %td.text-center= availability.id
  %td= availability.course_name
  %td.text-right= availability.reservations.count
  %td.text-right
    = link_to 'remove', availability_path(availability), method: :delete, data: { confirm: "Are you sure you want to delete this course availability?"}, class: 'btn btn-sm btn-warning'
    = link_to 'build', availabilities_path, class: 'btn btn-sm btn-primary'
