.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12.m-b-50
      = render 'layouts/breadcrumbs'
      = render 'layouts/notifications'
      .row
        .col-xs-12
          = simple_form_for current_user, validate: true, html: { method: :patch, multipart: true } do |f|
            .card
              .content
                .row
                  .col-lg-12
                    = render 'shared/error_messages', object: f.object
                    %h4 Select courses you are available to teach
                    %p After completing your first course, you are eligible to propose a new course.
                    #availabilities
                      = f.simple_fields_for :availabilities do |availability|
                        = render 'availabilities/availability_fields', f: availability
                      .links
                        = link_to_add_association 'add course', f, :availabilities, class: 'btn btn-default btn-fill', partial: 'availabilities/availability_fields'
            .row
              .col-xs-12.m-b-50
                = f.submit "Update", class: 'btn btn-primary btn-fill btn-block'
