.container.dashboard
  .row.m-t-50
    = render 'layouts/sidebar'
    .col-md-9.col-sm-9.col-xs-12.m-b-50
      = render 'layouts/breadcrumbs'
      %h4 Student & Professor Availability
      #availability-chart
      %p.m-t-0 If possible, select times when the largest number of students are available. The higher the number of students that are available in the hourly slot, the less likely they are to unenroll from the course due to a scheduling conflict.
      = simple_form_for @availability, html: {multipart: true} do |f|
        = render 'shared/error_messages', object: f.object
        = f.simple_fields_for :instances, (f.object.instances.build) do |i|
          = i.hidden_field :user_id, value: current_user.id
          = i.hidden_field :course_id, value: @availability.course_id
          %hr
          %h4 Course Schedule
          = i.simple_fields_for :schedule, i.object.build_schedule do |s|
            .row
              .col-md-4
                = s.input :start_date, as: :string, input_html: { class: 'border-input datepicker'}
              .col-md-4
                = i.input :syllabus, as: :file
            .row
              .col-md-6
                = s.input :day_1, collection: Slot.days.keys.map { |d| [d.humanize, d] }
              .col-md-6
                = s.label "Time 1"
                .input-group.clockpicker
                  = s.text_field :time_1,  class: 'form-control'
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-time
            .row
              .col-md-6
                = s.input :day_2, collection: Slot.days.keys.map { |d| [d.humanize, d] }
              .col-md-6
                = s.label "Time 2"
                .input-group.clockpicker
                  = s.text_field :time_2,  class: 'form-control'
                  %span.input-group-addon
                    %span.glyphicon.glyphicon-time
          %hr
          %h4 Course Students
          %table.table
            %thead
              %td Student
              %td Taken Prereqs
              %td.text-right Remove
            %tbody
              - @availability.reservations.each do |reservation|
                = i.simple_fields_for :enrollments, (i.object.enrollments.build) do |e|
                  = render 'enrollments/enrollment_fields', f: e, reservation: reservation

        = f.submit "Launch Course", class: 'btn btn-default btn-block btn-fill'

= render partial: 'availabilities/availabilities_chart', locals: { availability: @availability }
