%link{href: image_url("favicons/apple-touch-icon-57x57.png"), rel: "apple-touch-icon-precomposed", sizes: "57x57"}/
%link{href: image_url("favicons/apple-touch-icon-114x114.png"), rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
%link{href: image_url("favicons/apple-touch-icon-72x72.png"), rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
%link{href: image_url("favicons/apple-touch-icon-144x144.png"), rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
%link{href: image_url("favicons/apple-touch-icon-60x60.png"), rel: "apple-touch-icon-precomposed", sizes: "60x60"}/
%link{href: image_url("favicons/apple-touch-icon-120x120.png"), rel: "apple-touch-icon-precomposed", sizes: "120x120"}/
%link{href: image_url("favicons/apple-touch-icon-76x76.png"), rel: "apple-touch-icon-precomposed", sizes: "76x76"}/
%link{href: image_url("favicons/apple-touch-icon-152x152.png"), rel: "apple-touch-icon-precomposed", sizes: "152x152"}/
%link{href: image_url("favicons/favicon-196x196.png"), rel: "icon", sizes: "196x196", type: "image/png"}/
%link{href: image_url("favicons/favicon-96x96.png"), rel: "icon", sizes: "96x96", type: "image/png"}/
%link{href: image_url("favicons/favicon-32x32.png"), rel: "icon", sizes: "32x32", type: "image/png"}/
%link{href: image_url("favicons/favicon-16x16.png"), rel: "icon", sizes: "16x16", type: "image/png"}/
%link{href: image_url("favicons/favicon-128.png"), rel: "icon", sizes: "128x128", type: "image/png"}/
%meta{content: "Brasden", name: "application-name"}/
%meta{content: "#FFFFFF", name: "msapplication-TileColor"}/
%meta{content: image_url("favicons/mstile-144x144.png"), name: "msapplication-TileImage"}/
%meta{content: image_url("favicons/mstile-70x70.png"), name: "msapplication-square70x70logo"}/
%meta{content: image_url("favicons/mstile-150x150.png"), name: "msapplication-square150x150logo"}/
%meta{content: image_url("favicons/mstile-310x150.png"), name: "msapplication-wide310x150logo"}/
%meta{content: image_url("favicons/mstile-310x310.png"), name: "msapplication-square310x310logo"}/
