%footer.footer.footer-black.footer-big
  .container
    .row
      .col-md-2.text-center.col-sm-3.col-xs-12
        %h4 Brasden
      .col-md-9.col-md-offset-1.col-sm-9.col-xs-12
        .row
          .col-md-3.col-sm-3.col-xs-6
            .links
              %ul.uppercase-links.stacked-links
                %li
                  %a{:href => root_path}
                    Home
                %li
                  %a{:href => about_path}
                    About
                %li
                  %a{:href => faq_path}
                    FAQ
          .col-md-3.col-sm-3.col-xs-6
            .links
              %ul.uppercase-links.stacked-links
                %li
                  %a{:href => divisions_path}
                    Divisions
                %li
                  %a{:href => "#"}
                    Faculty
                %li
                  %a{:href => tuition_path}
                    Tuition

          .col-md-3.col-sm-3.col-xs-6
            .links
              %ul.uppercase-links.stacked-links
                %li
                  %a{:href => blog_path}
                    Blog
                %li
                  %a{:href => academics_path}
                    Academics
                %li
                  %a{:href => new_contact_path}
                    Impressum
          .col-md-3.col-sm-3.col-xs-6
            .links
              %ul.stacked-links
                %li
                  %h4
                    1,723
                    %br/
                    %small students
                %li
                  %h4
                    234
                    %br/
                    %small professors
        %hr/
        .copyright
          .pull-left
            © 2016 Brasden Inc • Brasden, Switzerland
          .links.pull-right
            %ul
              %li
                %a{:href => terms_path}
                  Terms of Service
              |
              %li
                %a{:href => privacy_path}
                  Privacy
