%nav.navbar{:role => "navigation-demo", class: full_page? ? 'navbar-ct-transparent navbar-fixed-top register-navbar' : 'navbar-default', id: full_page? ? 'register-navbar' : nil}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigation-example-2", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-left{:href => root_path}
        = image_tag 'logo.svg', height: 35
      %a.navbar-brand{:href => root_path}
        Brasden
    #navigation-example-2.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a{:href => authenticated_root_path }
              Dashboard
          %li
            %a.btn.btn-icon.btn-sm.btn-fill{:href => conversations_path}
              %i.fa.fa-envelope
            - if current_user.unread_inbox_count > 0
              %span.label.label-danger.notification-bubble= current_user.unread_inbox_count
          %li.dropdown
            %a.profile-photo.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              .profile-photo-small
                = image_tag current_user.photo.present? ? current_user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: "img-circle img-responsive img-no-padding"
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a{:href => authenticated_root_path} My Courses
              %li
                %a{:href => slots_path} Availability
              - if current_user.student?
                %li
                  %a{:href => reservations_path} Register
                %li
                  %a{:href => charges_path} Receipts
                %li
                  %a{:href => enrollments_path} Transcript
              - elsif current_user.professor?
                %li
                  %a{:href => availabilities_path} Teachable Courses
                %li
                  %a{:href => courses_path} Proposals
                %li
                  %a{:href => transfers_path} Transfers
              %li
                %a{:href => edit_user_registration_path} Edit Profile
              %li.divider
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          %li
            %a.btn.btn-simple{:href => new_user_session_path} Log in
