- flash.each do |key, value|
  %div{class: "#{flash_class(key)}"}
    .container
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
        %span{"aria-hidden" => "true"} ×
      .span
        = value
