.col-md-3.col-sm-6.col-xs-12
  .card.card-user
    .image
      = image_tag 'mandala.jpg'
    .content
      .author
        = link_to user_path(current_user) do
          = image_tag current_user.photo.present? ? current_user.photo.url(:thumb) : 'defaults/photos_default.jpg', class: 'avatar border-white'
        = link_to authenticated_root_path do
          %h4.title My Courses
        = link_to slots_path do
          %h4.title Availability
        - if current_user.student?
          = link_to reservations_path do
            %h4.title Registration
          = link_to charges_path do
            %h4.title Receipts
          = link_to enrollments_path do
            %h4.title Transcript
        - else
          = link_to  availabilities_path do
            %h4.title Enrollable Courses
          = link_to  courses_path do
            %h4.title Proposals
          = link_to transfers_path do
            %h4.title Transfers
