!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "gZ-QB8ufwHjV3HRgCDBWiG32CXAdjZW_hFssaaV4E2", :name => "_globalsign-domain-verification"}/
    %title= page_title
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    = render 'layouts/favicons'
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js", :type => "text/javascript"}
    = yield :certificate_fonts
    = yield :facebook_meta
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}
    = javascript_tag "Stripe.publishableKey = '#{ENV['STRIPE_PUBLISHABLE_KEY']}';"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/tracking' if Rails.env.production?
  %body{ class: full_page? ? 'full-screen register' : nil}
    = render 'layouts/navigation'
    = yield
    = render 'layouts/footer' unless full_page?
