!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    :css
      /* CLIENT-SPECIFIC STYLES */
      #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
      .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
      body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
      img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

      /* RESET STYLES */
      body{margin:0; padding:0;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table{border-collapse:collapse !important;}
      body{height:100% !important; margin:0; padding:0; width:100% !important;}

      /* iOS BLUE LINKS */
      .appleBody a {color:#68440a; text-decoration: none;}
      .appleFooter a {color:#999999; text-decoration: none;}

      /* MOBILE STYLES */
      @media screen and (max-width: 525px) {

          /* ALLOWS FOR FLUID TABLES */
          table[class="wrapper"]{
            width:100% !important;
          }

          /* ADJUSTS LAYOUT OF LOGO IMAGE */
          td[class="logo"]{
            text-align: left;
            padding: 20px 0 20px 0 !important;
          }

          td[class="logo"] img{
            margin:0 auto!important;
          }

          /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
          td[class="mobile-hide"]{
            display:none;}

          img[class="mobile-hide"]{
            display: none !important;
          }

          img[class="img-max"]{
            max-width: 100% !important;
            height:auto !important;
          }

          /* FULL-WIDTH TABLES */
          table[class="responsive-table"]{
            width:100%!important;
          }

          /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
          td[class="padding"]{
            padding: 10px 5% 15px 5% !important;
          }

          td[class="padding-copy"]{
            padding: 10px 5% 10px 5% !important;
            text-align: center;
          }

          td[class="padding-meta"]{
            padding: 30px 5% 0px 5% !important;
            text-align: center;
          }

          td[class="no-pad"]{
            padding: 0 0 20px 0 !important;
          }

          td[class="no-padding"]{
            padding: 0 !important;
          }

          td[class="section-padding"]{
            padding: 50px 15px 50px 15px !important;
          }

          td[class="section-padding-bottom-image"]{
            padding: 50px 15px 0 15px !important;
          }

          /* ADJUST BUTTONS ON MOBILE */
          td[class="mobile-wrapper"]{
              padding: 10px 5% 15px 5% !important;
          }

          table[class="mobile-button-container"]{
              margin:0 auto;
              width:100% !important;
          }

          a[class="mobile-button"]{
              width:80% !important;
              padding: 15px !important;
              border: 0 !important;
              font-size: 16px !important;
          }

      }
  %body{:style => "margin: 0; padding: 0;"}
    / HEADER
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:bgcolor => "#ffffff"}
          %div{:align => "center", :style => "padding: 0px 15px 0px 15px;"}
            %table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
              / LOGO/PREHEADER TEXT
              %tr
                %td.logo{:style => "padding: 20px 0px 30px 0px;"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "left", :bgcolor => "#ffffff", :width => "100"}
                        %a{:href => "https://www.brasden.ch", :target => "_blank"}
                          %img{:alt => "Logo", :border => "0", :height => "78", :src => "https://s3-us-west-1.amazonaws.com/octad/logo.png", :style => "display: block; font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 16px;", :width => "52"}/
                      %td.mobile-hide{:align => "right", :bgcolor => "#ffffff", :width => "400"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tr
                            %td{:align => "right", :style => "padding: 0 0 5px 0; font-size: 14px; font-family: Arial, sans-serif; color: #666666; text-decoration: none;"}
                              %span{:style => "color: #666666; text-decoration: none;"}
                                The College of Brasden - a learning institution.
    / ONE COLUMN SECTION
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.section-padding{:align => "center", :bgcolor => "#f8f8f8", :style => "padding: 70px 15px 70px 15px;"}
          %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
            %tr
              %td
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        - if @heading_copy
                          %tr
                            %td.padding-copy{:align => "center", :style => "font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;"}
                              = @heading_copy
                        - else
                          %tr
                            %td.padding-copy{:align => "left", :style => "padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"}
                              = yield
                    = yield :cta_section
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:align => "center", :bgcolor => "#ffffff"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:style => "padding: 20px 0px 20px 0px;"}
                %table.responsive-table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "500"}
                  %tr
                    %td{:align => "center", :style => "font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;", :valign => "middle"}
                      %span.appleFooter{:style => "color:#666666;"} 1234 Main Street, Anywhere, MA 01234, USA
